<template>
  <div id="accommodationinner">  
    <helmet-provider>
      <div>
          <helmet>
              <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
              <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
          </helmet>
      </div>
    </helmet-provider>
    <div v-for="(cover,index) in accommodationinner" :key="index+6">
      <vue-headful
            :title="cover.Meta_title"
            :description="cover.Meta_description"
            :keywords="cover.Meta_keywords"
            :image="cover.Meta_image.path"
            v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
      <div v-if="cover.Image" class="cover-header" :aria-label="cover.Image.title" :style="{ 'background-image': 'url('+ uploadurl + cover.Image.path + ')' }">
        <!-- <app-header :lang = "language" ></app-header> -->
          <div class="position-absolute" id="CoverTextContainer">
            <h1 class="cover-title text-center position-static ">{{ cover.Title }}</h1>
          <!-- </div>
          <div> -->
            <h2 class="subtite-cover  text-center position-static pt-4">{{ cover.Subtitle }}</h2>
          </div>
      </div>
      
      <search-form-accomodation></search-form-accomodation>
      
      <b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex flex-wrap" >
          <i class="fas fa-home padding-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
              <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
            </span>
            <span class="icons-display-flex" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <i class="fas fa-chevron-right padding-left-right-20"></i>
              <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
                <h6 itemprop="name" class="uppercase">{{lokalize.accommodation_breadcrumb}}</h6>
              </router-link>
          </span>
          <span class="icons-display-flex" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <i class="fas fa-chevron-right padding-left-right-20"></i>
              <h6 itemprop="name" class="uppercase" v-if="cover.Title">{{cover.Title}}</h6>
          </span>
        </div>
      </b-container>
    </div> 
      <b-container class="pt-0 pt-sm-4 mt-0 mt-sm-2 px-0 px-sm-3">
        <div v-if="accommodationinner.Image" class="cover-header" :style="{ 'background-image': uploadurl + accommodationinner.Image.path + ')' }">
          <h1 class="cover-title text-center">{{ item.Title }}</h1>
        </div>
        <br>
          <b-row v-for="(item,index) in accommodationinner" :key="index">    
            <b-col xl="12" class="padding-right-none padding-right-mobile padding-right-mobile-15" >
              <b-carousel
                      id="carousel-10"
                      controls
                      indicators
                      background="#ababab"
                      img-width="1024"
                      img-height="400"
                      style="text-shadow: 1px 1px 2px #333;">
                <b-carousel-slide
                        v-for="(image,index) in item.Gallery" 
                        :key="index+1" 
                        id="yastrebets"
                        v-show="image.path"
                        :img-alt="image.meta.title"
                        :img-src="cockpiturl + image.path">
                </b-carousel-slide>
              </b-carousel>
            </b-col>   
            <b-col xl="12" lg="12" md="12" sm="12"  class="pt-5 mt-0 mt-sm-4 icons-display-flex-mobile text-center padding-left-70 justify-content-center">
              <div v-for="(iconsimage,index) in item.Icons" :key="index+2" class="square padding-bottom-30 accommodation-icons-padding margin-left-right-mobile-0  col-xl-2 col-lg-2 col-md-12 col-sm-12 padding-top-30">
                <b-img class="svg-size-accommodationinner svg-gold" :alt="iconsimage.meta.title" v-if="iconsimage.path" :src="cockpiturl + iconsimage.path"></b-img>
                  <h4 v-if="iconsimage.meta.description" class="text-center padding-top-20" style="font-size:20px; font-weight: 400;">{{iconsimage.meta.description}}</h4>
              </div>
            </b-col>
            <b-col xl="12" class="mt- mt-sm-4 pt-5">
              <b-tabs align="center" class="title-accommodationinner">
                <b-col xl="10" offset-xl="1" class="margin-top-25">
                  <b-tab :title="lokalize.accommodation" active v-html="item.Full_description" >
                      <p>{{item.Full_description}}</p>
                  </b-tab>
            </b-col>
              <b-tab title="/" disabled></b-tab>
                <b-col xl="10" class="icons-display-flex">
                  <b-tab :title="lokalize.amenities"  class="">
                    <b-row>
                      <b-col xl="3" lg="3" md="3" sm="3" class="margin-bottom-35 d-flex align-items-center" v-for="(icons,index) in item.Amenities" :key="index+4">
                        <b-img class=" svg-size-accommodation svg-gold" :alt="icons.meta.title" v-if="icons.path" :src="cockpiturl + icons.path"></b-img>
                          <span class="padding-left-20 text-left accommodation-amenities" v-if="icons.meta.description">{{icons.meta.description}}</span>  
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-col>
              </b-tabs>
  
              <a :href="'/' + lang + '/booking/?room-type=' + accommodationinner[0].tl_id" class="btn-booking -room">{{lokalize.book_now_button}}</a>
            </b-col>
          </b-row> 
          <b-row>
            <b-col xl="12" class=" text-center pb-3 pb-md-5">
              <h2 class="subtitte " v-if="lokalize.more">{{lokalize.more}}</h2>
                <h1 class="title" v-if="lokalize.accommodation">{{lokalize.accommodation}}</h1>
            </b-col>
          </b-row>
          <b-row class="col-xl-12 col-lg-12 col-md-12 col-sm-12  margin-bottom-200  margin-bottom-mobile-70 margin-left-right-mobile-0">
            <b-col xl="4" lg="4" md="12" xs="12" class="see-also-home  no-padding border-white  margin-bottom-80-mobile" v-for="(item5,index) in randomNumber()" v-show="item5" :key="index+10">
             <div class="see-also-home" v-for="(nav,index) in navigationtitles" :key="index+8" v-show="nav.Module_name == 'accommodation'">
                <router-link v-if="nav.Module_name == 'accommodation' && item5 && lang" :to="'/' + lang  + '/'+ nav.Alias_slug + '/' + item5.Alias_slug" >
                  <b-img class="see-also-picture see-also-picture-mobile"
                        v-if="item5.Image" 
                        :src="uploadurl + item5.Image.path" 
                        :alt="item5.Image.title"
                        fluid>
                    </b-img>
                    <div class="view-more-button" >
                    <h1 class="see-also-title mt-4 margin-left-30 margin-bottom-30">{{item5.Title}}</h1>
                    <h4 class="margin-left-30 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                    </div>
                </router-link>
                <router-link v-else-if="nav.Module_name == 'accommodation' && item5 " :to="'/' + $parent.lang  + '/'+ nav.Alias_slug + '/' + item5.Alias_slug" >
                  <b-img class="see-also-picture see-also-picture-mobile"
                        v-if="item5.Image" 
                        :src="uploadurl + item5.Image.path" 
                        :alt="item5.Image.title"
                        fluid>
                    </b-img>
                    <div class="view-more-button" >
                    <h1 class="see-also-title mt-4 argin-left-30 margin-bottom-30">{{item5.Title}}</h1>
                    <h4 class="margin-left-30 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                    </div>
                </router-link>
             </div> 
            </b-col>
          </b-row>
       </b-container>         
  </div>
</template>

<script>

import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
// import HeaderMenu from './HeaderMenu.vue'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import SearchFormAccomodation from './SearchFormAccomodation.vue'

export default {
  props: ['lang'],
  name: 'accommodationinner',
  components: {
    HelmetProvider, Helmet,
    // 'app-header': HeaderMenu,
    SearchFormAccomodation
  },
    data: function () {
      return {
        accommodationinner: [],
        accommodationall: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        navigationtitles: [],
        tabIndex: 0,
        randomoffer: [],
        lokalize: [],
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        breadcrumb: this.$route.params.lang,
        language: this.$route.params.lang,
        roomAlias:'',
        aliasfirst: this.$route.params.aliasfirst,
    }
  },
  methods:{
    randomNumber : function(){
      var shuffled = this.randomoffer
      .filter(r => r.Alias_slug != this.roomAlias)
      .map(x => { return {data: x, srt: Math.random()}})
      .sort((a,b) => {return a.srt - b.srt})
      .map(x => x.data);
      var reti = [];
      reti.push(shuffled[0]);
      reti.push(shuffled[1]);
      reti.push(shuffled[2]);
      return reti;
    }  
  },
  mounted: function() {
    fetch( apiUrl + '/api/collections/get/accommodation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
      method: 'post',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        filter: {Alias_slug:this.$route.params.alias}
            })
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.accommodationinner = jsonData.entries
  
            console.log(jsonData)

          }),
    
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {
          

            this.navigationtitles = jsonData.entries
          }), 
              
    fetch( apiUrl + '/api/collections/get/accommodation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.randomoffer = jsonData.entries

          }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        }, 
  
    created: function(){

        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.metaUrl = currentUrl;
        this.roomAlias = currentUrl.split("/").slice(-1)[0]
      }
}
</script>

<style>
  #CoverTextContainer {
    top: 43%;
    left: 0px;
    right: 0px;
  }
</style>