<template>
    <div id="accommodationlist">
        <helmet-provider>
            <div>
                <helmet>
                    <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                    <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
                </helmet>
            </div>
        </helmet-provider>
        <span v-for="(meta,index) in navigationtitles" :key="index+8">
            <vue-headful
                    v-if="meta.Alias == alias"
                    :title="meta.Meta_title"
                    :description="meta.Meta_description"
                    :keywords="meta.Meta_keywords"
                    :image="meta.Meta_image.path"
                    v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                    :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                    :ogLocale="breadcrumb"
                    :url="metaUrl" 
                />
        <span v-else></span>
        </span>
        <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex">
            <i class="fas fa-home padding-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
                <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}" >
                <h6 class="breadcrumb-color-up" itemprop="name">{{lokalize.home}}</h6>
                </router-link>
            </span>
            <span class="icons-display-flex" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
                <i class="fas fa-chevron-right padding-left-right-20"></i>
                <h6 class="uppercase" itemprop="name">{{lokalize.accommodation_breadcrumb}}</h6>
            </span>
        </div>
        </b-container>
        <b-container class="mt-3 mt-md-5 pt-5 px-0 px-sm-3">
        <div v-for="(title,index) in navigationtitles" :key="index+7" >
            <b-col xl="8" offset-xl="2" class="mb-0 mb-md-5 pb-2 mb-sm-5 text-center" v-if="title.Alias == alias">
            <h2 class="subtitte ">{{title.Subtitle_page}}</h2>
            <h1 class="title">{{title.Title_page}}</h1>
            <p class="pt-3" v-html="title.Descr_page">{{title.Descr_page}}</p>
            </b-col>
        </div>
        <br>
            <div v-for="(item,index) in accommodationlist" :key="index">
            <b-col sm="12" lg="12" xl="12" md="12" class=" accommodation-image-line padding-left-none-mobile accommodation-image-line-mobile margin-bottom-100 margin-bottom-40-mobile" v-if="index % 2==0">
                <b-col xl="7" lg="12" sm="12" md="12" class="padding-right-none no-padding-left-right-mobile padding-left-mobile-none img-hover-zoom" style="height: 437px;" >
                <div v-for="(nav,index) in navigationtitles" :key="index+9">
                    <router-link  v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug">
                    <b-img v-if="item.Image" 
                            class="accommodation-image image-crop-responsive accommodation-image-mobile zoom "
                            :src="uploadurl + item.Image.path" 
                            :alt="item.Image.title"
                            fluid>
                    </b-img>
                    </router-link>
                    <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug">
                    <b-img v-if="item.Image" 
                            class="accommodation-image image-crop-responsive accommodation-image-mobile zoom "
                            :src="uploadurl + item.Image.path" 
                            :alt="item.Image.title"
                            fluid>
                    </b-img>
                    </router-link>
                </div>
            </b-col>
            <b-col xl="5" lg="12" sm="12" md="12" class="padding-top-20px-mobile-1201 padding-accommodation padding-accommodation-mobile" 
                            v-if="item.Title && 
                            item.Subtitle && 
                            item.Short_description">
                <div v-for="(nav,index) in navigationtitles" :key="index+10" >
                    <router-link v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                    <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                </div>
                    <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
                    <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
                    <b-col sm="12" lg="12" xl="12" md="12" class="icons-display-flex padding-left-none icons-border-top">
                    <b-col xl="6" class="padding-left-none d-flex align-items-center">
                        <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[0].meta.title" v-if="item.Icons[0]" :src="cockpiturl + item.Icons[0].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text line-height-normal">{{item.Icons[0].meta.description}}</span>
                    </b-col>
                    <b-col xl="6" class="d-flex align-items-center">
                        <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[1].meta.title" v-if="item.Icons[1]" :src="cockpiturl + item.Icons[1].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text line-height-normal">{{item.Icons[1].meta.description}}</span>
                    </b-col>
                    </b-col>
                    <b-col xl="12" class="icons-display-flex padding-left-none icons-border-bottom">
                    <b-col xl="6" class="padding-left-none d-flex align-items-center">
                        <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[2].meta.title"  v-if="item.Icons[2]" :src="cockpiturl + item.Icons[2].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text line-height-normal">{{item.Icons[2].meta.description}}</span>
                    </b-col>
                    <b-col xl="6" class="d-flex align-items-center">
                        <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[3].meta.title" v-if="item.Icons[3]" :src="cockpiturl + item.Icons[3].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text line-height-normal">{{item.Icons[3].meta.description}}</span>
                    </b-col>
                    </b-col>
                    <b-col xl="12" class="padding-left-none margin-top-25 text-center text-sm-left">
                    <div v-for="(nav,index) in navigationtitles"  :key="index+11">
                        <router-link  v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.room_detail_button}} <i class="fas fa-arrow-right"></i>
                        </router-link>
                        <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.room_detail_button}} <i class="fas fa-arrow-right"></i>
                        </router-link>
                    </div>
                    </b-col>
                </b-col>           
            </b-col>
            <b-col sm="12" lg="12" xl="12" md="12" class="row  accommodation-image-line margin-bottom-100 margin-bottom-40-mobile" v-else>
                <b-col id="second" xl="5" lg="12" sm="12" md="12" class="padding-top-20px-mobile-1201 pr-0 pr-md-5 padding-left-none padding-accommodation-mobile" 
                            v-if="item.Title && 
                            item.Subtitle && 
                            item.Short_description">
                <div v-for="(nav,index) in navigationtitles" :key="index+12">
                    <router-link   v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                    <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                </div>
                    <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
                    <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
                <b-col xl="12" class="icons-display-flex padding-left-none icons-border-top">
                    <b-col xl="6" class="padding-left-none">
                    <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[0].meta.title"  v-if="item.Icons[0]" :src="cockpiturl + item.Icons[0].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text">{{item.Icons[0].meta.description}}</span>
                </b-col>
                <b-col xl="6" >
                    <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[1].meta.title" v-if="item.Icons[1]" :src="cockpiturl + item.Icons[1].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text">{{item.Icons[1].meta.description}}</span>
                    </b-col>
                </b-col>
                <b-col xl="12" class="icons-display-flex padding-left-none icons-border-bottom">
                    <b-col xl="6" class="padding-left-none">
                    <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[2].meta.title" v-if="item.Icons[2]" :src="cockpiturl + item.Icons[2].path"></b-img>
                        <span v-if="item.Icons_text"  class="icons-text">{{item.Icons[2].meta.description}}</span>
                    </b-col>
                    <b-col xl="6">
                        <b-img class="svg-size-accommodation svg-gold" :alt="item.Icons[3].meta.title" v-if="item.Icons[3]" :src="cockpiturl + item.Icons[3].path"></b-img>
                            <span v-if="item.Icons_text"  class="icons-text">{{item.Icons[3].meta.description}}</span>
                    </b-col>
                </b-col>
                <b-col xl="12" class="padding-left-none margin-top-25 text-center text-sm-left">
                    <div v-for="(nav,index) in navigationtitles" :key="index+13">
                    <router-link v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.room_detail_button}} <i class="fas fa-arrow-right"></i></router-link>
                    <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.room_detail_button}} <i class="fas fa-arrow-right"></i></router-link>
                    </div>
                </b-col> 
                </b-col>
                <b-col id="first" xl="7"  lg="12" sm="12" md="12" class="padding-right-none no-padding-left-right-mobile margin-top-20-mobile padding-left-mobile-none img-hover-zoom  " style="height: 437px;">
                    <div v-for="(nav,index) in navigationtitles" :key="index+14" >
                    <router-link v-if="nav.Module_name == 'accommodation' && lang" :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug">
                        <b-img  v-if="item.Image" 
                                :alt="item.Image.title"
                                class="accommodation-image image-crop-responsive accommodation-image-mobile zoom "
                                :src="uploadurl + item.Image.path" 
                                fluid>
                        </b-img>
                    </router-link>
                    <router-link v-else-if="nav.Module_name == 'accommodation'" :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug">
                        <b-img  v-if="item.Image" 
                                :alt="item.Image.title"
                                class="accommodation-image image-crop-responsive accommodation-image-mobile zoom "
                                :src="uploadurl + item.Image.path" 
                                fluid>
                        </b-img>
                    </router-link>
                    </div>
                </b-col>          
            </b-col>
            </div>        
        </b-container>      
    </div>
</template>


<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  props: ['lang'],
  name: 'accommodationlist',
  components: {
    HelmetProvider, Helmet
  },
    data: function () {
      return {
        accommodationlist: [],
        lokalize: [],
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        navigationtitles: [],
        alias: this.$route.params.alias,
        breadcrumb: this.$route.params.lang,
        navModule: '',
    }
  },
  methods:{  
  },
  mounted: function() {
    
     fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
            })
            .then((response) => {
              return response.json()
            })
            .then((jsonData) => {

              this.navigationtitles = jsonData.entries
              jsonData.entries.map((item) => {
                if (item.Alias == this.$route.params.alias) {
                
                  this.navModule = item.Module_name
                  
                fetch( apiUrl + '/api/collections/get/'+this.navModule+'?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
                    method: 'get'
                  })
                  .then((response) => {
                    return response.json()
                  })
                  .then((jsonData) => {

                    this.accommodationlist = jsonData.entries

                  })
                }
              })
            }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/' + this.$route.params.lang + '?token=' + apiKey + '', {
            method: 'get'
            })
            .then((response) => {
              return response.json()
            })
            .then((jsonData) => {

              this.lokalize = jsonData

            })
          },

    
    created: function(){

        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.metaUrl = currentUrl;
      },
  
}
</script>

