<template>
  <div id="spainner">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
    <div v-for="(cover,index) in activitiesinner" :key="index">
      <vue-headful
            :title="cover.Meta_title"
            :description="cover.Meta_description"
            :keywords="cover.Meta_keywords"
            :image="cover.Meta_image.path"
            v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
      <div v-if="cover.Image" class="cover-header" :aria-label="cover.Image.title" :style="{ 'background-image': 'url('+ uploadurl + cover.Image.path + ')' }">
        <h1 class="cover-title text-center">{{ cover.Title }}</h1>
      </div>
      <b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex">
          <i class="fas fa-home padding-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}">
              <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
              </router-link>
        </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
              <h6 itemprop="name" class="uppercase">{{lokalize.activities_breadcrumb}}</h6>
            </router-link>
        </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name" class="uppercase" v-if="cover.Title">{{cover.Title}}</h6>
        </span>
        </div>
      </b-container>
      <b-container class="padding-top-50">
        <br>
          <div class="col-xl-12 no-padding-left-right" >
            <b-carousel
                      id="carousel-10"
                      controls
                      indicators
                      background="#ababab"
                      img-width="1024"
                      img-height="400"
                      style="text-shadow: 1px 1px 2px #333;">
              <b-carousel-slide v-for="(item1,index) in cover.Gallery" 
                                id="yastrebets"
                                :img-alt="item1.meta.title"
                                :key="index+1" 
                                v-show="item1.path"
                                :img-src="cockpiturl + item1.path">
              </b-carousel-slide>
            </b-carousel>
          </div>
          <b-row>  
            <b-col xl="12" class="padding-newsinner"
                    v-if="cover.Full_description && cover.Title
                    ">
              <h1 class="title-newsinner padding-bottom-20">{{cover.Title}}</h1>
              <span v-html="cover.Full_description" class="text-news">{{cover.Full_description}}</span>
            </b-col>
          </b-row> 
          <b-row class="padding-top-50 padding-bottom-90">
            <b-col xl="6" offset-xl="5" v-for="(item4,index) in cover.Attachment" :key="index+4">
              <a v-if="item4.value" :href="uploadurl + item4.value.File.path" target="_blank" class="btn-room" >{{item4.value.Button_text}}</a>
            </b-col>
          </b-row>  
      </b-container>  
    </div>     
  </div>
</template>


<script>


import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  name: 'activitiesinner',
  components: {
     HelmetProvider, Helmet
  },
    data: function () {
      return {
        activitiesinner: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        randomoffer: [],
        lokalize: [],
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        breadcrumb: this.$route.params.lang,
        typeActivity: '',
        aliasfirst: this.$route.params.aliasfirst,
    }
  },
  
  methods:{
  }, 
  mounted: function() {
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {
                
            this.navigationtitles = jsonData.entries
            jsonData.entries.map((item) => {

              if (item.Alias_slug == this.$route.params.aliasfirst) {

                this.typeActivity = item.Module_name
 
                fetch( apiUrl + '/api/collections/get/'+this.typeActivity+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                      filter: {Alias_slug:this.$route.params.alias}
                    })
                  })
                  .then((response) => {
                    return response.json()
                  })
                  .then((jsonData) => {

                    this.activitiesinner = jsonData.entries
              
                  })
              }
            })

          }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
   created: function(){

        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.metaUrl = currentUrl;
      

      }
  
}
</script>

