<template>
  <div id="activities">
     <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
     <span v-for="(meta,index) in navigationtitles" :key="index+9" >
       <div v-if="meta.Alias_slug == alias"></div>
        <vue-headful
                v-if="meta.Alias_slug == alias"
                :title="meta.Meta_title"
                :description="meta.Meta_description"
                :keywords="meta.Meta_keywords"
                :image="meta.Meta_image.path"
                v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl" 
            />
      <span v-else></span>
    </span> 
    <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
      <div class="icons-display-flex">
          <i class="fas fa-home padding-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
              <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
              </router-link>
            </span>
              <i class="fas fa-chevron-right padding-left-right-20"></i>
                <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
                  <h6 v-for="(meta,index) in navigationtitles" :key="index+8" v-show="meta.Alias_slug == alias" itemprop="name" class="uppercase">{{meta.Cover_Title}}</h6>
                </span>
      </div>
    </b-container>
    <b-container class="padding-top-100 margin-bottom-40">
      <div v-for="(title,index) in navigationtitles" :key="index+7" >
        <b-col xl="8" offset-xl="2" class="padding-bottom-100 text-center" v-if="title.Alias_slug == alias">
          <h2 class="subtitle-after-cover">{{title.Subtitle_page}}</h2>
          <h1 class="title-after-cover">{{title.Title_page}}</h1>
          <span class="pt-3" v-html="title.Descr_page" >{{title.Descr_page}}</span>
        </b-col>
      </div>
      <br>
        <div v-for="(item,index) in activities" :key="index">
          <b-col xl="12" lg="12" sm="12" md="12" class="offerlist-image-line padding-left-none-mobile accommodation-image-line-mobile margin-bottom-100 margin-bottom-40-mobile " v-if="index % 2==0">
            <b-col xl="8" lg="12" sm="12" md="12"  class="padding-right-none padding-left-mobile-none  img-hover-zoom" style="min-height: 437px;">
              <router-link v-if="lang" :to="'/' + lang + '/' + $route.params.alias +  '/'  + item.Alias_slug " class="link-offer">
                <b-img class="offerlist-image zoom" v-if="item.Image"  
                        style="object-fit: cover;"
                       :src="uploadurl + item.Image.path" 
                       :alt="item.Image.title"
                       fluid>
                </b-img>
              </router-link>
              <router-link v-else :to="'/' + $parent.lang + '/' + $route.params.alias +  '/'  + item.Alias_slug " class="link-offer">
                <b-img class="offerlist-image zoom" v-if="item.Image"  
                        style="object-fit: cover;"
                       :src="uploadurl + item.Image.path" 
                       :alt="item.Image.title"
                       fluid>
                </b-img>
              </router-link>
            </b-col>
            <b-col xl="4" lg="12" sm="12" md="12"  class="padding-top-20px-mobile-1201 padding-accommodation padding-accommodation-mobile" 
                    v-if="item.Title && 
                    item.Subtitle && 
                    item.Short_description">
              <router-link v-if="lang" :to="'/' + lang + '/'  + $route.params.alias +  '/' + item.Alias_slug" class="link-offer">
                <h1 class="title-accommodation">{{item.Title}}</h1>
              </router-link>
              <router-link v-else :to="'/' + $parent.lang + '/'  + $route.params.alias +  '/' + item.Alias_slug" class="link-offer">
                <h1 class="title-accommodation">{{item.Title}}</h1>
              </router-link>
                <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
                  <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
                    <b-col xl="12" class="padding-left-none margin-top-25 adding-bottom-20-mobile">
                      <router-link v-if="lang" :to="'/' + lang + '/'  + $route.params.alias +  '/'  + item.Alias_slug " class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                      <router-link v-else :to="'/' + $parent.lang + '/'  + $route.params.alias +  '/'  + item.Alias_slug " class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                    </b-col>
            </b-col>            
          </b-col>
            <b-col sm="12" lg="12" xl="12" md="12" class=" row accommodation-image-line padding-bottom-90 padding-bottom-30-mobile" v-else>
              <b-col id="second" xl="4" lg="12" sm="12" md="12" class=" padding-top-20px-mobile-1201 padding-top-20px-mobile padding-accommodation-right  padding-left-none" 
                            v-if="item.Title && 
                            item.Subtitle && 
                            item.Short_description">
                <router-link v-if="lang" :to="'/' + lang + '/' + $route.params.alias +  '/' + item.Alias_slug" class="link-offer">
                  <h1 class="title-accommodation">{{item.Title}}</h1>
                </router-link>
                <router-link v-else :to="'/' + $parent.lang + '/' + $route.params.alias +  '/' + item.Alias_slug" class="link-offer">
                  <h1 class="title-accommodation">{{item.Title}}</h1>
                </router-link>
                  <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
                    <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
                <b-col xl="12" class="padding-left-none margin-top-25 padding-bottom-20-mobile">
                    <router-link v-if="lang" :to="'/' + lang + '/' + $route.params.alias +  '/'  + item.Alias_slug  " class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                    <router-link v-else :to="'/' + $parent.lang + '/' + $route.params.alias +  '/'  + item.Alias_slug  " class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                </b-col>
              </b-col>  
              <b-col id="first" xl="8" lg="12" sm="12" md="12" class="padding-right-none img-hover-zoom" style="min-height: 437px;" >
                <router-link v-if="lang" :to="'/' + lang + '/' + $route.params.alias +  '/'  + item.Alias_slug " class="link-offer">
                  <b-img v-if="item.Image" 
                        class="offerlist-image zoom"
                        style="object-fit: cover;"
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                  </b-img>
                </router-link>
                <router-link v-else :to="'/' + $parent.lang + '/' + $route.params.alias +  '/'  + item.Alias_slug " class="link-offer">
                  <b-img v-if="item.Image" 
                        class="offerlist-image zoom"
                        style="object-fit: cover;"
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                  </b-img>
                </router-link>
              </b-col>        
          </b-col>
        </div>        
    </b-container>      
  </div>
</template>


<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js';
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  props:['lang'],
  name: 'activities',
  components: {
    HelmetProvider, Helmet
  },
    data: function () {
      return {
        activities: [],
        lokalize: [],
        home: [],
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        navigationtitles: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        alias: this.$route.params.alias,
        breadcrumb: this.$route.params.lang,
        navModule: '',
    }
  },
  methods:{  
  },
  mounted: function() {
    
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {
                
            this.navigationtitles = jsonData.entries
            jsonData.entries.map((item) => {
              if (item.Alias_slug == this.$route.params.alias) {
              
                this.navModule = item.Module_name
                
                fetch( apiUrl + '/api/collections/get/'+this.navModule+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                  method: 'get'
                })
                .then((response) => {
                  return response.json()
                })
                .then((jsonData) => {
                  this.activities = jsonData.entries

                })
                }
            })

          }),
     fetch( apiUrl + '/api/singletons/get/home?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.home = jsonData

          }),
     fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
         
    created: function(){

        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.metaUrl = currentUrl;

      },
  
}
</script>

