<template>
	<div class="tl-booking-container">
		<b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
			<div class="icons-display-flex flex-wrap">
				<i class="fas fa-home padding-right-20"></i>
				<span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
           </span>
				<i class="fas fa-chevron-right padding-left-right-20"></i>
				<span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name" class="uppercase" v-if="cover_title">{{lokalize.booking}}</h6>
           </span>
			</div>
		</b-container>
		
		<div id='tl-booking-form'>&nbsp;</div>
	</div>
</template>

<script>
	
	import {apiKey, apiUrl, cockpitUrl, uploadsUrl} from "../config";
	
	export default {
		props: ['lang'],
		name: "booking",
		component: {
		},
		data: function () {
			return {
				lokalize: [],
				uploadurl: uploadsUrl,
				cockpiturl: cockpitUrl,
				breadcrumb: this.$route.params.lang,
				alias: this.$route.params.alias,
				apiKey: apiKey,
				cover_title: ''
			}
		},
		mounted: function() {
			(function () {
				document.querySelector('#footers > div.background-contact.padding-top-30 > div > div.row.margin-top-20.pb-0.py-sm-3.py-md-5 > div.px-0.px-sm-3.col-md-5.col-xl-5 > div.text-align-left.pb-4.pb-sm-0.p-0.pl-sm-5.padding-top-30.d-flex.align-items-center.col-md-12.col-xl-12 > div').style.display = 'none';
				console.log('booking page');
			})();
			
			(function(w) {
				var lng = 'bg';
				
				if ((window.location.pathname.indexOf('/en/') !== -1) || (window.location.pathname.indexOf('/en') !== -1)) {
					lng = 'en';
				}
				
				var q = [
					['setContext', 'TL-INT-yastrebets', lng],
					['embed', 'booking-form', {
						container: 'tl-booking-form'
					}]
				];
				var t = w.travelline = (w.travelline || {}),
					ti = t.integration = (t.integration || {});
				ti.__cq = ti.__cq? ti.__cq.concat(q) : q;
				if (!ti.__loader) {
					ti.__loader = true;
					var d = w.document,
						p = d.location.protocol,
						s = d.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = (p == 'https:' ? p : 'http:') + '//bg-ibe.tlintegration.com/integration/loader.js';
					(d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(s);
				}
			})(window);
			
			fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
				method: 'get'
			})
			.then((response) => {
				return response.json()
			})
			.then((jsonData) => {
				
				this.hrefitems = jsonData.entries
				jsonData.entries.map((item) => {
					if(item.Alias_slug == this.$route.params.alias){
						this.cover_title = item.Cover_Title
					}
				})
				
			}),
			
			fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
				method: 'get'
			})
			.then((response) => {
				return response.json()
			})
			.then((jsonData) => {
				this.lokalize = jsonData
			})
		},
	};
</script>

<style scoped>
	#tl-booking-form {
		margin-top: 40px;
	}
	
	.tl-booking-container {
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 15px 50px;
	}
	
	#footers > div.background-contact.padding-top-30 > div > div.row.margin-top-20.pb-0.py-sm-3.py-md-5 > div.px-0.px-sm-3.col-md-5.col-xl-5 > div.text-align-left.pb-4.pb-sm-0.p-0.pl-sm-5.padding-top-30.d-flex.align-items-center.col-md-12.col-xl-12 > div {
		display: none;
	}
</style>