<template>
    <div id="contactus">
        <helmet-provider>
        <div>
            <helmet>
            <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
            <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
        </helmet-provider>
        <span v-for="(meta,index) in navigationtitles" :key="`A-${index}`">
        <vue-headful
            v-if="meta.Alias == alias"
            :title="meta.Meta_title"
            :description="meta.Meta_description"
            :keywords="meta.Meta_keywords"
            :image="meta.Meta_image.path"
            v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
        <span v-else></span>
        </span>
        <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex">
            <i class="fas fa-home padding-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <router-link :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
            </router-link>
            </span>
            <i class="fas fa-chevron-right padding-left-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <h6 itemprop="name" class="uppercase">{{contactus.Title}}</h6>
            </span>
        </div>
        </b-container>
        <b-container fluid class="px-0">
        <b-row class="padding-top-20" id="wrapper">
            <div class="col-xl-12 embed-responsive embed-responsive-16by9">
            <!-- <iframe
                src="https://snazzymaps.com/embed/173019"
                width="100%"
                height="725px"
                class="embed-responsive-item"
                style="border:none; pointer-events:none;"
            ></iframe> -->
            <LocationMap class="travel-map"/>
            </div>
            <b-col id="over_map" xl="6" offset-xl="3" class="px-0 px-sm-3 ">
            <b-jumbotron class="padding-top-90 padding-bottom-90 text-center contact-us-jumbo px-2 px-sm-5">
                <h2 class="subtitte-contactus">
                <b>{{lokalize.information}}</b>
                </h2>
                <h1 class="title">
                <b>{{lokalize.contact_with_us}}</b>
                </h1>
                <p class="pt-4 p-jumbotron">
                <b>
                    <a class="pl-1" :href="'https://maps.google.com'" target="_blank">
                    <!-- <simple-svg class="d-inline-flex"
                                    :filepath=" cockpiturl + footerinfo.Icons[2].path"
                                    :fill="'white'"
                                    :stroke="'white'"
                                    :alt="footerinfo.Icons[2].meta.title"
                                    :width="'17px'"
                                    :height="'17px'"
                                    :id="'custom-id'"
                    />-->
                    {{contactus.Footer_adress_text}}
                    </a>
                </b>
                </p>
                <p
                class="p-jumbotron-telephone"
                v-for="(item,index) in contactus.Phone"
                :key="`B-${index}`"
                style="color: #caac62 !important"
                >
                <b>
                    <simple-svg
                    class="d-inline-flex"
                    :filepath=" cockpiturl + footerinfo.Icons[0].path"
                    :fill="'white'"
                    :stroke="'white'"
                    :alt="footerinfo.Icons[0].meta.title"
                    :width="'17px'"
                    :height="'17px'"
                    :id="'custom-id'"
                    />
                    <a
                    class="font-serif text-gold"
                    v-if="item.value"
                    v-bind:href="['tel:' + item.value.phone]"
                    >{{item.value.phone}}</a>
                </b>
                </p>
                <h2
                class="padding-top-10 p-jumbotron p-margin-none"
                style="letter-spacing: 1px;"
                v-for="(item1,index) in contactus.Email"
                :key="`C-${index}`"
                >
                <b>
                    <a
                    style="color: white"
                    class="lettter-spacing-normal font-weight-normal"
                    v-if="item1.value"
                    v-bind:href="['mailto:' + item1.value.email]"
                    >
                    <simple-svg
                        class="d-inline-flex"
                        :filepath=" cockpiturl + footerinfo.Icons[1].path"
                        :alt="footerinfo.Icons[1].meta.title"
                        :fill="'white'"
                        :stroke="'white'"
                        :width="'17px'"
                        :height="'17px'"
                        :id="'custom-id'"
                    />
                    {{item1.value.email}}
                    </a>
                </b>
                </h2>
                <b-col xl="12" class="padding-top-30">
                <!-- <h2 class="padding-bottom-20 " v-if="contactus.Footer_follow_us_text ">{{contactus.Footer_follow_us_text}}</h2> -->
                <b-col
                    xl="7"
                    class="col-md-4 col-xs-7 col-sm-7 icons-display-flex justify-content-center"
                >
                    <a
                    :href="item5.meta.link"
                    v-for="(item5,index) in contactus.Social"
                    :key="`D-${index}`"
                    target="_blank"
                    >
                    <simple-svg
                        class="padding-left-10"
                        v-if="item5.path"
                        :alt="item5.meta.title"
                        :filepath=" cockpiturl + item5.path"
                        :fill="'white'"
                        :stroke="'white'"
                        :width="'35px'"
                        :height="'35px'"
                        :id="'custom-id'"
                        style="color:#caac62;"
                    />
                    </a>
                </b-col>
                </b-col>
            </b-jumbotron>
            </b-col>
    <!-- STARAT subscribe section -->
            <b-col>
              <b-row class="py-5 my-0 my-md-3"></b-row>
              <b-row>
                <b-col
                  v-if="contactus.Background_subscribe_image"
                  :style="{ 'background-image': 'url('+ uploadurl + contactus.Background_subscribe_image.path + ')' }"
                  class="col-xl-6 offset-xl-3 border padding-bottom-60 transition" id="SubscribeContacts">
                  
                      <b-row id="SubscribeContactsInner">
                          <b-col class="px-0 px-sm-3">

                          <b-row class="padding-top-100 padding-bottom-60 col-xl-12 px-0 px-sm-3">
                              <b-col class="px-0 px-sm-3">
                              <b-col class="text-align-center" v-if="lokalize.subscribe_title ">
                                  <h1 class="title">{{lokalize.subscribe_title}}</h1>
                              </b-col>
                              <b-col class="text-align-center" v-if="lokalize.subscribe_subtitle ">
                                  <p class>{{lokalize.subscribe_subtitle}}</p>
                              </b-col>
                              </b-col>
                          </b-row>
                          <div 
                                  v-if="contactus.Background_subscribe_image"
                                  :style="{ 'background-image': 'url('+ uploadurl + contactus.Background_subscribe_image.path + ')' }"
                                  class="col-xl-12 px-0 px-sm-3">
                              <div class="col-xl-8 offset-xl-2 px-0 px-sm-3 border-solid">

                              <b-form class="col-xl-12 px-0 px-sm-3">
                                  <div class="col-xl-12 icons-display-flex">
                                  <!-- <b-form-group class="col-xl-6 offset-xl-3 text-form"> -->
                                      <b-input
                                      v-model="subsEmail"
                                      :value="email"
                                      @input="e => email = e.target.value"
                                      :placeholder="lokalize.subscribe_placeholder"
                                      id="subscribe-input-email"
                                      name="email"
                                      class="mb-2 mr-sm-2 mb-sm-0 border-0 form-control-subscribe"
                                      ></b-input>
                                  
                                  <!-- <p class="p-jumbotron-telephone" style="color: #caac62 !important"> -->
                                      <a
                                          class="position-absolute pt-3"
                                          style="right: 30px;"
                                          onClick="window.location.href=window.location.href"
                                          v-on:click="emailSubs() && updateComponent"
                                      >
                                          <b>
                                          <simple-svg
                                              class="d-inline-flex"
                                              :filepath=" cockpiturl + '/storage/uploads/icons/paper-plane.svg'"
                                              :fill="'#caac62'"
                                              :stroke="'white'"
                                              :width="'17px'"
                                              :height="'17px'"
                                              :id="'custom-id'"
                                          />
                                          </b>
                                      </a>
                                  <!-- </p> -->
                                  </div>
                              </b-form>
                              </div>
                          </div>
                      </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-col>
    <!-- END subscribe section -->
    <!-- STARAT contact us section -->
            <b-row class="padding-top-120 col-xl-12">
              <b-col>
                  <b-col class="text-align-center" v-if="lokalize.lets_go ">
                  <h2 class="subtitte">{{lokalize.lets_go}}</h2>
                  </b-col>
                  <b-col class="text-align-center" v-if="lokalize.get_in_touch ">
                  <h1 class="title">{{lokalize.get_in_touch}}</h1>
                  </b-col>
              </b-col>
              <div class="w-100 py-4 py-sm-5"></div>
            </b-row>
            <div
            v-if="contactus.Background_form_image"
            class="background-contact col-xl-12 px-0 px-sm-3"
            :aria-label="contactus.Background_form_image.title"
            :style="{ 'background-image': 'url('+ uploadurl + contactus.Background_form_image.path + ')' }"
            >
            <div class="col-xl-8 offset-xl-2">
                <b-form class="col-xl-12 pt-5 px-0 px-sm-5">
                <div class="col-xl-12 icons-display-flex px-0 px-sm-3">
                  <b-row class="w-100">
                    <b-form-group :label="lokalize.name" class="col-sm-6 text-form">
                    <b-input
                        v-model="name"
                        :value="name"
                        @input="e => name = e.target.value"
                        id="inline-form-input-name"
                        name="name"
                        class="mb-2 mr-sm-2 mb-sm-0"
                    ></b-input>
                    </b-form-group>
                    <b-form-group :label="lokalize.email_address" class="col-sm-6 text-form">
                    <b-input
                        v-model="email"
                        :value="email"
                        @input="e => email = e.target.value"
                        id="inline-form-input-email"
                        name="email"
                        class="mb-2 mr-sm-2 mb-sm-0"
                    ></b-input>
                    </b-form-group>
                  </b-row>
                </div>
                <div class="col-xl-12 icons-display-flex pt-0 pt-sm-4 px-0 px-sm-3">
                  <b-row class="w-100">
                    <b-form-group :label="lokalize.phone" class="col-sm-6 text-form">
                    <b-input
                        v-model="phone"
                        :value="phone"
                        @input="e => phone = e.target.value"
                        id="inline-form-input-phone"
                        name="phone"
                        class="mb-2 mr-sm-2 mb-sm-0"
                    ></b-input>
                    </b-form-group>
                    <b-form-group :label="lokalize.subject" class="col-sm-6 text-form">
                    <b-input
                        v-model="subject"
                        :value="subject"
                        @input="e => subject = e.target.value"
                        id="inline-form-input-subject"
                        name="subject"
                        class="mb-2 mr-sm-2 mb-sm-0"
                    ></b-input>
                    </b-form-group>
                  </b-row>
                </div>
                <div class="col-xl-12 pt-0 pt-sm-4 px-0 px-sm-3">
                    <b-form-group :label="lokalize.your_message" class="col-xl-12 text-form">
                    <b-form-textarea
                        v-model="text"
                        :value="text"
                        @input="e => text = e.target.value"
                        id="textarea"
                        name="text"
                        rows="7"
                    ></b-form-textarea>
                    </b-form-group>
                </div>
                <b-col xl="12" class="text-center padding-top-50">
                    <a
                    class="btn-room"
                    onClick="window.location.href=window.location.href"
                    v-on:click="emailForm() && updateComponent"
                    >Sumbit</a>
                </b-col>
                <div class="w-100 py-4 py-sm-5 mt-0 mt-md-5"></div>
                </b-form>
            </div>
            </div>
    <!-- END contact us section -->
        </b-row>
        </b-container>
    </div>
</template>


<script>
import { uploadsUrl, apiUrl, cockpitUrl, apiKey, mainUrl } from "../config.js";
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import LocationMap from "../components/GoogleMap/LocationMap"
import JQuery from "jquery";
let $ = JQuery;

export default {
  name: "contactus",
  components: {
    LocationMap,
    HelmetProvider,
    Helmet
  },
  data: function() {
    return {
      contactus: [],
      lokalize: [],
      uploadurl: uploadsUrl,
      mainUrl: mainUrl,
      metaUrl: "",
      endUrl: "",
      cockpiturl: cockpitUrl,
      breadcrumb: this.$route.params.lang,
      navigationtitles: [],
      alias: this.$route.params.alias,
      name: "",
      email: "",
      subsEmail: "",
      phone: "",
      subject: "",
      text: "",
      navModule: ""
    };
  },

  methods: {
    emailForm() {
      fetch(apiUrl + "/api/forms/submit/contactus?token=" + apiKey + "", {
        method: "post",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          form: {
            name: this.name,
            email: this.email,
            phone: this.phone,
            subject: this.subject,
            text: this.text
          }
        })
      }).then(entry => entry.json());
    },
    emailSubs() {
      fetch(
        apiUrl + "/api/collections/save/newsletter?token=" + apiKey + "",
        {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            data: {
              Email : this.subsEmail
            },
          })
        }
      ).then(entry => entry.json());
    },
    reloadPage() {
      window.location.reload();
    }
  },

  mounted: function() {
    fetch(
      apiUrl +
        "/api/collections/get/navigation?token=" +
        apiKey +
        "&lang=" +
        this.$route.params.lang +
        "",
      {
        method: "get"
      }
    )
      .then(response => {
        return response.json();
      })
      .then(jsonData => {
        this.navigationtitles = jsonData.entries;
        jsonData.entries.map(item => {
          if (item.Alias == this.$route.params.alias) {
            this.navModule = item.Module_name;

            fetch(
              apiUrl +
                "/api/singletons/get/" +
                this.navModule +
                "?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
              {
                method: "get"
              }
            )
              .then(response => {
                return response.json();
              })
              .then(jsonData => {
                this.contactus = jsonData;
              });
          }
        });
      }),
      fetch(
        apiUrl +
          "/api/singletons/get/main?token=" +
          apiKey +
          "&lang=" +
          this.$route.params.lang +
          "",
        {
          method: "get"
        }
      )
        .then(response => {
          return response.json();
        })
        .then(jsonData => {
          this.footerinfo = jsonData;
        }),
      fetch(
        apiUrl +
          "/api/lokalize/project/Yastrebets/" +
          this.$route.params.lang +
          "?token=" +
          apiKey +
          "&lang=" +
          this.$route.params.lang +
          "",
        {
          method: "get"
        }
      )
        .then(response => {
          return response.json();
        })
        .then(jsonData => {
          this.lokalize = jsonData;
        }),
      $("legend").each(function() {
        $(this).html(
          $(this)
            .text()
            .replace(/(\*)/g, '<span style="color: #ffffff;">*</span>')
        );
      });
  },
  created: function() {
    var currentUrl = window.location.href;
    this.endUrl = currentUrl.split(this.breadcrumb + "/")[1];
    this.metaUrl = currentUrl;
  }
};
</script>

<style>
.travel-map {
  height: 600px;
}
#wrapper {
  position: relative;
}
#over_map {
  position: absolute;
  z-index: 99;
}
</style>