<template>
  <div id="events"> 
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
      <div v-for="(item,index) in events" :key="index">
       <vue-headful
            :title="item.Meta_title"
            :description="item.Meta_description"
            :keywords="item.Meta_keywords"
            :image="item.Meta_image.path"
            v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
    <b-container  class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
      <div class="icons-display-flex">
        <i class="fas fa-home padding-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}">
            <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
          </router-link>
        </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
              <h6 itemprop="name" class="uppercase">{{item.Title}}</h6>
            </span>
      </div>
    </b-container>
      <b-container class="pt-4 pt-sm-5">
        <br>
          <div class="col-xl-12 no-padding-left-right" >
            <b-carousel
                      id="carousel-10"
                      controls
                      indicators
                      background="#ababab"
                      img-width="1024"
                      img-height="400"
                      style="text-shadow: 1px 1px 2px #333;">
              <b-carousel-slide
                    v-for="(gallery,index) in item.Gallery" 
                    :key="index" 
                    id="yastrebets"
                    v-show="gallery.path"
                    :alt-img="gallery.meta.title"
                    :img-src="cockpiturl + gallery.path">
              </b-carousel-slide>
            </b-carousel>
          </div>
          <b-row>  
            <b-col xl="12" class="padding-newsinner px-0 px-sm-3"
                    v-if="item.Description && item.Title
                    ">
                <h2 class="title padding-bottom-20">{{item.Title}}</h2>
                <span v-html="item.Description" class="text-news">{{item.Description}}</span>
            </b-col>
          </b-row> 
            <b-row class="padding-top-50 padding-bottom-40">
              <b-col xl="12" class="text-center" v-for="(item2,index) in item.Attachment" :key="index+2">
                <a v-if="item2.value"  target="_blank" :href="uploadurl + item2.value.File.path" class="btn-room" >{{item2.value.Button_text}}</a>
              </b-col>
            </b-row>
    </b-container> 
    </div> 
  </div>     
</template>


<script>


import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  name: 'events',
  components: {
    HelmetProvider, Helmet
  },
    data: function () {
      return {
        events: [],
        lokalize: [],
        uploadurl: uploadsUrl,
        navigationtitles: [],
        cockpiturl: cockpitUrl,
        breadcrumb: this.$route.params.lang,
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        navModule: '',
    }
  },
  
  methods:{  
  }, 
mounted: function() {
     
     fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.navigationtitles = jsonData.entries
            jsonData.entries.map((item) => {
              if (item.Alias == this.$route.params.alias) {
              
                this.navModule = item.Module_name
                
                fetch( apiUrl + '/api/collections/get/'+this.navModule+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                      filter: {Alias:this.$route.params.alias}
                    })
                  })
                  .then((response) => {
                    return response.json()
                  })
                  .then((jsonData) => {

                    this.events = jsonData.entries

                  })
                }
            })

          }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
    created: function(){

        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.metaUrl = currentUrl;
      }
}
</script>

