<template>
  <div id="footers">
    <div>
      <b-modal id="modalhome" ref="my-modal" @hide="setModalDismissed" hide-footer center>
        <div class="d-block text-center">
          <h2 class="pb-3 pb-sm-5 title-modal">{{popup.Popup_title}}</h2>
          <span v-html="popup.Popup_text">{{popup.Popup_text}}</span>
          <b-row class="col-xl-12 col-md-12 col-xs-12 pt-3 pt-sm-5 ">
          <b-col xl="4" md="4" xs="12" class="text-center">
            <a v-if="popup.Popup_buttons" :href="'tel:' + popup.Popup_buttons[0].value.Button_link" class="btn-room" @click="hideModal">{{popup.Popup_buttons[0].value.Button_text}}</a>
          </b-col>
          <b-col xl="4" md="4" xs="12">
            <p class="padding-top-10 padding-left-10">{{lokalize.or}}</p>
          </b-col>
          <b-col xl="4" md="4" xs="12" class="text-center">
            <a v-if="popup.Popup_buttons" :href="popup.Popup_buttons[1].value.Button_link" class="btn-room float-right-button" @click="hideModal">{{popup.Popup_buttons[1].value.Button_text}}</a>
          </b-col>
          </b-row>
        </div>
      </b-modal>
    </div>
    <div  v-if="footerinfo.Footer_background_image" 
          class="background-contact padding-top-30" 
          :aria-label="footerinfo.Footer_background_image.title"
          :style="{ 'background-image': 'url(' + uploadurl + footerinfo.Footer_background_image.path + ')' }">
  <b-container>
    <b-row class="margin-top-20 pb-0 py-sm-3 py-md-5">
      <b-col xl="4" md="4" xs="12">
        <b-col xl="12" md="12" xs="12" class="padding-bottom-20">
          <b-img id="footerLogo"
                  :alt="footerinfo.Logo_small.title"
                  v-if="footerinfo.Logo_small" 
                  :src="uploadurl + footerinfo.Logo_small.path">
          </b-img>
        </b-col>
        <b-col xl="12" md="12" xs="12" class="padding-bottom-20">
          <b-img height="110"
                  class="padding-right-15"
                  :alt="footerinfo.Footer_logos[0].meta.title"
                  v-if="footerinfo.Footer_logos" 
                  :src="cockpiturl + footerinfo.Footer_logos[0].path">
          </b-img>
          <b-img height="110" 
                  v-if="footerinfo.Footer_logos" 
                  :alt="footerinfo.Footer_logos[1].meta.title"
                  :src="cockpiturl + footerinfo.Footer_logos[1].path">
          </b-img>
        </b-col>
        <b-col xl="12" md="12" xs="12">
          <b-img height="110" 
                  class="padding-right-15"
                  v-if="footerinfo.Footer_logos" 
                  :alt="footerinfo.Footer_logos[2].meta.title"
                  :src="cockpiturl + footerinfo.Footer_logos[2].path">
          </b-img>
          <b-img height="110" 
                  v-if="footerinfo.Footer_logos" 
                  :alt="footerinfo.Footer_logos[3].meta.title"
                  :src="cockpiturl + footerinfo.Footer_logos[3].path">
          </b-img>
        </b-col>
      </b-col>
        <b-col xl="5" md="5" xs="12" class="px-0 px-sm-3" >
            <h1 class="padding-bottom-20 hotel-text-footer padding-top-20-mobile" v-if="footerinfo.Footer_adress_text ">{{footerinfo.Footer_adress_text}}</h1>
          <b-col xl="12" md="12" xs="12" class="text-align-left px-0 px-sm-3">
            <b-col xl="12" md="12" xs="12" class="padding-bottom-10 icons-display-flex">
                <simple-svg
                    :filepath=" cockpiturl + footerinfo.Icons[2].path"
                    :fill="'white'"
                    :stroke="'white'"
                    :alt="footerinfo.Icons[2].meta.title"
                    :width="'17px'"
                    :height="'17px'"
                    :id="'custom-id'"
                    />
                  <span class="margin-left-10 grey"><a class="grey" :href="'https://maps.google.com'" target="_blank"><h6 style="padding-top: 3px">{{footerinfo.Address}}</h6></a></span>
            </b-col>
            <b-col xl="12" md="12" xs="12"  class="padding-bottom-10 icons-display-flex">
                <simple-svg
                    :filepath=" cockpiturl + footerinfo.Icons[1].path"
                    :alt="footerinfo.Icons[1].meta.title"
                    :fill="'white'"
                    :stroke="'white'"
                    :width="'17px'"
                    :height="'17px'"
                    :id="'custom-id'"
                    />
                    <div>
                    <p class="margin-left-10 p-margin-none col-xl-4 col-xs-12 col-md-4 padding-left-none" v-for="(item,index) in footerinfo.Email" :key="index+1">
                      <a class="grey" v-bind:href="['mailto:' + item.value.email]"><h6 style="padding-top: 3px">{{item.value.email}}</h6></a>
                    </p>
                    </div>
            </b-col>
            <b-col xl="12" md="12" xs="12" class="padding-bottom-10 icons-display-flex">
                
                    <simple-svg
                            :filepath=" cockpiturl + footerinfo.Icons[0].path"
                            :alt="footerinfo.Icons[0].meta.title"
                            :fill="'white'"
                            :stroke="'white'"
                            :width="'17px'"
                            :height="'17px'"
                            :id="'custom-id'"
                    />
                    <b-row>
                    <span class="margin-left-10 " v-for="(item,index) in footerinfo.Phone" :key="index"><a  v-bind:href="['tel:' + item.value.phone]"><h6 class="grey" style="padding-top: 3px">{{item.value.phone}}</h6></a>
                    </span>
                </b-row>
            </b-col>
          </b-col>
          <b-col xl="12" md="12" xs="12" class="text-align-left pb-4 pb-sm-0 p-0 pl-sm-5 padding-top-30 d-flex align-items-center">
            <b-row class="justify-content-center">
                <h1 class="mb-3 mb-sm-0 hotel-text-footer" v-if="footerinfo.Footer_follow_us_text ">{{footerinfo.Footer_follow_us_text}}</h1>
                <div class=" padding-left-none icons-display-flex pr-4 pr-sm-0">
                    <a :href="item.meta.link" target="_blank" v-for="(item,index) in footerinfo.Social" :key="index">
                        <simple-svg 
                            class="padding-left-20 hover-svg"
                            v-if="item.path"
                            :filepath=" cockpiturl + item.path"
                            :alt="item.meta.title"
                            :fill="'white'"
                            :stroke="'white'"
                            :width="'25px'"
                            :height="'25px'"
                            :id="'custom-id'"
                        />
                    </a>
                </div>
            </b-row>
          </b-col>
        </b-col>
        <b-col xl="3" md="3" xs="12">
          <h1 class="pb-2 pb-sm-4 padding-left-none hotel-text-footer padding-top-20-mobile" v-if="footerinfo.Footer_menu_text">{{footerinfo.Footer_menu_text}}</h1>
            <b-navbar-nav v-for="(footermenuitem,index) in footermenuitems" 
                        :key="index" >
              <b-col xl="8" offset-xl="4" md="8" xs="8" offset-xs="4" class="padding-left-none padding-left-right-15-mobile">
                <p class="text-align-left mobile-text-aling mb-1 mb-sm-3" v-if="footermenuitem.Show_in_footer == true && footermenuitem.Title">
                  <router-link v-if="lang" :to="'/' + lang + '/' + footermenuitem.Alias_slug" class="footer-menu">{{footermenuitem.Title}}</router-link>
                  <router-link v-else :to="'/' + $parent.lang + '/' + footermenuitem.Alias_slug" class="footer-menu">{{footermenuitem.Title}}</router-link>
                </p>
              </b-col>
            </b-navbar-nav> 
      </b-col>
    </b-row> 
      <b-row class="padding-bottom-10">
        <hr style="border: 1px solid #898989;
    width: 100%;">
        <b-col xl="12" md="12" xs="12">
            <h6 style="float:left" v-if="footerinfo.Footer_text ">{{footerinfo.Footer_text}}</h6>
            <span style="float:right" v-for="(item2,index) in footerinfo.Icons_copyright " :key="index+2"><b-img
                    v-if="item2.path"
                    :src=" cockpiturl + item2.path"
                    :alt="item2.meta.title"
                    :fill="'white'"
                    :stroke="'white'"
                    :id="'custom-id'"
                    style="color:white"
                    ></b-img>
            </span>
        </b-col>
      </b-row>
  </b-container>
    </div>
    <span v-html="footerinfo.Body_tag"></span>
  </div>
  
</template>

<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, Domain} from '../config.js'
// import JQuery from 'jquery'
// let $ = JQuery

export default {
  props: ['lang'],
  name: 'footers',
  components: {
  },
    data: function () {
      return {
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        footerinfo: [],
        footermenuitems: [],
        popup: [],
        lokalize: [],
        domain: Domain,
    }
  },
  methods:{
      showModal() {
        this.$refs['my-modal'].show()
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
      setModalDismissed(){
        this.$cookie.set('modal', true, { expires: 7 });     
    },
    closePopup(){
      console.log('close it'); 
    }
      
},
created() {

},
  mounted: function() {
    fetch( apiUrl + '/api/singletons/get/main?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.footerinfo = jsonData

          }),
     fetch( apiUrl + '/api/singletons/get/home?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.popup = jsonData

          }),
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.footermenuitems = jsonData.entries

          }),
     fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
     let modal = this.$cookie.get('modal');
        if(modal) {
          this.hideModal(); 
        }else {
          this.showModal();
        }
  }
}


</script>
