<template>
  <div id="gallery">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
      <span v-for="(meta,index) in navigationtitles" :key="index+7">
        <vue-headful
                v-if="meta.Alias == alias"
                :title="meta.Meta_title"
                :description="meta.Meta_description"
                :keywords="meta.Meta_keywords"
                :image="meta.Meta_image.path"
                v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl" 
            />
        <span v-else></span>
      </span>
    <b-container  class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
      <div class="icons-display-flex">
        <i class="fas fa-home padding-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}">
            <h6 itemprop="name"  class="breadcrumb-color-up">{{lokalize.home}}</h6>
          </router-link>
        </span>
        <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <h6 itemprop="name"  class="uppercase">{{lokalize.gallery}}</h6>
        </span>
      </div>
    </b-container>
    <b-container>
      <b-col xl="12" class="pt-4 pt-sm-5 mt-0 mt-md-4 px-0 px-sm-3">
        <b-tabs align="center" class="title-accommodationinner">
          <b-col xl="12" class="mt-3 mt-xl-5 px-0 px-sm-3">
            <b-tab :title="lokalize.photos" active class="px-0">
              <b-row xl="12" v-for="(nav,index) in navigationtitles" :key="index+10" v-show="nav.Module_name == 'gallery' && lang">
                <router-link :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item2.value.Alias" class="col-xl-4 image-container px-0 p-sm-3" v-for="(item2,index) in gallery.Gallery_picture" :key="index+2">
                    <b-img v-if="item2.value.Pictures[0]" 
                          class="gallery-image"
                          :alt="item2.value.Pictures[0].meta.title"
                          :src="cockpiturl + 'api/cockpit/image?token=' +apiKey + '&src=' + cockpiturl + item2.value.Pictures[0].path + '&w=840&h=620&o=1&m=thumbnail&q=80'" 
                          fluid>
                    </b-img>
                    <div class="after"></div>
                        <h1 class="px-4 pt-2 pb-3 pb-sm-0 mb-2 mb-sm-0 title-gallery" style="text-align: center" v-if="item2.value.Title">{{item2.value.Title}}</h1>  
                  </router-link>
              </b-row>
          </b-tab> 
      </b-col>
        <b-tab title="/" disabled></b-tab>
          <b-col xl="12" class="padding-left-right-none">
            <b-tab :title="lokalize.videos" >
              <b-row xl="12">
                <a data-fancybox="gallery" :href="videos.value.YouTube_link" class="col-xl-4 px-0 p-sm-3 image-container-videos"  v-for="(videos,index) in gallery.Gallery_videos" :key="index+4">
                  <b-img v-if="videos.value.YouTube_link" 
                        class="videos-image"
                        :src="'http://i3.ytimg.com/vi/'+ videos.value.YouTube_link.split('?v=')[1] +'/0.jpg'" 
                        fluid>
                  </b-img>
                    <div class="after"></div>
                        <h1 class="px-4 pt-2 pb-3 pb-sm-0 mb-2 mb-sm-0 title-gallery" style="text-align: center" v-if="videos.value.Title">{{videos.value.Title}}</h1>  
                </a>
              </b-row>
            </b-tab>
          </b-col>
          <b-tab title="/" disabled></b-tab>
          <b-col xl="12" class="icons-display-flex pb-3 pb-sm-5 px-0 px-md-3 mt-sm-0 mt-4">
            <b-tab title="360°">
              <b-row xl="12">
                <div class="col-xl-12 iframe360 px-0 px-sm-3" v-html="threesixty.value.threesixty" v-for="(threesixty,index) in gallery.Gallery_360" :key="index+5">
                     {{threesixty.value.threesixty}}
                     <h1 class="px-4 pt-2 pb-3 pb-sm-0 mb-2 mb-sm-0 title-gallery" style="text-align: left" v-if="threesixty.value">{{threesixty.value.Title}}</h1>  
                </div>
                 </b-row>
            </b-tab>
          </b-col>
        </b-tabs>
      </b-col>     
    </b-container>
    </div>
</template>


<script>

import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";


export default {
  props: ['lang'],
  name: 'gallery',
  components: {
    HelmetProvider, Helmet
  },
    data: function () {
      return {
        gallery: [],
        lokalize: [],
        taburl: '',
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        breadcrumb: this.$route.params.lang,
        navigationtitles: [],
        mainUrl: mainUrl,
        metaUrl: '',
        endUrl:'',
        alias: this.$route.params.alias,
        navModule: '',
        apiKey: apiKey,
    }
  },
  

  methods:{  
  },
  mounted: function() {
  
      fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
              method: 'get'
            })
            .then((response) => {
              return response.json()
            })
            .then((jsonData) => {

              this.navigationtitles = jsonData.entries
              jsonData.entries.map((item) => {
                if (item.Alias == this.$route.params.alias) {
                
                  this.navModule = item.Module_name
                  
                  fetch( apiUrl + '/api/singletons/get/'+this.navModule+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
            })
            .then((response) => {
              return response.json()
            })
            .then((jsonData) => {

              this.gallery = jsonData

            })
            }
          })
        }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },

   created: function(){

        var currentUrl = window.location.pathname;
        this.taburl = currentUrl.split('/')[5];
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
       
        var currentmetaUrl = window.location.href;
        this.metaUrl = currentmetaUrl;
  
      },

}
</script>

<style>
.image-container{
  
    transition: ease-in-out .5s;
}

.image-container .after {
    position: absolute;
    top: 0;
    width: 92%;
    height: 85%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.image-container-videos{
    /* height: fit-content; */
    transition: ease-in-out .5s;
}

.image-container-videos .after {
    position: absolute;
    top: 0;
    width: 92%;
    height: 95%;
    display: none;
    color: #FFF;
}
.image-container-videos:hover .after {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.image-container-inside{
  
    transition: ease-in-out .5s;
}

.image-container-inside .after {
    position: absolute;
    top: 0;
    width: 92%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container-inside:hover .after {
    display: block;
    background: rgba(0, 0, 0, .3);
}

</style>
