<template>
    <div id="galleryinner">
        <helmet-provider>
            <div>
                <helmet>
                    <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                    <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
                </helmet>
            </div>
        </helmet-provider>
        <span v-for="(meta,index) in galleryinner.Gallery_picture" :key="index+14">

            <vue-headful
                v-if="meta.value.Alias == alias"
                :title="meta.value.Meta_title"
                :description="meta.value.Meta_description"
                :keywords="meta.value.Meta_keywords"
                :image="meta.value.Meta_image"
                v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl"/>
            <span v-else></span>
        </span>
        <div v-for="(gallery,index1) in galleryinner.Gallery_picture" :key="index1">
            <div
                v-if="gallery.value.Alias == alias "
                class="cover-header"
                :aria-label="gallery.value.Cover_page.title"
                :style="{ 'background-image': 'url('+ uploadurl + gallery.value.Cover_page.path + ')' }">
                <h1 class="cover-title text-center">{{ gallery.value.Title }}</h1>
                <!-- <app-header :lang = "language" ></app-header> -->
            </div>
            <b-container
                v-if="gallery.value.Alias == alias"
                class="padding-top-50"
                itemscope
                itemtype="https://schema.org/BreadcrumbList">
                <div class="icons-display-flex">
                    <i class="fas fa-home padding-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem">
                        <router-link :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                            <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
                        </router-link>
                    </span>
                    <i class="fas fa-chevron-right padding-left-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem">
                        <router-link :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
                            <h6 itemprop="name" class="uppercase">{{lokalize.gallery}}</h6>
                        </router-link>
                    </span>
                    <i class="fas fa-chevron-right padding-left-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem">
                        <h6
                            itemprop="name"
                            class="uppercase"
                            v-if="gallery.value.Title">
                            {{gallery.value.Title}}</h6>
                    </span>
                </div>
            </b-container>
            <b-container>
                <span v-if="gallery.value.Alias == alias">
                    <b-row xl="12" class="mt-4 pt-md-5 mt-0 mt-sm-4">
                        <span
                            class="col-xl-4 image-container-inside"
                            v-for="(picture,index2) in gallery.value.Pictures"
                            :key="index2">
                            <a data-fancybox="gallery" :href="cockpiturl + picture.path">
                                <b-img
                                    fluid
                                    :alt="picture.meta.title"
                                    v-if="picture.path"
                                    class="gallery-image-inside py-2 py-sm-3"
                                    :src="cockpiturl + 'api/cockpit/image?token=' +apiKey + '&src=' + cockpiturl + picture.path + '&w=840&h=620&o=1&m=thumbnail&q=80'">
                                    height: 500px
                                    width: 500px
                                </b-img>
                                <div class="after"></div>
                            </a>
                        </span>
                    </b-row>
                    <div class="pb-5 my-0 my-sm-5"></div>
                </span>
            </b-container>
        </div>
    </div>
</template>


<script>
import { uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl } from "../config.js";
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import HeaderMenu from "./HeaderMenu.vue";

export default {
    name: "galleryinner",
    components: {
        HelmetProvider,
        Helmet,
        "app-header": HeaderMenu,
    },
    data: function () {
        return {
            galleryinner: [],
            lokalize: [],
            uploadurl: uploadsUrl,
            navigationtitles: [],
            cockpiturl: cockpitUrl,
            breadcrumb: this.$route.params.lang,
            alias: "",
            mainUrl: mainUrl,
            metaUrl: "",
            endUrl: "",
            language: this.$route.params.lang,
            aliasfirst: this.$route.params.aliasfirst,
            apiKey: apiKey,
        };
    },

    methods: {},
    mounted: function () {
        fetch(
            apiUrl +
                "/api/collections/get/navigation?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "get",
            }
        )
            .then((response) => {
                return response.json();
            })
            .then((jsonData) => {
                this.navigationtitles = jsonData.entries;
            }),
            fetch(
                apiUrl +
                    "/api/singletons/get/gallery?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get",
                }
            )
                .then((response) => {
                    return response.json();
                })
                .then((jsonData) => {
                    this.galleryinner = jsonData;
                }),
            fetch(
                apiUrl +
                    "/api/lokalize/project/Yastrebets/" +
                    this.$route.params.lang +
                    "?token=" +
                    apiKey +
                    "",
                {
                    method: "get",
                }
            )
                .then((response) => {
                    return response.json();
                })
                .then((jsonData) => {
                    this.lokalize = jsonData;
                });
    },

    created: function () {
        var currentUrl = window.location.pathname;
        this.urlArray = currentUrl.split("/");
        this.alias = this.urlArray[this.urlArray.length - 1];
        this.endUrl = currentUrl.split(this.breadcrumb + "/")[1];

        var currentmetaUrl = window.location.href;
        this.metaUrl = currentmetaUrl;
    },
};
</script>

<style>
.image-container {
    transition: ease-in-out 0.5s;
}

.image-container .after {
    position: absolute;
    top: 0;
    width: 92%;
    height: 85%;
    display: none;
    color: #fff;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
</style>
