<template>
  <div id="headers">
    <div v-for="(item,index) in items" :key="index+1">
      <div v-if="item.Cover_image && item.Alias_slug == $route.params.alias  " :aria-label="item.Cover_image.title" class="cover-header" :style="{ 'background-image': 'url(' + uploadurl + item.Cover_image.path + ')' }">
        <h1 class="cover-title text-center">{{ item.Cover_Title }}</h1>
      </div>
    </div>
    <div id="menuStatic" :class="{menuabsolute: scrollPosition < 100, menu: scrollPosition < 100, displaynone: scrollPosition > 100, displayblock: scrollPosition < 100}" >
      <b-container >
        <b-row class="pt-2 pt-sm-3">
          <b-col xl="2" lg="2" sm="2" class="col-2 icons-display-flex pt-1" >
             <a v-if="siteinfo.Icons" :href="['mailto:' + siteinfo.Icons[1].meta.link]"><simple-svg
                :filepath=" cockpiturl + siteinfo.Icons[1].path"
                :alt="siteinfo.Icons[1].meta.title"
                :fill="'black'"
                :stroke="'black'"
                :width="'20px'"
                :height="'20px'"
                :id="'custom-id'"
                class="hover-svg"
                /></a>
            <a  v-if="siteinfo.Icons" v-bind:href="['tel:' + siteinfo.Icons[0].meta.link]">
            <simple-svg
                :filepath=" cockpiturl + siteinfo.Icons[0].path"
                :alt="siteinfo.Icons[0].meta.title"
                :fill="'black'"
                :stroke="'black'"
                :width="'20px'"
                :height="'20px'"
                :id="'custom-id'"
                class="hover-svg"
                style="padding-left:10px"
                /></a>
             </b-col>
          <b-col xl="2" offset-xl="8" class="text-align-right col-3 offset-7 col-sm-3 offset-sm-7 col-md-3 offset-md-7 px-0 px-sm-3">
            <b-button class="padding-right-none" style="padding-left: 0px; padding-bottom: 0px;" :class="{activelanguage: language == 'en'}" variant="link" v-on:click="changeLang('en')" >ENG</b-button>
            <b-button variant="link" class="padding-right-none" style=" margin-left: 12px; padding-left: 0px; padding-bottom: 0px;" :class="{activelanguage: language == 'bg'}"   v-on:click="changeLang('bg')" >BG</b-button>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="pt-2 pt-sm-3">
        <b-navbar class="menu" toggleable="lg" type="dark" >
          <router-link v-if="lang" :to="'/' + lang + '/'" class="hover">
            <b-img height="40" :alt="siteinfo.Logo.title" v-if="siteinfo.Logo" :src="uploadurl + siteinfo.Logo.path"></b-img>
          </router-link>
          <router-link v-else :to="'/' + $parent.lang + '/'" class="hover">
            <b-img height="40" :alt="siteinfo.Logo.title" v-if="siteinfo.Logo" :src="uploadurl + siteinfo.Logo.path"></b-img>
          </router-link>
           <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
             <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav v-for="(item,index) in items" :key="index+2" >
                <b-nav-item-dropdown :text="item.Title" v-if="item.Is_parent && item.Show_in_menu">
                  <b-dropdown-item   v-for="(item,index) in itemsFilterbyalias(item.Alias_slug)" :key="index+3">
                    <!-- <template v-if="item.Show_in_menu"> -->
                      <router-link v-if="lang" :to="'/' + lang + '/' + item.Alias_slug" class="hover">{{item.Title}}</router-link>
                      <router-link v-else :to="'/' + $parent.lang + '/' + item.Alias_slug" class="hover">{{item.Title}}</router-link>
                    <!-- </template> -->
                  </b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item v-if="item.Is_parent == false && item.Has_parent == false && item.Show_in_menu">
                    <router-link v-if="lang" :to="'/' + lang + '/' + item.Alias_slug" class="hover">{{item.Title}}</router-link>
                    <router-link v-else :to="'/' + $parent.lang + '/' + item.Alias_slug" class="hover">{{item.Title}}</router-link>
                </b-nav-item>
              </b-navbar-nav>
              <router-link v-if="lang" :to="'/' + lang + '/booking'" class="btn-booking btn-booking-mobile" >{{lokalize.book_now_button}}</router-link>
               <router-link v-else :to="'/' + $parent.lang + '/booking'" class="btn-booking btn-booking-mobile" >{{lokalize.book_now_button}}</router-link>
            </b-collapse>
        </b-navbar>
      </b-container>
    </div>
    <div id="menuSticky" style="background-color: #fff" :class="{fixed: scrollPosition > 110, displaynone: scrollPosition < 200, displayblock: scrollPosition > 110}">
    <b-container fluid class=" menufixed px-0 px-sm-3">
      <b-row xl="12" class="text-center">
        <b-col xl="12" class="">
          <b-navbar toggleable="lg" type="dark" class="navbar-sticky">
            <a class="contact-icons" v-if="siteinfo.Icons" :href="['mailto:' + siteinfo.Icons[1].meta.link]"><simple-svg
                  :filepath=" cockpiturl + siteinfo.Icons[1].path"
                  :alt="siteinfo.Icons[1].meta.title"
                  :fill="'black'"
                  :stroke="'black'"
                  :width="'20px'"
                  :height="'20px'"
                  :id="'custom-id'"
                  class="hover-svg-black"
                  /></a>
          <a class="contact-icons" v-if="siteinfo.Icons" v-bind:href="['tel:' + siteinfo.Icons[0].meta.link]">
          <simple-svg
                  :filepath=" cockpiturl + siteinfo.Icons[0].path"
                  :alt="siteinfo.Icons[0].meta.title"
                  :fill="'black'"
                  :stroke="'black'"
                  :width="'20px'"
                  :height="'20px'"
                  :id="'custom-id'"
                  class="hover-svg-black"
                  style="padding-left:10px"
              /></a>
            <router-link v-if="lang" :to="'/' + lang + '/'">
            <b-img height="40" :alt="siteinfo.Logo.title" class="logo-mobile padding-left-63 padding-left-23px-mobile" v-if="siteinfo.Logo" :src="uploadurl + siteinfo.Logo.path"></b-img>
              </router-link>
              <router-link v-else :to="'/' + $parent.lang  + '/'">
            <b-img height="40" :alt="siteinfo.Logo.title" class="logo-mobile padding-left-63 padding-left-23px-mobile" v-if="siteinfo.Logo" :src="uploadurl + siteinfo.Logo.path"></b-img>
              </router-link>
            <b-button class="sticky padding-right-none mobile-language" variant="link" v-on:click="changeLang('en')" >ENG</b-button>
            <b-button  class="sticky mobile-language" variant="link" v-on:click="changeLang('bg')" >BG</b-button>
              <b-navbar-toggle target="nav-collapse-sticky"></b-navbar-toggle>

          <b-collapse id="nav-collapse-sticky" class="no-margin-left-mobile justify-content-center ml-0"  is-nav>
            <b-navbar-nav v-for="(item,index) in items" :key="index+4" >
              <b-nav-item-dropdown :text="item.Title" v-if="item.Is_parent ">
                <b-dropdown-item   v-for="(item,index) in itemsFilterbyalias(item.Alias_slug)" :key="index+5">
                  <router-link v-if="lang" :to="'/' + lang  + '/' + item.Alias_slug">{{item.Title}}</router-link>
                  <router-link v-else :to="'/' + $parent.lang  + '/' + item.Alias_slug">{{item.Title}}</router-link>
                </b-dropdown-item>
            </b-nav-item-dropdown>
              <b-nav-item v-if="item.Is_parent == false && item.Has_parent == false && item.Show_in_menu">
                <router-link v-if="lang" :to="'/' + lang + '/' + item.Alias_slug">{{item.Title}}</router-link>
                <router-link v-else :to="'/' + $parent.lang  + '/' + item.Alias_slug">{{item.Title}}</router-link>
              </b-nav-item>
            </b-navbar-nav>
              <router-link v-if="lang" :to="'/' + lang + '/booking'" class="btn-booking btn-booking-sticky" >{{lokalize.book_now_button}}</router-link>
              <router-link v-else :to="'/' + $parent.lang + '/booking'" class="btn-booking btn-booking-sticky" >{{lokalize.book_now_button}}</router-link>
          </b-collapse> 
            <b-button class="sticky padding-right-none desktop-language" variant="link" v-on:click="changeLang('en')" >ENG</b-button>
            <b-button  class="sticky desktop-language" variant="link" v-on:click="changeLang('bg')" >BG</b-button>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
    </div>
    <search-form-inner></search-form-inner>
  </div>
</template>

<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey} from '../config.js'
import SearchFormInner from './SearchFormInner'



export default {
  props: ['lang'],
  name: 'headers',
  components: {
    SearchFormInner
  },
    data: function () {
      return {
        items: [],
        lokalize: [],
        siteinfo: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        scrollPosition: null,
        language: this.$route.params.lang,
    }
  },
  methods:{
  itemsFilterbyalias: function(alias) {
    return this.items.filter(function(item) {
      return item.Parent_menu.display == alias && item.Show_in_menu;
    })
  },
   updateScroll() {
      this.scrollPosition = window.scrollY
    },
  changeLang(lang){
    var path = this.$route.path.split("/");
    path[1] = lang;
    this.language = lang;

    var newPath = "";
    for (var i=1 ; i < 5 ; i++){
      if(path[i] != '' && path[i] != undefined){
      newPath += "/" + path[i];
      }
     
    }

    this.$router.push({ path: newPath});
  }
},
computed: {
  last(){
     return Object.keys(this.person).length-1;
  }
},
  mounted: function() {
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.items = jsonData.entries

          }),

  fetch( apiUrl + '/api/singletons/get/main?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
          method: 'get'
        })
        .then((response) => {
          return response.json()
        })
        .then((jsonData) => {

          this.siteinfo = jsonData

        }),
     window.addEventListener('scroll', this.updateScroll);
     
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
}
</script>

<style scoped>
  .dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0; 
  }
  @media (max-width: 400px) {
  .navbar-toggler {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  .padding-left-63 {
      padding-left: 13px !important;
    }
  }
  @media (max-width: 350px) {
    .contact-icons {
      display: none;
    }
  }
</style>

