<template>
  <swiper ref="mySwiper" :options="swiperOptions">
    <swiper-slide >Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>



<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

  export default {
    props: ['slidesSettings'],
    name: 'HPSwiper',
       components: {
        Swiper,
        SwiperSlide
    },
    data() {
      return {
        swiperOptions: {
          pagination: {
            el: '.swiper-pagination'
          },
          // Some Swiper option/callback...
        },
        // slidesSettings: this.slidesSettings,
      }
    },


    computed: {
        swiper() {
                return this.$refs.mySwiper.$swiper
        // console.log(this.slidesSettings);
        },
        settings() {
            return this.slidesSettings

        
        }
    },
    watch: {
        slidesSettings: [{
        handler: 'getSlidesSettings'
        }]
    },

    methods: {
        getSlidesSettings(settings) {
            if(settings){
                const animationTime = 1000;
                const countSlides = settings.length;
                const swiper = this.swiper;
                let index = 0;
                const nextSlide = () => {
                    const duration = parseInt(settings[index].value.duration); 
                    swiper.slideTo(index, animationTime, false);
                    setTimeout(nextSlide, duration * 1000);
                    index++;
                    index = index % countSlides;
                }
                nextSlide();
            }
        }
    },
    mounted() {
        // console.log('Current Swiper instance object', this.swiper)
        console.log('mounted');
        this.getSlidesSettings(this.slidesSettings)
        // console.log(this.settings());
        let vm = this;

        vm.$nextTick(function () {      
           console.log(vm.slidesSettings);
        });
        // const animationTime = 1000;
        // const countSlides = this.slidesSettings.length;
        // const swiper = this.swiper;
        // const settings = this.slidesSettings;
        // const nextSlide = () => {
        //     const duration = settings[index].value.duration; 
        //     swiper.slideTo(index, animationTime, false);
        //     setTimeout(nextSlide, duration);
        //     index++;
        //     index = index % countSlides;
        // }

        // nextSlide();
    },
    created() {
        console.log('created ----------------> ');
        console.log(this.slidesSettings);
        console.log('created <---------------- ');
    },
    updated() {
        console.log('updated');
    }
  }
</script>