<template>
    <div id="href">
        <app-header :lang = "language"></app-header>
            <Contactus v-if="template == 'contactus'" />
                <div v-else>
            <Main :lang = "language" v-if="template == ''" />
                <div v-else>
            <Newslist :lang = "language" v-if="template == 'newslist'" />
                <div v-else>
            <!-- <Newsinner v-if="template == ''"/>
                <div v-else> -->
            <Yastrebets :lang = "language" v-if="template == 'about'"/>
                <div v-else>
            <Accommodationlist :lang = "language" v-if="template == 'accommodationlist'"/>
                <div v-else>
            <!-- <Accommodationinner v-if="template == ''"/>
                <div v-else> -->
            <Offerlist :lang = "language" v-if="template == 'offerlist'"/>
                <div v-else>
            <!-- <Offerinner v-if="template == ''"/>
                <div v-else> -->
            <Spalist :lang = "language" v-if="template == 'spalist'"/>
                 <div v-else>
            <!-- <Spainner v-if="template == ''"/>
                <div v-else> -->
            <Events :lang = "language" v-if="template == 'events'"/>
                <div v-else>
            <Restaurant :lang = "language"  v-if="template == 'restaurant'"/>
                <div v-else>
            <!-- <Restaurantinner v-if="template == ''"/>
                <div v-else> -->
            <Gallery :lang = "language" v-if="template == 'gallery'"/>
                <div v-else>
            <!-- <Galleryinner v-if="template == ''"/>
                <div v-else> -->
            <Activities  :lang = "language" v-if="template == 'activities'"/>
                <div v-else>
            <!-- <Activitiesinner v-if="template == ''"/> -->
            <Booking :lang="language" v-if="template == 'booking'" />
                <div v-else>
            <!-- <Activitiesinner v-if="template == ''"/> -->
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <!-- </div>
            </div>
            </div>
            </div>
            </div> -->
        <app-footer :lang = "language"></app-footer>
    </div>
</template>


<script>
import {apiUrl, apiKey} from '../config.js'
import Header from './Header.vue';
import Footer from './Footer.vue';
import Main from "./Main.vue";
import Contactus from "./Contactus.vue";
import Newslist from "./Newslist.vue";
import Newsinner from "./Newsinner.vue";
import Yastrebets from "./Yastrebets.vue";
import Accommodationlist from "./Accommodationlist.vue";
import Accommodationinner from "./Accommodationinner.vue";
import Offerlist from "./Offerlist.vue";
import Offerinner from "./Offerinner.vue";
import Spalist from "./Spalist.vue";
import Spainner from "./Spainner.vue";
import Events from "./Events.vue";
import Restaurant from "./Restaurant.vue";
import Restaurantinner from "./Restaurantinner.vue";
import Gallery from "./Gallery.vue";
import Galleryinner from "./Galleryinner.vue";
import Activities from "./Activities.vue";
import Activitiesinner from "./Activitiesinner.vue";
import Booking from "./Booking.vue";

export default { 

    name: 'href',
    components: {   
        'app-header': Header,
        'Main': Main,
        'app-footer': Footer,
        'Contactus': Contactus,
        'Newslist': Newslist,
        // 'Newsinner': Newsinner,
        'Yastrebets': Yastrebets,
        'Accommodationlist': Accommodationlist,
        // "Accommodationinner": Accommodationinner,
        'Offerlist': Offerlist,
        // 'Offerinner': Offerinner,
        'Spalist': Spalist,
        // 'Spainner': Spainner,
        'Events': Events,
        'Restaurant': Restaurant,
        // 'Restaurantinner': Restaurantinner,
        'Gallery': Gallery,
        // 'Galleryinner': Galleryinner,
        'Activities': Activities,
        // 'Activitiesinner': Activitiesinner
        'Booking': Booking,
  },
    data: function () {
      return {

        language: this.$route.params.lang,
        alias: this.$route.params.alias,
        template: '',

    }
  },
    mounted: function() {
        fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
        method: 'get'
        })
        .then((response) => {
        return response.json()
        })
        .then((jsonData) => {

        this.hrefitems = jsonData.entries
        jsonData.entries.map((item) => {
            if(item.Alias_slug == this.$route.params.alias){
                this.template = item.template
            }
        })

        })
       
    }
    
}
</script>