<template>
    <div id="href">
        <app-header :lang="language"></app-header>
        <!-- <Contactus  />
            <Newslist  />
            <Yastrebets  />
            <Accommodationlist  />
            <Offerlist  />
            <Spalist  />
            <Events  />
            <Restaurant  />
            <Gallery />
        <Activities />-->

        <Newsinner :lang="language" v-if="template == 'newslist'" />
        <div v-else>
            <Accommodationinner :lang="language" v-if="template == 'accommodationlist'" />
            <div v-else>
                <Spainner :lang="language" v-if="template == 'spalist'" />
                <div v-else>
                    <Offerinner :lang="language" v-if="template == 'offerlist'" />
                    <div v-else>
                        <Restaurantinner :lang="language" v-if="template == 'restaurant'" />
                        <div v-else>
                            <Galleryinner :lang="language" v-if="template == 'gallery'" />
                            <div v-else>
                                <Activitiesinner :lang="language" v-if="template == 'activities'" />
                                <div v-else>
                                    <Booking :lang="language" v-if="template == 'booking'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer :lang="language"></app-footer>
    </div>
</template>


<script>
import { apiUrl, apiKey } from "../config.js";
import Header from "./Header.vue";
import Footer from "./Footer.vue";
import Contactus from "./Contactus.vue";
import Newslist from "./Newslist.vue";
import Newsinner from "./Newsinner.vue";
import Yastrebets from "./Yastrebets.vue";
import Accommodationlist from "./Accommodationlist.vue";
import Accommodationinner from "./Accommodationinner.vue";
import Offerlist from "./Offerlist.vue";
import Offerinner from "./Offerinner.vue";
import Spalist from "./Spalist.vue";
import Spainner from "./Spainner.vue";
import Events from "./Events.vue";
import Restaurant from "./Restaurant.vue";
import Restaurantinner from "./Restaurantinner.vue";
import Gallery from "./Gallery.vue";
import Galleryinner from "./Galleryinner.vue";
import Activities from "./Activities.vue";
import Activitiesinner from "./Activitiesinner.vue";
import Booking from "./Booking.vue";

export default {
    name: "href",
    components: {
        "app-header": Header,
        "app-footer": Footer,
        Contactus: Contactus,
        Newslist: Newslist,
        Newsinner: Newsinner,
        Yastrebets: Yastrebets,
        Accommodationlist: Accommodationlist,
        Accommodationinner: Accommodationinner,
        Offerlist: Offerlist,
        Offerinner: Offerinner,
        Spalist: Spalist,
        Spainner: Spainner,
        Events: Events,
        Restaurant: Restaurant,
        Restaurantinner: Restaurantinner,
        Gallery: Gallery,
        Galleryinner: Galleryinner,
        Activities: Activities,
        Activitiesinner: Activitiesinner,
        Booking: Booking,
    },
    data: function () {
        return {
            language: this.$route.params.lang,
            alias: this.$route.params.alias,
            template: "",
            accommodationinner: [],
        };
    },
    mounted: function () {
        fetch(
            apiUrl +
                "/api/collections/get/navigation?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "get",
            }
        )
            .then((response) => {
                return response.json();
            })
            .then((jsonData) => {
                this.hrefitems = jsonData.entries;
                jsonData.entries.map((item) => {
                    if (item.Alias_slug == this.$route.params.aliasfirst) {
                        this.template = item.template;
                    }
                });
            });
    },
};
</script>