<template>
    <div id="mains">
        <helmet-provider>
            <div>
                <helmet>
                    <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                    <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
                </helmet>
            </div>
        </helmet-provider>
        <vue-headful
            :title="maininfo.Meta_title"
            :description="maininfo.Meta_description"
            :keywords="maininfo.Meta_keywords"
            v-if="maininfo.Meta_image"
            :image="maininfo.Meta_image.path"
            v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
      <!--  <div>
            <b-container fluid class="no-padding-left-right position-relative">
                <carousel :centerMode="true" :per-page="1" :autoplay="true" :loop="true" :autoplayTimeout="3600" :navigation-enabled="true" paginationPosition="bottom-overlay">
                    <slide v-for="(item,index) in maininfo.Slider" :key="index">
                        <h1 class="title-carousel d-none d-sm-block" v-if="item.value.title">{{item.value.title}}</h1>
                        <h2 class="text-carousel d-none d-sm-block" v-if="item.value.description" >{{item.value.description}}</h2>
                        <img v-if="item.value.Image"  :alt="item.value.Image.title" class="image-carousel-home" :src="mainUrl + item.value.Image.path">
                        <div class="hp-slide-img" v-if="item.value.Image" v-bind:style="{ 'backgroundImage': 'url('+mainUrl+item.value.Image.path + ')' } "></div>
                        <div class="video-container" v-if="item.value.videoID">
                            <youtube :video-id="item.value.videoID" :player-vars="playerVars" ref="youtube" @ready="ready()" @ended="playVideo"></youtube>
                        </div>
                    </slide>
                </carousel>
                <div class="mute-btn">
                    <div v-if="playerVars.mute == 1"> 
                        <button @click="muteVideo">
                            <img v-bind:src="Domain + volIco[1].muteImgSrc" height="20px"/>
                        </button>
                    </div>
                    <div v-else="">
                        <button @click="unMuteVideo">
                            <img v-bind:src="Domain + volIco[0].unMuteImgSrc" height="20px"/>
                        </button>
                    </div>
                </div>
            </b-container>
        </div> -->
        <div>
            <b-container fluid class="no-padding-left-right position-relative" v-if="maininfo.Slider">
                <swiper class="hp-swiper-slider " ref="mySwiper" :options="swiperOption" @slideChange="changeSwiperIndex">
                    <swiper-slide class="slide-container position-static" v-for="(item,index) in maininfo.Slider" :key="index" :data-swiper-autoplay="item.value.duration*1000">
                        <h1 class="title-carousel d-none d-sm-block" v-if="item.value.title">{{item.value.title}}</h1>
                        <h2 class="text-carousel d-none d-sm-block" v-if="item.value.description" >{{item.value.description}}</h2>
                        <div class="hp-slide-img" v-if="item.value.Image" v-bind:style="{ 'backgroundImage': 'url('+cockpitUrl+item.value.Image.path + ')' } "></div>
                        <div class="video-container h-100 d-flex align-items-center" v-else-if="item.value.videoID">
                            <div class="mute-btn">
                                <button @click="toggleMute">
                                    <img :src="Domain + volIco[playerVars.mute].img" height="20px"/>
                                </button>
                            </div>
                            <youtube :video-id="item.value.videoID" ref="youtube" @playing="playing" :player-vars="Object.assign({}, playerVars, {autoplay: index === 0, playlist: item.value.videoID})"></youtube>
                        </div>
                    </swiper-slide>
                    <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
                    <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                    <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                </swiper>
                <!-- <home-page-swiper v-bind:slidesSettings="maininfo.Slider" ></home-page-swiper> -->
            </b-container>
        </div>
        <search-form></search-form>
   
        <br />
        <b-container>
            <b-row class="py-2 py-sm-4 my-md-3"></b-row>
            <b-row class="pb-3 pb-md-5 mb-0 mb-xl-3">
                <b-col
                    xl="6"
                    md="6"
                    xs="12"
                    class="text-left px-0 px-sm-3"
                    v-if="lokalize.Welcome_heading && lokalize.Welcome_subtitle"
                >
                    <h2 class="subtitte">{{lokalize.Welcome_subtitle}}</h2>
                    <h1 class="title">{{lokalize.Welcome_heading}}</h1>
                    <hr class="hr-home" />
                </b-col>
                <b-col
                    xl="6"
                    md="6"
                    xs="12"
                    class="pr-0 pr-sm-3 pl-0 pl-sm-3 pl-md-5"
                    v-html="maininfo.Welcome_description"
                >
                    <p class="text-home">{{maininfo.Welcome_description}}</p>
                </b-col>
                <b-col
                    xl="6"
                    md="6"
                    xs="12"
                    class="pl-0 pl-sm-3 pl-md-5"
                    v-for="(item,index) in navigationtitles"
                    :key="index+2"
                >
                    <router-link
                        v-if="item.Module_name == 'foryastrebets' && lang"
                        class="read-more-home-text"
                        :to="'/' + lang + '/' + item.Alias_slug +'/' "
                    >
                        <span
                            class="col-md-12 col-xl-12 col-xs-12 col-lg-12 padding-left-none"
                        >{{lokalize.view_more_button}}</span>
                        <i class="fas fa-arrow-right"></i>
                    </router-link>
                    <router-link
                        v-else-if="item.Module_name == 'foryastrebets'"
                        class="read-more-home-text"
                        :to="'/' + $parent.lang + '/' + item.Alias_slug +'/' "
                    >
                        <span
                            class="col-md-12 col-xl-12 col-xs-12 col-lg-12 padding-left-none"
                        >{{lokalize.view_more_button}}</span>
                        <i class="fas fa-arrow-right"></i>
                    </router-link>
                </b-col>
            </b-row>
            <br />
            <b-row>
                <b-col class="px-0 px-sm-3">
                    <b-img
                        :alt="maininfo.Welcome_image.title"
                        v-if="maininfo.Welcome_image"
                        :src="uploadurl + maininfo.Welcome_image.path"
                        fluid
                    ></b-img>
                </b-col>
            </b-row>
            <br />
            <b-row class="pt-3 pt-sm-5 pb-3 pb-sm-5">
                <b-col class="pt-4 pt-sm-5 pb-0 pb-sm-3 px-0 px-ms-3">
                    <b-col class="text-align-center" v-if="lokalize.Activity_subtitle ">
                        <h2 class="subtitte">{{lokalize.Activity_subtitle}}</h2>
                    </b-col>
                    <b-col class="text-align-center" v-if="lokalize.Activity_heading ">
                        <h1 class="title">{{lokalize.Activity_heading}}</h1>
                    </b-col>
                </b-col>
            </b-row>
            <b-row xl="12">
                <div
                    v-for="(item,index) in navigationtitles"
                    :key="index+3"
                    v-show="item.Module_name == 'summer_activities' || item.Module_name == 'winter_activities'"
                    class="col-xl-6 col-md-6 col-xs-12 mb-5 mb-md-0 accommodation-image-line px-0 px-sm-3"
                    style="overflow: hidden; display: inline;"
                >
                    <div class="activities-div padding-right-none img-hover-zoom">
                        <router-link
                            v-if="lang"
                            :to="'/' + lang + '/'+ item.Alias_slug"
                            class="link-offer"
                        >
                            <b-img
                                v-if="item.Cover_image"
                                :alt="item.Cover_image.title"
                                class="activities-image zoom object-fit"
                                :src="uploadurl + item.Cover_image.path"
                            ></b-img>
                        </router-link>
                        <router-link
                            v-else
                            :to="'/' + $parent.lang + '/'+ item.Alias_slug"
                            class="link-offer"
                        >
                            <b-img
                                v-if="item.Cover_image"
                                :alt="item.Cover_image.title"
                                class="activities-image zoom object-fit"
                                :src="uploadurl + item.Cover_image.path"
                            ></b-img>
                        </router-link>
                    </div>
                    <router-link v-if="lang" :to=" '/' + lang + '/'+ item.Alias_slug">
                        <h1
                            class="activities-title padding-left-30 pt-0 pt-md-4 mt-2"
                        >{{item.Cover_Title}}</h1>
                    </router-link>
                    <router-link v-else :to=" '/' + $parent.lang + '/'+ item.Alias_slug">
                        <h1
                            class="activities-title padding-left-30 pt-0 pt-md-4 mt-2"
                        >{{item.Cover_Title}}</h1>
                    </router-link>
                    <router-link
                        v-if="lang"
                        class="padding-left-30"
                        :to=" '/' + lang + '/' + item.Alias_slug"
                    >
                        <span class="read-more-home-text">
                            {{lokalize.read_more_button}}
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </router-link>
                    <router-link
                        v-else
                        class="padding-left-30"
                        :to=" '/' + $parent.lang + '/' + item.Alias_slug"
                    >
                        <span class="read-more-home-text">
                            {{lokalize.read_more_button}}
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </router-link>
                </div>
            </b-row>
        </b-container>
        <b-container fluid>
            <b-row xl="12" class="pt-4 pt-md-5 mt-0 mt-md-5">
                <div
                    class="col-xl-4 col-md-4 col-xs-12 accommodation-image-line no-padding border-white"
                    style="overflow: hidden"
                    v-for="(item,index) in accommodationitems"
                    :key="index+4"
                    v-show="item.Show_on_home_page"
                >
                    <div class="content activities-div">
                        <div class="content-overlay"></div>
                        <b-img
                            class="content-image activities-image zoom object-fit"
                            :alt="item.Image.title"
                            :src="uploadurl + item.Image.path"
                            fluid
                        ></b-img>
                        <div class="content-details fadeIn-bottom">
                            <h1 class="content-title padding-bottom-10">{{item.Title}}</h1>
                            <p
                                class="content-text padding-bottom-10"
                                v-html="item.Short_description"
                            >{{item.Short_description}}</p>
                            <div v-for="(nav,index) in navigationtitles" :key="index+5">
                                <router-link
                                    v-if="nav.Module_name == 'accommodation' && lang"
                                    :to="'/' + lang + '/'+ nav.Alias_slug +'/' + item.Alias_slug"
                                    class="btn-home"
                                >
                                    {{lokalize.room_detail_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </router-link>
                                <router-link
                                    v-else-if="nav.Module_name == 'accommodation'"
                                    :to="'/' + $parent.lang + '/'+ nav.Alias_slug +'/' + item.Alias_slug"
                                    class="btn-home"
                                >
                                    {{lokalize.room_detail_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <b-row
                class="padding-bottom-20 align-items-center"
                v-for="(item2,index) in offersitems"
                :key="index+6"
                v-show="item2.Highlight_offer "
            >
                <b-col
                    style="text-aling:left "
                    xl="4"
                    md="12"
                    xs="12"
                    class="padding-left-right-100 padding-left-right-15-mobile padding-top-40 padding-bottom-40"
                >
                    <h2 class="subtitte">{{item2.Subtitle}}</h2>
                    <h1 class="small-title margin-bottom-40">{{item2.Title}}</h1>
                    <span class="text" v-html="item2.Short_description">{{item2.Short_description}}</span>
                    <b-col xl="12" class="padding-left-none margin-top-60">
                        <div v-for="(nav,index) in navigationtitles" :key="index+7">
                            <router-link
                                v-if="nav.Module_name == 'offers' && lang"
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/'  + item2.Alias_slug + '/' + item2.Packages[0].value.Alias "
                            >
                                <span class="read-more-home-text">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'offers'"
                                :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/'  + item2.Alias_slug + '/' + item2.Packages[0].value.Alias "
                            >
                                <span class="read-more-home-text">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </router-link>
                        </div>
                    </b-col>
                </b-col>
                <b-col
                    xl="8"
                    md="12"
                    sm="12"
                    class="padding-top-10 px-0 px-sm-3"
                    style="min-height: 437px;"
                >
                    <b-img
                        v-if="item2.Highlight_offer"
                        :alt="item2.Image.title"
                        class="accommodation-image-home image-crop-responsive padding-right-10 padding-right-mobile-10"
                        :src="uploadurl + item2.Image.path"
                        fluid
                    ></b-img>
                </b-col>
            </b-row>
            <b-row class="d-flex align-items-center">
                <b-col
                    id="second"
                    xl="7"
                    md="12"
                    sm="12"
                    class="px-0 px-sm-3"
                    style="min-height: 437px;"
                >
                    <b-img
                        v-if="maininfo.Awards_Image"
                        :alt="maininfo.Awards_Image.title"
                        class="accommodation-image-home image-crop-responsive padding-left-10 padding-left-mobile-10"
                        :src="uploadurl + maininfo.Awards_Image.path"
                        fluid
                    ></b-img>
                </b-col>
                <b-col
                    id="first"
                    style="text-aling:left"
                    xl="5"
                    md="12"
                    xs="12"
                    class="padding-left-right-100 padding-left-right-15-mobile padding-top-20"
                >
                    <h2 class="subtitte">{{maininfo.Awards_subtitle}}</h2>
                    <h1 class="small-title margin-bottom-40">{{maininfo.Awards_title}}</h1>
                    <span class="text" v-html="maininfo.Awards_text">{{maininfo.Awards_text}}</span>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col xl="12" md="12" xs="12" class="pt-5 mt-0 mt-md-5 text-center">
                    <h2 class="subtitte" v-if="lokalize.more">{{lokalize.more}}</h2>
                    <h1
                        class="title pb-4 pb-sm-5 mb-0 mb-md-3"
                        style
                        v-if="lokalize.offers"
                    >{{lokalize.offers}}</h1>
                </b-col>
            </b-row>
            <b-row class="mb-0 mb-xl-5">
                <b-col
                    xl="4"
                    lg="4"
                    md="12"
                    xs="12"
                    class="px-0 px-sm-2 mb-3"
                    v-for="(item3,index) in offersitems"
                    :key="index+13"
                    v-show="item3.Show_on_home_page"
                >
                    <div
                        class="see-also-home"
                        v-for="(nav,index) in navigationtitles"
                        :key="index+8"
                        v-show="nav.Module_name == 'offers'"
                    >
                        <router-link
                            v-if="nav.Module_name == 'offers' && item3.Alias_slug && lang"
                            :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item3.Alias_slug + '/' + item3.Packages[0].value.Alias"
                            class="view-more-button"
                        >
                            <b-img
                                class="see-also-picture"
                                v-if="item3.Image"
                                :alt="item3.Image.title"
                                :src="uploadurl + item3.Image.path"
                                fluid
                            ></b-img>
                            <div class="view-more-button">
                                <h1
                                    class="see-also-title margin-left-30 margin-bottom-30 mt-4"
                                >{{item3.Title}}</h1>
                                <h4 class="margin-left-30 view-more">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </h4>
                            </div>
                        </router-link>
                        <router-link
                            v-else-if="nav.Module_name == 'offers' && item3.Alias_slug "
                            :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item3.Alias_slug + '/' + item3.Packages[0].value.Alias"
                            class="view-more-button"
                        >
                            <b-img
                                class="see-also-picture"
                                v-if="item3.Image"
                                :alt="item3.Image.title"
                                :src="uploadurl + item3.Image.path"
                                fluid
                            ></b-img>
                            <div class="view-more-button">
                                <h1
                                    class="see-also-title margin-left-30 margin-bottom-30 mt-4"
                                >{{item3.Title}}</h1>
                                <h4 class="margin-left-30 view-more">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </h4>
                            </div>
                        </router-link>
                    </div>
                </b-col>
            </b-row>
            <b-row class="padding-top-80 padding-bottom-20">
                <b-col>
                    <b-col class="text-align-center" v-if="maininfo.Testimonials_subtitle ">
                        <h2 class="subtitte">{{maininfo.Testimonials_subtitle}}</h2>
                    </b-col>
                    <b-col class="text-align-center" v-if="maininfo.Testimonials_heading ">
                        <h1 class="title">{{maininfo.Testimonials_heading}}</h1>
                    </b-col>
                    <b-col class="text-align-center pt-3 pt-sm-4 pt-md-5">
                        <i class="fas fa-quote-left" style="color: #caac62"></i>
                    </b-col>
                </b-col>
            </b-row>
        </b-container>
        <b-container id="TestimonialsHeading">
            <b-col xl="12" lg="12" md="12" xs="12" class="mb-4 pb-0 pb-md-5">
                <b-carousel
                    id="carousel-2"
                    v-model="slide"
                    :interval="6000"
                    controls
                    background="#fff"
                    style="color:black !important; font-wieght: 400;"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd"
                >
                    <b-carousel-slide
                        v-for="(item4,index) in maininfo.Testimonials"
                        :key="index+11"
                        :caption-html="item4.value.Description + '<br>' + '<br>' + '<br>' "
                        :text-html="'<b>' + item4.value.Source + '</b>' + '<br>' +  item4.value.Name"
                    ></b-carousel-slide>
                </b-carousel>
            </b-col>
        </b-container>
    </div>

</template>


<script>
import { uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl, Domain } from "../config.js";
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
// import { Carousel, Slide } from "vue-carousel";
import VueYoutube from 'vue-youtube'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
// import HomePageSwiper from './HPSwiper' //custom swiper
import 'swiper/css/swiper.css'
import SearchForm from './SearchForm'

export default {
    props: ["lang"],
    name: "mains",
    components: {
        HelmetProvider,
        Helmet,
        // Carousel,
        // Slide,
        Swiper,
        SwiperSlide,
        SearchForm,
        // HomePageSwiper,
        VueYoutube
    },
    data: function() {
        return {
            playerVars: {
                autoplay: 0,
                disablekb: 1,
                loop: 1,
                controls: 0,
                rel: 0,
                showinfo: 0,
                mute: 1,
                modestbranding: 1,
                enablejsapi: 1,
                fs: 0,
			},
            swiperOption: {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },
                autoplay: {
                    disableOnInteraction: false
                } 
            },
            volIco:[
                {img:"src/assets/images/volume-up.svg"},
                {img:"src/assets/images/volume-slash.svg"}
            ],
            maininfo: [],
            videosMap: [],
            taburl: "",
            accommodationitems: [],
            offersitems: [],
            foryastrebets: [],
            summer_activities: [],
            navigationtitles: [],
            lokalize: [],
            slide: 0,
            isLoop: true,
            sliding: null,
            randomoffer: [],
            alias: this.$route.params.alias,
            uploadurl: uploadsUrl,
            cockpitUrl: cockpitUrl,
            breadcrumb: this.$route.params.lang,
			mainUrl: mainUrl,
			Domain: Domain,
            metaUrl: "",
            endUrl: "",
        };
    },
    methods: {
        onSlideStart() {
            this.sliding = true;
        },
        onSlideEnd() {
            this.sliding = false;
        },
        // playVideo() {
        //     this.player.playVideo()
        // },
        playing() {
            // console.log('we are watching!!!')
            // this.$refs.youtube[0].player.playVideo()
        },
        changeSwiperIndex () { 
            const slideIndex = this.$refs.mySwiper.$swiper.snapIndex;
            this.pauseAllVideos();
            if (this.videosMap[slideIndex] !== null){
                const videoIndex = this.videosMap[slideIndex]
                this.playVideo(videoIndex);
            }
        },
        // ready() {
        //     if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        //         this.playerVars.mute = 0;
        //     } else {
        //         this.$refs.youtube[0].player.unMute();
        //     }
        //     this.$refs.youtube[0].player.playVideo();
        // },
        playVideo(videoIndex) {   //do the video loop
            this.$refs.youtube[videoIndex].player.playVideo();
        },
        pauseAllVideos() {
            this.$refs.youtube.forEach((item)=>{ item.player.pauseVideo()} )
        },

        toggleMute() {
            if(this.playerVars.mute){
                this.$refs.youtube.forEach(item => item.player.unMute());
                this.playerVars.mute = 0;
            }else{
                this.$refs.youtube.forEach(item => item.player.mute());
                this.playerVars.mute = 1;
            }
        },
        randomNumber: function() {
            var shuffled = this.randomoffer
                .map(x => {
                    return { data: x, srt: Math.random() };
                })
                .sort((a, b) => {
                    return a.srt - b.srt;
                })
                .map(x => x.data);
            var reti = [];
            reti.push(shuffled[0]);
            reti.push(shuffled[1]);
            reti.push(shuffled[2]);

            return reti;
        }
    },
    computed: {
        // player() {
        //     return this.$refs.youtube[0].player
        // },
    },
    mounted: function() {
    
        fetch(
            apiUrl +
                "/api/singletons/get/home?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "get"
            }
        )
            .then(response => {
                return response.json();
            })
            .then(jsonData => {
                this.maininfo = jsonData;
                let videoIndex = 0;
                this.videosMap = jsonData.Slider.map(slide => {
                    if(slide.value.videoID){
                        return videoIndex++;
                    }else{
                        return null;
                    }
                });
            }),
            fetch(
                apiUrl +
                    "/api/collections/get/navigation?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.navigationtitles = jsonData.entries;
                }),
            fetch(
                apiUrl +
                    "/api/singletons/get/foryastrebets?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.foryastrebets = jsonData;
                });
        fetch(
            apiUrl +
                "/api/collections/get/accommodation?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "get"
            }
        )
            .then(response => {
                return response.json();
            })
            .then(jsonData => {
                this.accommodationitems = jsonData.entries;
            }),
            fetch(
                apiUrl +
                    "/api/collections/get/offers?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.offersitems = jsonData.entries;
                }),
            fetch(
                apiUrl +
                    "/api/collections/get/offers?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.randomoffer = jsonData.entries;
                }),
            fetch(
                apiUrl +
                    "/api/lokalize/project/Yastrebets/" +
                    this.$route.params.lang +
                    "?token=" +
                    apiKey +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.lokalize = jsonData;
                });
        
    },

    created: function() {
        var currentUrl = window.location.pathname;
        this.taburl = currentUrl.split("/")[5];
        this.endUrl = currentUrl.split(this.breadcrumb + "/")[1];

        var currentmetaUrl = window.location.href;
        this.metaUrl = currentmetaUrl;
    }
};
</script>

<style scoped>
    .swiper-container {
        max-height: 100vh !important;
    }
    .see-also-home {
        margin-bottom: 120px;
    }
    .slide-container {
        --fullWidth: 100vw;
        --height: calc(var(--fullWidth) / 1.80);
        height: var(--height) !important;
        /* min-height: 50vh; */
    }
    .video-container {
        position: relative;
        /* padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-top: -105px; */
        width: 100%;
    }
    .mute-btn {
        position: absolute;
        /* top: -10px;
        bottom:-35px; */
        right: 3%;
        z-index: 100;
        bottom: 15% !important;
    }
    .mute-btn button {
        background: transparent;
        border: none;
        outline: none !important;
    }
    @media (max-width: 400px) {
        /* .mute-btn {
            top: 82%;
        } */
        .mute-btn img {
            filter: invert(96%) sepia(50%) saturate(7140%) hue-rotate(180deg) brightness(124%) contrast(106%);
        }
    }
    @media (min-width: 400px) {
        /* .mute-btn {
            top: 91%;
        } */
        .mute-btn img {
            filter: invert(96%) sepia(50%) saturate(7140%) hue-rotate(180deg) brightness(124%) contrast(106%);
        }
    }
    @media (min-width: 1200px) {
        /* .mute-btn {
            top: 89%;
        } */
    }
    @media (min-width: 1500px) {
        /* .mute-btn {
            top: 87%;
        } */
    }
</style>
