<template>
    <div id="newsinner">
        <helmet-provider>
            <div>
                <helmet>
                    <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                    <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
                </helmet>
            </div>
        </helmet-provider>
        <div v-for="(cover,index) in newsinner" :key="index+6">
            <vue-headful
                :title="cover.Meta_title"
                :description="cover.Meta_description"
                :keywords="cover.Meta_keywords"
                :image="cover.Meta_image.path"
                v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl"
            />
            <div
                v-if="cover.Cover_image"
                class="cover-header"
                :aria-label="cover.Cover_image.title"
                :style="{ 'background-image': 'url('+ uploadurl + cover.Cover_image.path + ')' }"
            >
                <!-- <app-header :lang="language"></app-header> -->
            </div>
            <b-container
                class="pt-4 pt-sm-5"
                itemscope
                itemtype="https://schema.org/BreadcrumbList"
            >
                <div class="icons-display-flex flex-wrap">
                    <i class="fas fa-home padding-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem"
                    >
                        <router-link :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                            <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
                        </router-link>
                    </span>
                    <i class="fas fa-chevron-right padding-left-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem"
                    >
                        <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
                            <h6 itemprop="name" class="uppercase">{{lokalize.news}}</h6>
                        </router-link>
                    </span>
                    <i class="fas fa-chevron-right padding-left-right-20"></i>
                    <span
                        itemprop="itemListElement"
                        itemscope
                        itemtype="https://schema.org/ListItem"
                    >
                        <h6 itemprop="name" class="uppercase" v-if="cover.Title">{{cover.Title}}</h6>
                    </span>
                </div>
            </b-container>
        </div>
        <b-container class="pt-0 pt-sm-4">
            <br />
            <b-row v-for="(item,index) in newsinner" :key="index">
                <b-col xl="12" class="pr-0 pl-0 pl-sm-3">
                    <b-carousel
                        id="carousel-10"
                        controls
                        indicators
                        background="#ababab"
                        img-width="1024"
                        img-height="400"
                        style="text-shadow: 1px 1px 2px #333;"
                    >
                        <b-carousel-slide
                            id="yastrebets"
                            v-for="(image,index) in item.Image"
                            :key="index+1"
                            v-show="image.path"
                            :img-alt="image.meta.title"
                            :img-src="cockpiturl + image.path"
                        ></b-carousel-slide>
                    </b-carousel>
                </b-col>
                <b-col
                    xl="12"
                    class="padding-newsinner px-0 px-sm-3"
                    v-if="item.Title && 
									item.Date && 
									item.Full_description"
                >
                    <h2 class="subtitte">{{item.Date | formatDate }}</h2>
                    <h1 class="title padding-bottom-30">{{item.Title}}</h1>

                    <span v-html="item.Full_description" class="text-news">{{item.Full_description}}</span>
                </b-col>{{newsinner[0].Ali}}
            </b-row>
            <b-row class="py-5 my-0 my-xl-4"></b-row>
            <b-row class>
                <b-col xl="12" class="text-center pb-3 pb-sm-5">
                    <h2 class="subtitle-after-cover" v-if="lokalize.more">{{lokalize.more}}</h2>
                    <h1 class="title" v-if="lokalize.news">{{lokalize.news}}</h1>
                </b-col>
            </b-row>
            <b-row class="col-xl-12 px-0 px-sm-3">
                <b-col
                    xl="4"
                    class="px-0 px-sm-2"
                    v-for="(item5,index) in randomNumber()"
                    :key="index+10"
                    v-show="item5"
                >
                    <div
                        class
                        v-for="(nav,index) in navigationtitles"
                        :key="index+10"
                        v-show="nav.Module_name == 'news'"
                    >
                        <router-link
                            v-if="nav.Module_name == 'news' && item5 && lang "
                            :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item5.Alias_slug"
                        >
                            <b-img
                                class="see-also-picture"
                                v-if="item5.Image"
                                :alt="item5.Image[0].meta.title"
                                :src="cockpiturl + item5.Image[0].path"
                                fluid
                            ></b-img>
                            <div class="view-more-button">
                                <h1
                                    class="see-also-title mt-2 mt-sm-3 ml-0 ml-sm-4 margin-bottom-30"
                                >{{item5.Title}}</h1>
                                <h4 class="margin-left-30 view-more">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </h4>
                            </div>
                        </router-link>
                        <router-link
                            v-else-if="nav.Module_name == 'news' && item5 "
                            :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item5.Alias_slug"
                        >
                            <b-img
                                class="see-also-picture"
                                v-if="item5.Image"
                                :alt="item5.Image[0].meta.title"
                                :src="cockpiturl + item5.Image[0].path"
                                fluid
                            ></b-img>
                            <div class="view-more-button">
                                <h1
                                    class="see-also-title mt-2 mt-sm-3 ml-0 ml-sm-4 margin-bottom-30"
                                >{{item5.Title}}</h1>
                                <h4 class="margin-left-30 view-more">
                                    {{lokalize.view_more_button}}
                                    <i class="fas fa-arrow-right"></i>
                                </h4>
                            </div>
                        </router-link>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <div class="py-4 py-md-5 my-0 my-xl-4"></div>
    </div>
</template>


<script>
import { uploadsUrl, apiUrl, cockpitUrl, apiKey, mainUrl } from "../config.js";
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import HeaderMenu from "./HeaderMenu.vue";

export default {
    props: ["lang"],
    name: "newsinner",
    components: {
        HelmetProvider,
        Helmet,
        "app-header": HeaderMenu
    },
    data: function() {
        return {
            newsinner: [],
            lokalize: [],
            uploadurl: uploadsUrl,
            navigationtitles: [],
            cockpiturl: cockpitUrl,
            breadcrumb: this.$route.params.lang,
            randomoffer: [],
            mainUrl: mainUrl,
            metaUrl: "",
            endUrl: "",
            newsAlias: "",
            language: this.$route.params.lang,
            aliasfirst: this.$route.params.aliasfirst,
        };
    },
    methods: {
        randomNumber: function() {
            var shuffled = this.randomoffer
                .filter(n => n.Alias_slug != this.newsAlias)
                .map(x => {     
                    return { data: x, srt: Math.random() };
                })
                .sort((a, b) => {
                    return a.srt - b.srt;
                })
                .map(x => x.data);
            var reti = [];
            reti.push(shuffled[0]);
            reti.push(shuffled[1]);
            reti.push(shuffled[2]);
            return reti;
        }
    },
    mounted: function() {
        fetch(
            apiUrl +
                "/api/collections/get/news?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    filter: { Alias: this.$route.params.alias }
                })
            }
        )
            .then(response => {
                return response.json();
            })
            .then(jsonData => {
                this.newsinner = jsonData.entries;
            }),
            fetch(
                apiUrl +
                    "/api/collections/get/navigation?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.navigationtitles = jsonData.entries;
                }),
            fetch(
                apiUrl +
                    "/api/lokalize/project/Yastrebets/" +
                    this.$route.params.lang +
                    "?token=" +
                    apiKey +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.lokalize = jsonData;
                }),
            fetch(
                apiUrl +
                    "/api/collections/get/news?token=" +
                    apiKey +
                    "&lang=" +
                    this.$route.params.lang +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.randomoffer = jsonData.entries;
                });
    },
    //   methods: {
    //     randomNumber: function() {
    //         console.log(this.endUrl)
    //         console.log(this.newsinner[0])
    //         var shuffled = this.randomoffer
    //             .map(x => {
    //                 // console.log(x.Alias)
                    
    //                 return { data: x, srt: Math.random() };
    //             })
    //             .sort((a, b) => {
    //                 return a.srt - b.srt;
    //             })
    //             .map(x => x.data);
    //         var reti = [];
    //         reti.push(shuffled[0]);
    //         reti.push(shuffled[1]);
    //         reti.push(shuffled[2]);
    //         return reti;
    //     }
    // },


    created: function() {
        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + "/")[1];
        this.newsAlias = currentUrl.split("/").slice(-1)[0]
    }
};
</script>

