<template>
    <div id="newslist">
        <helmet-provider>
            <div>
                <helmet>
                    <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                    <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
                </helmet>
            </div>
        </helmet-provider>
        <span v-for="(meta,index) in navigationtitles" :key="index">
            <vue-headful
                v-if="meta.Alias == alias"
                :title="meta.Meta_title"
                :description="meta.Meta_description"
                :keywords="meta.Meta_keywords"
                :image="meta.Meta_image.path"
                v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl"
            />
            <span v-else></span>
        </span>
        <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
            <div class="icons-display-flex">
                <i class="fas fa-home padding-right-20"></i>
                <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <router-link :to="{ name: 'mains', params: { lang: breadcrumb  }}">
                        <h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6>
                    </router-link>
                </span>
                <i class="fas fa-chevron-right padding-left-right-20"></i>
                <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <h6 itemprop="name" class="uppercase">{{lokalize.news}}</h6>
                </span>
            </div>
        </b-container>
        <!-- <div class="w-100 py"></div> -->
        <b-container class="pt-4 pt-sm-5 mt-0 mt-xl-5">
            <div v-for="(title,index) in navigationtitles" :key="index+'2'">
                <b-col
                    xl="8"
                    offset-xl="2"
                    class="pb-5 text-center"
                    v-if="title.Alias == alias && title.Title_page"
                >
                    <h2 class="subtitle-after-cover">{{title.Subtitle_page}}</h2>
                    <h1 class="title">{{title.Title_page}}</h1>
                </b-col>
            </div>
            <br />
            <div v-for="(item,index) in newslist" :key="index+'3'">
                <b-row
                    sm="12"
                    lg="12"
                    xl="12"
                    md="12"
                    class="d-flex accommodation-image-line accommodation-image-line-mobile accommodation-news-line-mobile margin-bottom-40-mobile"
                    v-if="index % 2==0"
                >
                    <b-col xl="6" lg="6" sm="12" md="12" class="px-0 h-100">
                        <div
                            class="d-flex"
                            v-for="(nav,index) in navigationtitles"
                            :key="index+'4'"
                        >
                            <router-link
                                v-if="nav.Module_name == 'news' && lang "
                                :to="'/' + lang + '/' + nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <b-img
                                    v-if="item.Intro_image"
                                    :alt="item.Intro_image.meta.title"
                                    :src="cockpiturl + item.Intro_image.path"
                                    fluid
                                    class="accommodation-image image-chef-inner-mobile accommodation-image-mobile image-crop-responsive 22"
                                ></b-img>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + $parent.lang + '/' + nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <b-img
                                    v-if="item.Intro_image"
                                    :alt="item.Intro_image.meta.title"
                                    :src="cockpiturl + item.Intro_image.path"
                                    fluid
                                    class="accommodation-image image-chef-inner-mobile accommodation-image-mobile image-crop-responsive"
                                ></b-img>
                            </router-link>
                        </div>
                    </b-col>
                    <b-col
                        class="padding-news padding-news-mobile padding-news-mobile-777 px-0 px-sm-3"
                        v-if="item.Title && 
                    item.Date && 
                    item.Short_description"
                    >
                        <h2 class="subtitte">{{item.Date | formatDate }}</h2>
                        <div v-for="(nav,index) in navigationtitles" :key="index+'5'">
                            <router-link
                                v-if="nav.Module_name == 'news' && lang "
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <h1 class="title-news padding-bottom-10">{{item.Title}}</h1>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <h1 class="title-news padding-bottom-10">{{item.Title}}</h1>
                            </router-link>
                        </div>
                        <p
                            v-html="item.Short_description"
                            class="text-news padding-bottom-10"
                        >{{item.Short_description}}</p>
                        <div v-for="(nav,index) in navigationtitles" :key="index+'6'">
                            <router-link
                                v-if="nav.Module_name == 'news' && lang"
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                                class="view-more-button"
                            >
                                {{lokalize.view_more_button}}
                                <i class="fas fa-arrow-right"></i>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                                class="view-more-button"
                            >
                                {{lokalize.view_more_button}}
                                <i class="fas fa-arrow-right"></i>
                            </router-link>
                        </div>
                    </b-col>
                </b-row>
                <b-row
                    class="d-flex accommodation-image-line accommodation-image-line-mobile accommodation-news-line-mobile margin-bottom-40-mobile"
                    v-else
                >
                    <b-col
                        id="second"
                        xl="6"
                        lg="6"
                        sm="12"
                        md="12"
                        class="padding-news padding-news-mobile padding-news-mobile-777 px-0 px-sm-3"
                        v-if="item.Title && 
                    item.Date && 
                    item.Short_description"
                    >
                        <h2 class="subtitte">{{item.Date | formatDate }}</h2>
                                            <div v-for="(nav,index) in navigationtitles" :key="index+'7'">
                            <router-link
                                v-if="nav.Module_name == 'news' "
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <h1 class="title-news padding-bottom-10">{{item.Title}}</h1>
                            </router-link>
                            <!-- <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <h1 class="title-news padding-bottom-10">{{item.Title}}</h1>
                            </router-link> -->
                        </div>
                        <p
                            v-html="item.Short_description"
                            class="text-news padding-bottom-10"
                        >{{item.Short_description}}</p>
                        <div v-for="(nav,index) in navigationtitles" :key="index+'8'">
                            <router-link
                                v-if="nav.Module_name == 'news' && lang "
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                                class="view-more-button"
                            >
                                {{lokalize.view_more_button}}
                                <i class="fas fa-arrow-right"></i>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                                class="view-more-button"
                            >
                                {{lokalize.view_more_button}}
                                <i class="fas fa-arrow-right"></i>
                            </router-link>
                        </div>
                    </b-col>
                    <b-col id="first" xl="6" lg="6" sm="12" md="12" class="px-0 h-100">
                        <div v-for="(nav,index) in navigationtitles" :key="index+'9'">
                            <router-link
                                v-if="nav.Module_name == 'news' && lang "
                                :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <b-img
                                    v-if="item.Intro_image"
                                    :src="cockpiturl + item.Intro_image.path"
                                    :alt="item.Intro_image.meta.title"
                                    fluid
                                    class="accommodation-image 2-nd image-chef-inner-mobile accommodation-image-mobile image-crop-responsive 00"
                                ></b-img>
                            </router-link>
                            <router-link
                                v-else-if="nav.Module_name == 'news' "
                                :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug"
                            >
                                <b-img
                                    v-if="item.Intro_image"
                                    :src="cockpiturl + item.Intro_image.path"
                                    :alt="item.Intro_image.meta.title"
                                    fluid
                                    class="accommodation-image image-chef-inner-mobile accommodation-image-mobile image-crop-responsive"
                                ></b-img>
                            </router-link>
                        </div>
                    </b-col>
                </b-row>
            </div>
        </b-container>
        <b-row class="py-2 py-lg-5 my-0 my-xl-4"></b-row>
    </div>
</template>


<script>
import { uploadsUrl, apiUrl, cockpitUrl, apiKey, mainUrl } from "../config.js";
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
    props: ["lang"],
    name: "newslist",
    components: { HelmetProvider, Helmet },
    data: function() {
        return {
            newslist: [],
            lokalize: [],
            uploadurl: uploadsUrl,
            cockpiturl: cockpitUrl,
            navigationtitles: [],
            alias: this.$route.params.alias,
            breadcrumb: this.$route.params.lang,
            mainUrl: mainUrl,
            metaUrl: "",
            endUrl: "",
            newsAlias: ""
        };
    },
    methods: {},
    mounted: function() {
        fetch(
            apiUrl +
                "/api/collections/get/navigation?token=" +
                apiKey +
                "&lang=" +
                this.$route.params.lang +
                "",
            {
                method: "get"
            }
        )
            .then(response => {
                return response.json();
            })
            .then(jsonData => {
                this.navigationtitles = jsonData.entries;
                jsonData.entries.map(item => {
                    if (item.Alias == this.$route.params.alias) {
                        this.navModule = item.Module_name;

                        fetch(
                            apiUrl +
                                "/api/collections/get/" +
                                item.Module_name +
                                "?token=" +
                                apiKey +
                                "&lang=" +
                                this.$route.params.lang +
                                "",
                            {
                                method: "get"
                            }
                        )
                            .then(response => {
                                return response.json();
                            })
                            .then(jsonData => {
                                this.newslist = jsonData.entries;
                            });
                    }
                });
            }),
            fetch(
                apiUrl +
                    "/api/lokalize/project/Yastrebets/" +
                    this.$route.params.lang +
                    "?token=" +
                    apiKey +
                    "",
                {
                    method: "get"
                }
            )
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    this.lokalize = jsonData;
                });
    },

    created: function() {
        var currentUrl = window.location.href;
        this.endUrl = currentUrl.split(this.breadcrumb + "/")[1];
    }
};
</script>

