<template>
  <div id="offerinner">  
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
      <div v-for="(cover,index) in offerinner" :key="index">
        <vue-headful
              :title="cover.Meta_title"
              :description="cover.Meta_description"
              :keywords="cover.Meta_keywords"
              :image="cover.Meta_image.path"
              v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :ogLocale="breadcrumb"
              :url="metaUrl"
          />
      <div v-if="cover.Image" 
           class="cover-header"
           :aria-label="cover.Image.title" 
           :style="{ 'background-image': 'url('+ uploadurl + cover.Image.path + ')' }">
          <!-- <app-header :lang="language"></app-header> -->
          <h1 class="cover-title text-center">{{ cover.Title }}</h1>
      </div>
      <b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex flex-wrap">
          <i class="fas fa-home padding-right-20"></i>
           <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
           </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
           <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
                <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
                    <h6 itemprop="name" class="uppercase">{{lokalize.offers_breadcrumb}}</h6>
                </router-link>
           </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
           <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name" class="uppercase" v-if="cover.Title">{{cover.Title}}</h6>
           </span>
        </div>
      </b-container>
      <b-container class="pt-5 mt-2 mt-sm-5">
        <b-row v-for="(item,index) in offerinner" :key="index+2">
          <b-col xl="8" offset-xl="2" class="pl-0 pl-sm-3 pl-md-5 pr-0 pr-sm-3"    
                  v-if="item.Subtitle_packages &&  item.Title_packages && 
                  item.Short_description_packages">
                  <h2 class="subtitle-offers text-center">{{item.Subtitle_packages}}</h2>
                  <h1 class="title text-center padding-bottom-40">{{item.Title_packages}}</h1>
                  <p v-html="item.Short_description_packages" class="description-offers pb-5 mb-0 mb-md-4">{{item.Short_description_packages}}</p>
          </b-col>
        </b-row>
      </b-container>
      <b-container fluid v-for="(packages,index) in offerinner" :key="index+3" class="no-padding-left-right">
        <div v-if="packages.Image_background_packages" 
            class="py-4 py-sm-5 my-0 my-sm-3 offer-background" 
            :aria-label="packages.Image_background_packages.title" 
            :style="{ 'background-image': 'url('+ uploadurl + packages.Image_background_packages.path + ')' }">
            <b-col xl="8" offset-xl="2" class="pl-0 pl-sm-3 pl-md-5 pr-0 pr-sm-3"    
                v-if="packages.Title &&  packages.Subtitle">
                <h2 class="subtitle-offers-inner text-center">{{packages.Subtitle}}</h2>
                <h1 class="title text-white text-center pb-5 mb-0 mb-sm-3">{{packages.Title}}</h1>
            </b-col>
            <div class="icons-display-flex justify-content-center icons-display-flex-mobile-offers col-xl-10 offset-xl-1">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 px-5 padding-bottom-20-mobile" v-for="(item2,index) in cover.Packages" :key="index+4">
                    <div v-for="(nav,index) in navigationtitles" :key="index+11">
                      <router-link  v-if="nav.Module_name == 'offers' && lang" class="d-block offertab py-4" :to="'/' + lang + '/'+ nav.Alias_slug + '/'  + cover.Alias_slug + '/' + item2.value.Alias_slug">
                        <b-row class="text-center">
                            <!-- <div>{{item2.value.Alias_slug}} 11</div> -->
                            <b-col>
                                <simple-svg style="color:white" :alt="item2.value.Icon.title" :class="{svg_size_packages: taburl != item2.value.Alias_slug, svg_size_packages_active: taburl == item2.value.Alias_slug }" v-if="item2.value.Icon.path" :filepath="uploadurl + item2.value.Icon.path"></simple-svg>
                            </b-col>
                        </b-row>
                        <b-row class="text-center display-block one">
                            <b-tabs>
                                {{item2.value.Title}}
                            </b-tabs>
                        </b-row>
                      </router-link>
                      <router-link  v-else-if="nav.Module_name == 'offers'" class="d-block offertab py-4" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/'  + cover.Alias_slug + '/' + item2.value.Alias">
                        <b-row class="text-center">33 {{lang}}
                            <!-- <div>{{taburl}}</div>
                            <div>{{item2.value.Alias_slug}}</div> -->
                            <b-col>
                                <div v-for="(nav,index) in navigationtitles" :key="index+11">
                                    
                                    <router-link  v-if="nav.Module_name == 'offers' && lang" class="offertab" :to="'/' + lang + '/'+ nav.Alias_slug + '/'  + cover.Alias_slug + '/' + item2.value.Alias">
                                        <simple-svg style="color:white" :alt="item2.value.Icon.title" :class="{svg_size_packages: taburl != item2.value.Alias, svg_size_packages_active: taburl == item2.value.Alias }" v-if="item2.value.Icon.path" :filepath="uploadurl + item2.value.Icon.path"></simple-svg>
                                    </router-link>
                                    <router-link  v-else-if="nav.Module_name == 'offers' " class="offertab" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/'  + cover.Alias_slug + '/' + item2.value.Alias">
                                        <simple-svg style="color:white" :alt="item2.value.Icon.title" :class="{svg_size_packages: taburl != item2.value.Alias, svg_size_packages_active: taburl == item2.value.Alias }" v-if="item2.value.Icon.path" :filepath="uploadurl + item2.value.Icon.path"></simple-svg>
                                    </router-link>
                                </div>
                                <simple-svg style="color:white" :alt="item2.value.Icon.title" :class="{svg_size_packages: taburl != item2.value.Alias, svg_size_packages_active: taburl == item2.value.Alias }" v-if="item2.value.Icon.path" :filepath="uploadurl + item2.value.Icon.path"></simple-svg>
                            </b-col>
                        </b-row>
                      <b-row class="text-center display-block two">
                        <b-tabs class="px-2">
                            <!-- <router-link v-for="(nav,index) in navigationtitles" :key="index+12" v-show="nav.Module_name == 'offers'" :class="{offertab: taburl != item2.value.Alias, offertab_active: taburl == item2.value.Alias }" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/'  + cover.Alias_slug + '/' + item2.value.Alias">{{item2.value.Title}}
                            </router-link> -->
                            {{item2.value.Title}}
                        </b-tabs>
                      </b-row>
                    </router-link>
                  </div>
                </div>  
            </div>
        </div>
        </b-container>
        <b-container>
          <div class="col-xl-12 px-0 px-sm-3 padding-top-50 pb-5 mb-0 mb-md-5">
            <span v-for="(item3,index) in cover.Packages" :key="index+5">
            <!-- <div>{{item3.value.Text}}</div> -->
            <p v-if="taburl == item3.value.Alias_slug" v-html="item3.value.Text">{{item3.value.Text}}</p>
            <a  v-if="taburl == item3.value.Alias_slug && item3.value.File != undefined " :href="uploadurl + item3.value.File.path" class="btn-room" >{{item3.value.Button_text}}</a>
            </span>
          </div>

          <div class="col-xl-12 px-0 px-sm-3" >
            <b-carousel
                      id="carousel-10"
                      controls
                      indicators
                      background="#ababab"
                      img-width="1024"
                      img-height="400"
                      style="text-shadow: 1px 1px 2px #333;">
              <b-carousel-slide
                            id="yastrebets"
                            v-for="(item4,index) in cover.Gallery" :key="index+6" v-show="item4.path"
                            :img-alt="item4.meta.title"
                              :img-src="cockpiturl + item4.path">
              </b-carousel-slide>
            </b-carousel>
          </div>
          <b-row class="pt-0 pt-sm-3 pt-md-5 padding-bottom-90">
            <b-col xl="12" class="text-center" v-for="(item4,index) in cover.Attachment" :key="index">
                <a v-if="item4.value" :href="uploadurl + item4.value.File.path" class="btn-room" >{{item4.value.Button_text}}</a>
            </b-col>
          </b-row>
          <b-row>
            <b-col xl="12" class=" text-center pb-3 pb-sm-5">
              <h2 class="subtitte" v-if="lokalize.more">{{lokalize.more}}</h2>
              <h1 class="title" v-if="lokalize.offers">{{lokalize.offers}}</h1>
            </b-col>
          </b-row>
          <b-row class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-bottom-200 margin-bottom-mobile-70 margin-left-right-mobile-0 px-0 px-sm-3">
            <b-col xl="4" lg="4" md="12" xs="12" class="see-also-home  no-padding border-white margin-bottom-120-mobile" v-for="(item5,index) in randomNumber()" v-show="item5" :key="index+10">
              <div class="see-also-home" v-for="(nav,index) in navigationtitles" :key="index+10" v-show="nav.Module_name == 'offers'">
                <router-link  v-if="nav.Module_name == 'offers' && item5 "  :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item5.Alias_slug + '/' + item5.Packages[0].value.Alias_slug" >
                <template v-if="item5.Publish_offer">
                  <b-img class="see-also-picture see-also-picture-mobile" 
                      v-if="item5.Image" 
                      :src="uploadurl + item5.Image.path" 
                      fluid>
                  </b-img>
                  <div class="view-more-button" >
                    <h1 class="see-also-title mt-4 pl-0 pl-sm-4 margin-bottom-30">{{item5.Title}}</h1>
                  <h4 class="ml-0 ml-sm-4 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                  </div>
                </template>
              </router-link>
              <!-- <router-link  v-if="nav.Module_name == 'offers' && item5 && lang"  :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item5.Alias_slug + '/' + item5.Packages[0].value.Alias_slug" >
                <b-img class="see-also-picture see-also-picture-mobile" 
                       v-if="item5.Image" 
                       :src="uploadurl + item5.Image.path" 
                       fluid>
                </b-img>
                <div class="view-more-button" >
                  <h1 class="see-also-title mt-4 pl-0 pl-sm-4 margin-bottom-30">{{item5.Title}}</h1>
                <h4 class="ml-0 ml-sm-4 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                </div>
              </router-link> -->
              </div>
            </b-col>
          </b-row>
          </b-container>    
    </div>    
  </div>
</template>


<script>

import {uploadsUrl, cockpitUrl, mainUrl, apiUrl, apiKey} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import HeaderMenu from './HeaderMenu.vue'

export default {
  props: ['lang'],
  name: 'offerinner',
  components: {
    HelmetProvider, Helmet,
    'app-header': HeaderMenu
  },
    data: function () {
      return {
        tabIndex: 0,
        offerinner: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        // mainurl: mainUrl,
        taburl: '',
        randomoffer: [],
        lokalize:[],
        breadcrumb: this.$route.params.lang,
        aliasfirst: this.$route.params.aliasfirst,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        language: this.$route.params.lang,
        navigationtitles: [],
        offerAlias: "",
    }
  },
  methods:{  
       linkClass(idx) {
        if (this.tabIndex === idx) {
          return ['offer-tab']
        } else {
          return ['offer-tab-test']
        }
      },
      randomNumber : function(){
        var shuffled = this.randomoffer
          .filter(o => o.Alias_slug != this.offerAlias)
          .map(x => { return {data: x, srt: Math.random()}})
          .sort((a,b) => {return a.srt - b.srt})
          .map(x => x.data);
          var reti = [];
          reti.push(shuffled[0]);
          reti.push(shuffled[1]);
          reti.push(shuffled[2]);
          return reti;
      
      }
    },
  mounted: function() {
    fetch( apiUrl + '/api/collections/get/offers?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              filter: {Alias_slug:this.$route.params.alias}
            })
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.offerinner = jsonData.entries

          }),
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.navigationtitles = jsonData.entries
            
          }),
     fetch( apiUrl + '/api/collections/get/offers?token=' + apiKey + '&lang='+this.$route.params.lang+'&filter[Publish_offer]="true"', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.randomoffer = jsonData.entries

          }),
     fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },  
        
  created: function(){

        var currentUrl = window.location.pathname;
        this.tabUrlArray = currentUrl.split("/");
        this.taburl = this.tabUrlArray[this.tabUrlArray.length - 1];
        // this.taburl = currentUrl.split('/')[5];
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.offerAlias = currentUrl.split("/").slice(-2)[0]

      }

  
  
}
</script>

<style scoped>
  .offer-background {
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

