<template>
  <div id="restaurantinner">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
          <vue-headful
              :title="restaurantinner.Meta_title"
              :description="restaurantinner.Meta_description"
              :keywords="restaurantinner.Meta_keywords"
              v-if="restaurantinner.Meta_image"
              :image="restaurantinner.Meta_image.path"
              v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :ogLocale="breadcrumb"
              :url="metaUrl"
          />  
        <div>
      <div v-if="restaurantinner.Cover" 
           class="cover-header" 
           :aria-label="restaurantinner.Cover.title"
           :style="{ 'background-image': 'url('+ uploadurl + restaurantinner.Cover.path + ')' }">
        <!-- <app-header :lang = "language"></app-header> -->
      </div>
      <b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex flex-wrap">
          <i class="fas fa-home padding-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
        </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
            <h6 itemprop="name" class="uppercase">{{lokalize.restaurant_breadcrumb}}</h6>
          </router-link>
        </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name" class="uppercase" v-for="(item,index) in restaurants.Panel_chef" :key="index" v-show="item.value.Title">{{item.value.Title}}</h6>
        </span>
        </div>
      </b-container>
      <b-container class="padding-top-50 ">
        <b-row class="pb-3 pb-md-5 mb-0 mb-md-5" v-for="(item1,index) in restaurants.Panel_chef" :key="index+2">
          <b-col xl="5" class="padding-left-none pr-0 pr-sm-3">
            <b-img v-if="item1.value.Picture_inner" 
                   class="image-chef-inner image-chef-inner-mobile"
                   style="object-fit: cover;"
                   :src="uploadurl + item1.value.Picture_inner.path" 
                   :alt="item1.value.Picture_inner.title"
                   fluid>
            </b-img>
          </b-col>
          <b-col xl="7" class="padding-pannel-chef-inner" v-if="item1.value.Title && item1.value.Subtitle">
                <h2 class="subtitle-chef-inner">{{item1.value.Subtitle}}</h2>
                <h1 class="title">{{item1.value.Title}}</h1>
                <p class="text-chef-panel-inner" v-html="item1.value.Short_Description">{{item1.value.Short_Description}}</p>
            </b-col>
        </b-row>
        <b-row class="py-0 py-sm-3 py-lg-5 mb-0 mb-lg-4"></b-row>
        <b-row>
          <b-col xl="12" class=" text-center">
            <h2 class="subtitle-after-cover" v-if="lokalize.subtitlechef">{{lokalize.subtitlechef}}</h2>
            <h1 class="title" v-if="lokalize.titlechef">{{lokalize.titlechef}}</h1>
          </b-col>
        </b-row>
      </b-container>
        <b-row class="pb-3 pb-sm-5 pt-3 pt-sm-3 pt-md-5 mt-0 mt-sm-3 mt-md-5">
          <div class="container-fluid px-0">
          <div class="col-xl-12 no-padding-left-right" >
              <main-slider
                v-if="restaurantinner.Gallery && restaurantinner.Gallery.length > 0"
                ref="slick"
                :options="slickOptions"
                @afterChange="handleAfterChange"
                @beforeChange="handleBeforeChange"
                @breakpoint="handleBreakpoint"
                @destroy="handleDestroy"
                @edge="handleEdge"
                @init="handleInit"
                @reInit="handleReInit"
                @setPosition="handleSetPosition"
                @swipe="handleSwipe"
                @lazyLoaded="handleLazyLoaded"
                @lazyLoadError="handleLazeLoadError">
                <!-- <b-img v-for="(item2,index) in restaurantinner.Gallery" :key="index"
                        :src="cockpiturl + item2.value.Image.path" class="img-fluid" height="670" width="1000"/>
              </main-slider> -->
               <b-img v-for="(item2,index) in restaurantinner.Gallery" :key="index"
                        :src="cockpitUrl +'api/cockpit/image?token='+apiKey+'&src=' + cockpitUrl + item2.value.Image.path+'&h=669&w=1003&o=1&m=thumbnail&q=80'" class="img-fluid"/>
              </main-slider>
          </div>
          </div>
        </b-row>
      <b-container>
          <div class="pb-0 pb-sm-5 mb-0 mb-sm-5">
            <b-card no-body >
              <b-tabs class="tabs-restaurants col-sm-12 col-lg-12 col-md-12" pills card vertical>
                <b-tab class="px-0 px-sm-3" v-for="(item3,index) in restaurantinner.Panel_information" :active="index == 0 ? true : false" :key="index" :title="item3.value.Title"><b-card-text v-html="item3.value.Description" class="text-tabs-restaurant">{{item3.value.Description}}</b-card-text></b-tab>
              </b-tabs>
            </b-card>
          </div>
      </b-container>   
    </div>
  </div>
</template>


<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import HeaderMenu from './HeaderMenu.vue'
import Slick from 'vue-slick';
import '../../node_modules/slick-carousel/slick/slick.css';


export default {
  name: 'restaurantinner',
  components: {
      HelmetProvider, Helmet,
      'app-header': HeaderMenu,
      'main-slider': Slick 
  },
    data: function () {
      return {
        lokalize: [],
        restaurants:[],
        restaurantinner: [],
        uploadurl: uploadsUrl,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        cockpitUrl: cockpitUrl,
        apiKey: apiKey,
        breadcrumb: this.$route.params.lang,
        language: this.$route.params.lang,
        aliasfirst: this.$route.params.aliasfirst,
        imagesCarousel: '<slick ref="slick" :options="slickOptions" @afterChange="handleAfterChange" @beforeChange="handleBeforeChange" @breakpoint="handleBreakpoint" @destroy="handleDestroy" @edge="handleEdge" @init="handleInit" @reInit="handleReInit" @setPosition="handleSetPosition" @swipe="handleSwipe" @lazyLoaded="handleLazyLoaded" @lazyLoadError="handleLazeLoadError">',
        slickOptions: {
                centerMode: true,
        centerPadding: '60px 65px 60px 65px',
        slidesToShow: 3,
        arrows: true,
        // centerMode: true,
        adaptiveHeight: true,
        // variableWidth: true,
        respondTo: 'slider',
        nextArrow: '<button class="slick-next" aria-label="Next" type="button"><i class="fa fa-arrow-right"></i></button>',
        prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"><i class="fa fa-arrow-left"></i></button>',
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]

                      // Any other options that can be got from plugin documentation
                  },
          }
        },
  methods:{  
    next() {
            this.$refs.slick.next();
        },
 
        prev() {
            this.$refs.slick.prev();
        },
 
        reInit() {
            // Helpful if you have to deal with v-for to update dynamic lists
            this.$nextTick(() => {
                this.$refs.slick.reSlick();
            });
        },
 
        // Events listeners
        handleAfterChange(event, slick, currentSlide) {
        },
        handleBeforeChange(event, slick, currentSlide, nextSlide) {
        },
        handleBreakpoint(event, slick, breakpoint) {
        },
        handleDestroy(event, slick) {
        },
        handleEdge(event, slick, direction) {
        },
        handleInit(event, slick) {
        },
        handleReInit(event, slick) {
        },
        handleSetPosition(event, slick) {
        },
        handleSwipe(event, slick, direction) {
        },
        handleLazyLoaded(event, slick, image, imageSource) {
        },
        handleLazeLoadError(event, slick, image, imageSource) {
        },
  },
   mounted: function() {
    fetch( apiUrl + '/api/singletons/get/chef?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              filter: {Alias:this.$route.params.alias}
            })
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {
            var link = this.cockpiturl;
            for(var i=0; i < jsonData.Gallery.length; i++){
              this.imagesCarousel += '<a href="#"><img class="off"  src="'+ link + jsonData.Gallery[i].value.Image.path + '" style="width: 98%;"></a>';
              if (i == jsonData.Gallery.length - 1) {
                this.imagesCarousel += '</slick>';
              }
            }
            this.restaurantinner = jsonData

          }),
    fetch( apiUrl + '/api/singletons/get/restaurant?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.restaurants = jsonData

          }),
          fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
        
  created: function(){

        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];

      },

  
}
</script>