<template>
  <div id="restaurants">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
    <span v-for="(meta,index) in navigationtitles" :key="index+7">
        <vue-headful
                v-if="meta.Alias == alias"
                :title="meta.Meta_title"
                :description="meta.Meta_description"
                :keywords="meta.Meta_keywords"
                :image="meta.Meta_image.path"
                v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
                :ogLocale="breadcrumb"
                :url="metaUrl" 
            />
        <span v-else></span>
    </span>
    <div>
      <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex">
          <i class="fas fa-home padding-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
        </span> 
          <i class="fas fa-chevron-right padding-left-right-20"></i>
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
          <h6 itemprop="name" class="uppercase">{{lokalize.restaurant_breadcrumb}}</h6>
        </span>
        </div>
      </b-container>
      <b-container>
        <b-row class="pt-5 pb-0 pb-sm-4 my-0 my-sm-5">
          <b-col xl="12" lg="12" md="12" sm="12" class="text-center " v-if="restaurants.Title">
            <h2 class="subtitle-after-cover">{{restaurants.Title}}</h2>
          </b-col>
          <b-col xl="12" lg="12" md="12" sm="12" class="text-center " v-if="restaurants.Subtitle">
            <h1 class="title">{{restaurants.Subtitle}}</h1>
          </b-col>
        </b-row>
        <b-row class="padding-top-20 pb-5 mb-0 mb-md-5 ">
          <b-col xl="4" offset-xl="1" lg="12" md="12" sm="12" class=" text padding-bottom-30-mobile px-0 px-sm-3" v-if="restaurants.Text_left">
            <span>{{restaurants.Text_left}}</span>
          </b-col>
            <div class="col-xl-1 "></div>
              <div class="col-xl-1 border-left-div"></div>
          <b-col xl="4" lg="12" md="12" sm="12" class=" text px-0 px-sm-3" v-if="restaurants.Text_right">
              <span>{{restaurants.Text_right}}</span>
          </b-col>
        </b-row>
        <b-row class="">
          <div class="col-xl-12 no-padding-left-right">
            <b-carousel
                    id="carousel-10"
                    controls
                    indicators
                    class="image-crop-responsive"
                    background="#ababab"
                    img-width="1024"
                    img-height="200"
                    style="text-shadow: 1px 1px 2px #333;">
              <b-carousel-slide
                      id="yastrebets"
                      v-for="(item,index) in restaurants.Gallery"
                      :img-alt="item.meta.title" 
                      :key="index" v-show="item.path"
                      :img-src="cockpiturl + item.path">
              </b-carousel-slide>
            </b-carousel>
          </div>
        </b-row> 
        <b-row class="py-4 py-md-5 mb-0 mb-lg-5"></b-row>   
      </b-container>
      <b-container fluid>
        <b-row class="background-restaurant" v-for="(item2,index) in restaurants.Panel_chef" :key="index+1">
          <b-col xl="8" class="padding-left-none pr-0">
            <b-img v-if="item2.value.Picture" 
                  :alt="item2.value.Picture.title"
                  class="image-chef"
                  style="object-fit: cover;"
                  :src="uploadurl + item2.value.Picture.path" 
                  fluid>
            </b-img>
          </b-col>
          <b-col xl="4" class="px-3 px-sm-5 pb-5 pt-4 pt-sm-5" v-if="item2.value.Title && item2.value.Subtitle">
                <h2 class="subtitle-chef-panel">{{item2.value.Subtitle}}</h2>
                <h1 class="title text-white">{{item2.value.Title}}</h1>
                <p class="text-chef-panel" v-html="item2.value.Short_Description">{{item2.value.Short_Description}}</p>
                <div  v-for="(nav,index) in navigationtitles" :key="index+10">
                  <router-link v-if="nav.Module_name == 'restaurant' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/'  + item2.value.Alias" class="view-more-button-white" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                  <router-link v-else-if="nav.Module_name == 'restaurant'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/'  + item2.value.Alias" class="view-more-button-white" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                </div>
                    <b-img v-if="item2.value.Signature" 
                           class="image-signature mb-3 mr-3 mr-sm-5"
                           :src="uploadurl + item2.value.Signature.path" 
                           :alt="item2.value.Signature.title"
                           height="60px"
                       
                         >
                    </b-img>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="padding-top-100 mt-0 mt-sm-5 padding-bottom-90">
        <div v-for="(item3,index) in restaurants.Panel_other" :key="index+2">
          <b-col xl="12" lg="12" md="12" sm="12" class="row accommodation-image-line accommodation-image-line-mobile px-0 px-sm-3" v-if="index % 2==0">
            <b-col xl="6" lg="12" md="12" sm="12" class="px-0" >
              <b-img v-if="item3.value.Picture" 
                      class="image-other-panel image-crop-responsive"
                      :src="apiUrl +'/api/cockpit/image?token='+apiKey+'&src=' + uploadurl + item3.value.Picture.path+'&h=590&w=885&o=1&m=thumbnail&q=80'"
                      :alt="item3.value.Picture.title"
                      fluid>
              </b-img>
            </b-col>
            <b-col xl="6" lg="12" md="12" sm="12" class="pt-5 pb-5 px-0 px-sm-5" 
                  v-if="item3.value.Title &&
                  item3.value.Short_Description">
                  <h1 class="title px-3 px-sm-0 text-center text-sm-left pb-4 mb-0 mb-sm-3">{{item3.value.Title}}</h1>
                  <span v-html="item3.value.Short_Description" class="text-other-panel">{{item3.value.Short_Description}}</span>
            </b-col>     
          </b-col>
          <b-col xl="12" lg="12" md="12" sm="12" class="row accommodation-image-line px-0 px-sm-3" v-else>
            <b-col id="second" xl="6" lg="12" md="12" sm="12" class="px-0 px-sm-3 py-3 py-sm-5 m-0 " 
                    v-if="item3.value.Title &&
                    item3.value.Short_Description">
                    <h1 class="title px-3 px-sm-0 text-center text-sm-left pb-4 mb-0 mb-sm-3">{{item3.value.Title}}</h1>
                    <span v-html="item3.value.Short_Description" class="text-other-panel">{{item3.value.Short_Description}}</span>
            </b-col>     
            <b-col id="first" xl="6" lg="12" md="12" sm="12" class="padding-left-none mb-2 mb-sm-0 px-0" >
              <b-img v-if="item3.value.Picture" 
                      class="image-other-panel image-crop-responsive"
                      :src="apiUrl +'/api/cockpit/image?token='+apiKey+'&src=' + uploadurl + item3.value.Picture.path+'&h=590&w=885&o=1&m=thumbnail&q=80'" 
                      :alt="item3.value.Picture.title"
                      fluid>
              </b-img>
            </b-col>
          </b-col>
        </div>
      </b-container>      
    </div>
  </div>
</template>


<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  props: ['lang'],
  name: 'restaurants',
  components: {
    HelmetProvider, Helmet,
  },
    data: function () {
      return {
        restaurants: [],
        navigationtitles: [],
        lokalize: [],
        apiUrl:apiUrl,
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        apiKey: apiKey,
        breadcrumb: this.$route.params.lang,
        alias: this.$route.params.alias,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        navModule: '',
    }
  },
  methods:{  
  },
  mounted: function() {
     fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.navigationtitles = jsonData.entries
            jsonData.entries.map((item) => {
              if (item.Alias == this.$route.params.alias) {
              
                this.navModule = item.Module_name
                
              fetch( apiUrl + '/api/singletons/get/'+this.navModule+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                  method: 'get'
                })
                .then((response) => {
                  return response.json()
                })
                .then((jsonData) => {

                  this.restaurants = jsonData

                })
              }
            })
          }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
        
    created: function(){

        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
       

      },

}
</script>