<template>
	<div id='block-search-inner' style="display: none">
		<div id='tl-search-form-inner' class='tl-container'>
<!--			<noindex><a href='https://www.travelline.bg' rel='nofollow'>online booking system</a></noindex>-->
		</div>
	</div>
</template>

<script>
	export default {
		name: "SearchFormInner",
		mounted: function() {
			setTimeout(function () {
				if ((document.querySelector('#headers').offsetHeight !== 0) && (window.location.pathname.indexOf('booking') == -1)) {
					(function(w) {
						document.querySelector('#block-search-inner').removeAttribute('style');
						
						var lng = 'bg';
						
						if ((window.location.pathname.indexOf('/en/') !== -1) || (window.location.pathname.indexOf('/en') !== -1)) {
							lng = 'en';
						}
						
						var q = [
							['setContext', 'TL-INT-yastrebets', lng],
							['embed', 'search-form', {
								container: 'tl-search-form-inner'
							}]
						];
						var t = w.travelline = (w.travelline || {}),
							ti = t.integration = (t.integration || {});
						ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;
						if (!ti.__loader) {
							ti.__loader = true;
							var d = w.document,
								p = d.location.protocol,
								s = d.createElement('script');
							s.type = 'text/javascript';
							s.async = true;
							s.src = (p == 'https:' ? p : 'http:') + '//bg-ibe.tlintegration.com/integration/loader.js';
							(d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(s);
						}
					})(window);
				}
			}, 1000)
		},
	};
</script>

<style scoped>
	#block-search-inner {
		position: relative;
		z-index: 999;
		background-color: #F4F4F4;
	}
	
	#tl-search-form-inner {
		width: 100%;
		max-width: 1110px;
		margin: 0 auto;
	}
</style>