<template>
	<div id='block-search-main'>
		<div id='tl-search-form-main' class='tl-container'>
<!--			<noindex><a href='https://www.travelline.bg' rel='nofollow'>online booking system</a></noindex>-->
		</div>
	</div>
</template>

<script>
	export default {
		name: "SearchForm",
		mounted: function() {
			(function(w) {
				var lng = 'bg';
				
				if ((window.location.pathname.indexOf('/en/') !== -1) || (window.location.pathname.indexOf('/en') !== -1)) {
					lng = 'en';
				}
				
				var q = [
					['setContext', 'TL-INT-yastrebets', lng],
					['embed', 'search-form', {
						container: 'tl-search-form-main'
					}]
				];
				var t = w.travelline = (w.travelline || {}),
					ti = t.integration = (t.integration || {});
				ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;
				if (!ti.__loader) {
					ti.__loader = true;
					var d = w.document,
						p = d.location.protocol,
						s = d.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = (p == 'https:' ? p : 'http:') + '//bg-ibe.tlintegration.com/integration/loader.js';
					(d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(s);
				}
			})(window);
		},
	};
</script>

<style scoped>
	#block-search-main {
		position: relative;
		/* top: -300px; */
		top: -20vh;
		z-index: 9;
	}
	
	#tl-search-form-main {
		width: 100%;
		max-width: 1110px;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.8)
	}
	
	@media screen and (max-width: 1200px) {
		#block-search-main {
			top: 0;
		}
		
		#tl-search-form-main {
			max-width: 100%;
		}
		
		#tl-search-form-main {
			background-color: #F4F4F4;
		}
	}
</style>