<template>
  <div id="spainner">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
    <div v-for="(cover,index) in spainner" :key="index">
       <vue-headful
            :title="cover.Meta_title"
            :description="cover.Meta_description"
            :keywords="cover.Meta_keywords"
            :image="cover.Meta_image.path"
            v-if="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
            :ogLocale="breadcrumb"
            :url="metaUrl"
        />
      <div v-if="cover.Image" class="cover-header" :aria-label="cover.Image.title" :style="{ 'background-image': 'url('+ uploadurl + cover.Image.path + ')' }">
        <!-- <app-header :lang = "language"></app-header> -->
          <h1 class="cover-title text-center">{{ cover.Title }}</h1>
      </div>
      <b-container class="padding-top-50" itemscope itemtype="https://schema.org/BreadcrumbList">
        <div class="icons-display-flex flex-wrap">
          <i class="fas fa-home padding-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
          </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
             <router-link  :to="{ name: 'firstlevel', params: { alias: aliasfirst  }}">
                <h6 itemprop="name" class="uppercase">{{lokalize.spa_breadcrumb}}</h6>
              </router-link>
          </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name" class="uppercase" v-if="cover.Title">{{cover.Title}}</h6>
          </span>
        </div>
      </b-container>
       <b-container class="pt-0 pt-sm-5">
        <br>
          <div class="col-xl-12 no-padding-left-right" >
            <b-carousel
                      id="carousel-10"
                      controls
                      indicators
                      background="#ababab"
                      img-width="1024"
                      img-height="400"
                      style="text-shadow: 1px 1px 2px #333;">
              <b-carousel-slide
                    v-for="(item1,index) in cover.Gallery" :key="index+1" v-show="item1.path"
                    :img-alt="item1.meta.title"
                    id="yastrebets"
                      :img-src="cockpiturl + item1.path">
              </b-carousel-slide>
            </b-carousel>
          </div>
          <b-row>  
            <b-col xl="12" class="padding-newsinner padding-bottom-50 px-0 px-sm-5"
                    v-if="cover.Full_description && cover.Title">
              <h1 class="title padding-bottom-20">{{cover.Title}}</h1>
              <span v-html="cover.Full_description" class="text-news">{{cover.Full_description}}</span>
            </b-col>
          </b-row> 
            <b-col xl="12" class="px-0 px-sm-3">
              <b-tabs align="center">
                  <b-col xl="12" class="margin-top-25 pl-xl-5 pl-0 padding-right-none">
                      <b-tab v-for="(item2,index) in cover.Procedure" :key="index+2" :title="item2.value.Title" :active="index == 0 ? true : false">
                    <b-row class="col-xl-12 text-align-left padding-left-none padding-right-none">
                        <div class="col-xl-6 pb-3 pb-sm-5 pl-0 pl-sm-3 pr-0" v-for="(item3,index) in item2.value.Procedure" :key="index+3">
                          <b-row class="col-xl-12 padding-right-none">
                            <h2  class="col-xl-9 padding-right-none title-spa pb-2 pb-sm-4 padding-left-none " v-if="item3.value.Title_procedure">{{item3.value.Title_procedure}}</h2>
                            <h2  class="col-xl-3 padding-left-none padding-right-none price-spa" style="text-align: right;" v-if="item3.value.Price">{{item3.value.Price}}</h2>
                          </b-row>
                            <span class="text-spa" v-html="item3.value.Text">{{item3.value.Text}}</span>
                        </div>
                    </b-row>
                      </b-tab>
                  </b-col>
              </b-tabs>
            </b-col> 
            <b-row class="padding-top-50 padding-bottom-90">
              <b-col class="text-center" v-for="(item4,index) in cover.Attachment" :key="index+4">
                <a v-if="item4.value" :href="uploadurl + item4.value.File.path" class="btn-room" target="_blank">{{item4.value.Button_text}}</a>
              </b-col>
            </b-row>
            <b-row>
              <b-col xl="12" class=" text-center pb-3 pb-sm-5">
                <h2 class="subtitle-after-cover" v-if="lokalize.more">{{lokalize.more}}</h2>
                <h1 class="title" v-if="lokalize.offers">{{lokalize.spa}}</h1>
              </b-col>
            </b-row>
            <b-row class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-left-right-mobile-0 px-0 px-sm-3">
              <b-col xl="4" lg="4" md="12" xs="12" class="  no-padding border-white mb-4 mb-sm-0" v-for="(item5,index) in randomNumber()" v-show="item5" :key="index+10">
                <div class="" v-for="(nav,index) in navigationtitles" :key="index+10" v-show="nav.Module_name == 'spa'">
                <router-link  v-if="nav.Module_name == 'spa' && item5 && lang" :to="'/' + lang  + '/'+ nav.Alias_slug + '/' + item5.Alias_slug">
                  <b-img  class="see-also-picture see-also-picture-mobile" 
                          v-if="item5.Image" 
                          :src="cockpiturl + 'api/cockpit/image?token=' +apiKey + '&src=' + cockpiturl +'/storage/uploads'+ item5.Image.path + '&w=340&h=350&o=1&m=thumbnail&q=80'" 
                          :alt="item5.Image.title"
                          fluid>
                  </b-img>
                  <div class="view-more-button">
                    <h1 class="see-also-title mt-4 margin-left-30 margin-bottom-30">{{item5.Title}}</h1>
                    <h4 class="margin-left-30 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                 </div>
                </router-link>
                <router-link  v-else-if="nav.Module_name == 'spa' && item5 " :to="'/' + $parent.lang  + '/'+ nav.Alias_slug + '/' + item5.Alias_slug">
                  <b-img  class="" 
                          v-if="item5.Image" 
                          :src="uploadurl + item5.Image.path" 
                          :alt="item5.Image.title"
                          fluid>
                  </b-img>
                  <div class="view-more-button">
                    <h1 class="see-also-title mt-4 margin-left-30 margin-bottom-30">{{item5.Title}}</h1>
                    <h4 class="margin-left-30 view-more">{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></h4>
                 </div>
                </router-link>
                </div>
              </b-col>
            </b-row>
            <b-row class="my-0 my-xl-5 py-3 py-sm-5"></b-row>
      </b-container>  
    </div>     
  </div>
</template>


<script>


import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";
import HeaderMenu from './HeaderMenu.vue'

export default {
  props: ['lang'],
  name: 'spainner',
  components: {
     HelmetProvider, Helmet,
    'app-header': HeaderMenu
  },
    data: function () {
      return {
        spainner: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        navigationtitles: [],
        randomoffer: [],
        lokalize: [],
        breadcrumb: this.$route.params.lang,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        language: this.$route.params.lang, 
        apiKey: apiKey,
        spaAlias: "",
        aliasfirst: this.$route.params.aliasfirst,
    }
  },
  
  methods:{  
      randomNumber : function(){
        var shuffled = this.randomoffer
          .filter(s => s.Alias_slug != this.spaAlias)
          .map(x => { return {data: x, srt: Math.random()}})
          .sort((a,b) => {return a.srt - b.srt})
          .map(x => x.data);
          var reti = [];
          reti.push(shuffled[0]);
          reti.push(shuffled[1]);
          reti.push(shuffled[2]);
          return reti;
      }  
  }, 
  mounted: function() {
    fetch( apiUrl + '/api/collections/get/spa?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              filter: {Alias_slug:this.$route.params.alias}
            })
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.spainner = jsonData.entries

          }),
     fetch( apiUrl + '/api/collections/get/spa?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.randomoffer = jsonData.entries

          }),
    fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.navigationtitles = jsonData.entries
            
          }),
     fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
        
  created: function(){

        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
        this.spaAlias = currentUrl.split("/").slice(-1)[0]

      },

  
  
}
</script>

