<template>
  <div id="spalist">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
    <span v-for="(meta,index) in navigationtitles" :key="index+7">
      <vue-headful
              v-if="meta.Alias == alias"
              :title="meta.Meta_title"
              :description="meta.Meta_description"
              :keywords="meta.Meta_keywords"
              :image="meta.Meta_image.path"
              v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :ogLocale="breadcrumb"
              :url="metaUrl" 
          />
      <span v-else></span>
    </span>
     <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
       <div class="icons-display-flex">
          <i class="fas fa-home padding-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name"  class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
          </span>
          <i class="fas fa-chevron-right padding-left-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
            <h6 itemprop="name"  class="uppercase">{{lokalize.spa_breadcrumb}}</h6>
          </span>
       </div>
    </b-container>
    <b-container class="pt-5 mt-0 mt-lg-5">
      <div v-for="(title,index) in navigationtitles" :key="index+7" >
        <b-col xl="8" offset-xl="2" class="pb-4 pb-sm-5 mb-0 mb-lg-5 text-center px-0 px-sm-3" v-if="title.Alias == alias">
          <h2 class="subtitle-after-cover">{{title.Subtitle_page}}</h2>
          <h1 class="title">{{title.Title_page}}</h1>
          <p class="pt-3" v-html="title.Descr_page">{{title.Descr_page}}</p>
        </b-col>
      </div>
        <br>
      <div v-for="(item,index) in spalist" :key="index">
        <b-col sm="12" lg="12" xl="12" md="12" class="offerlist-image-line padding-left-none-mobile accommodation-image-line-mobile margin-bottom-100 margin-bottom-40-mobile px-0" v-if="index % 2==0">
          <b-col xl="8" lg="12" sm="12" md="12" class="padding-right-none padding-left-mobile-none  img-hover-zoom" style="min-height: 437px;">
              <div v-for="(nav,index) in navigationtitles" :key="index+10">
              <router-link v-if="nav.Module_name == 'spa' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                <b-img class="offerlist-image image-crop-responsive zoom" v-if="item.Image"  
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                </b-img>
              </router-link>
              <router-link v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                <b-img class="offerlist-image image-crop-responsive zoom" v-if="item.Image"  
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                </b-img>
              </router-link>
              </div>
          </b-col>
          <b-col xl="4" lg="12" sm="12" md="12"  class="padding-top-20px-mobile-1201 padding-accommodation padding-accommodation-mobile" 
                 v-if="item.Title && 
                 item.Subtitle && 
                 item.Short_description">
                 <div v-for="(nav,index) in navigationtitles" :key="index+11">
                  <router-link  v-if="nav.Module_name == 'spa' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                  </router-link>
                  <router-link  v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                    <h1 class="title-accommodation">{{item.Title}}</h1>
                  </router-link>
                 </div>
              <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
              <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
            <b-col xl="12" class="padding-left-none margin-top-25 padding-bottom-20-mobile">
              <div v-for="(nav,index) in navigationtitles" :key="index+12">
                <router-link  v-if="nav.Module_name == 'spa'" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                <router-link v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
              </div>
            </b-col>
          </b-col>       
        </b-col>
        <b-col  xl="12" sm="12" lg="12" md="12" class=" row accommodation-image-line padding-bottom-100 padding-bottom-30-mobile px-0" v-else>
            <b-col id="second" xl="4" lg="12" sm="12" md="12"
                  class="padding-accommodation-right padding-top-20px-mobile-1201 padding-top-20px-mobile padding-left-none" 
                  v-if="item.Title && 
                  item.Subtitle && 
                  item.Short_description"> 
                  <div v-for="(nav,index) in navigationtitles" :key="index+13">
                    <router-link  v-if="nav.Module_name == 'spa' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                      <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                      <router-link v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                      <h1 class="title-accommodation">{{item.Title}}</h1>
                    </router-link>
                  </div>
                <h2 class="subtitte-accommodation">{{item.Subtitle}}</h2>
                <span v-html="item.Short_description" class="text-news">{{item.Short_description}}</span>
              <b-col xl="12" class="padding-left-none margin-top-25 padding-bottom-20-mobile">
                <div  v-for="(nav,index) in navigationtitles" :key="index+14">
                <router-link v-if="nav.Module_name == 'spa' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                 <router-link v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="btn-room" >{{lokalize.view_more_button}} <i class="fas fa-arrow-right"></i></router-link>
                </div>
              </b-col>
            </b-col>  
            <b-col id="first" xl="8" class="padding-right-none img-hover-zoom" style="min-height: 437px;" >
              <div v-for="(nav,index) in navigationtitles" :key="index+15" >
              <router-link  v-if="nav.Module_name == 'spa' && lang" :to="'/' + lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                <b-img v-if="item.Image" 
                        class="offerlist-image image-crop-responsive zoom"
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                </b-img>
              </router-link>
              <router-link v-else-if="nav.Module_name == 'spa'" :to="'/' + $parent.lang + '/'+ nav.Alias_slug + '/' + item.Alias_slug" class="link-offer">
                <b-img v-if="item.Image" 
                        class="offerlist-image image-crop-responsive zoom"
                        :src="uploadurl + item.Image.path" 
                        :alt="item.Image.title"
                        fluid>
                </b-img>
              </router-link>
              </div>
            </b-col>         
        </b-col>
      </div>        
    </b-container>      
  </div>
</template>


<script>
import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";

export default {
  props: ['lang'],
  name: 'spalist',
  components: {
    HelmetProvider, Helmet,
  },
    data: function () {
      return {
        spalist: [],
        lokalize: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        navigationtitles: [],
        alias: this.$route.params.alias,
        breadcrumb: this.$route.params.lang,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        navModule: '',
        
    }
  },
  methods:{  
  },
  mounted: function() {
    
     fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
              method: 'get'
            })
            .then((response) => {
              return response.json()
            })
            .then((jsonData) => {

              this.navigationtitles = jsonData.entries
              jsonData.entries.map((item) => {
                if (item.Alias == this.$route.params.alias) {
                
                  this.navModule = item.Module_name
                  
                  fetch( apiUrl + '/api/collections/get/'+this.navModule+'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                    method: 'get'
                  })
                  .then((response) => {
                    return response.json()
                  })
                  .then((jsonData) => {

                    this.spalist = jsonData.entries

                  })
                  }
              })

            }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.lokalize = jsonData

          })
        },
        
    created: function(){

        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
       

      },
  
}
</script>

