<template>
  <div id="about_inner_themplate">
    <helmet-provider>
        <div>
            <helmet>
                <link rel="alternate" hreflang="en" :href="mainUrl + '/en/' + endUrl " />
                <link rel="alternate" hreflang="bg" :href="mainUrl + '/bg/' + endUrl " />
            </helmet>
        </div>
    </helmet-provider>
    <span v-for="(meta,index) in navigationtitles" :key="index+7">
      <vue-headful
              v-if="meta.Alias == alias"
              :title="meta.Meta_title"
              :description="meta.Meta_description"
              :keywords="meta.Meta_keywords"
              :image="meta.Meta_image.path"
              v-show="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :lang="breadcrumb == 'en' ? 'en_us' : 'bg_bg'"
              :ogLocale="breadcrumb"
              :url="metaUrl" 
          />
      <span v-else></span>
    </span>
    <b-container class="padding-top-30" itemscope itemtype="https://schema.org/BreadcrumbList">
      <div class="icons-display-flex">
            <i class="fas fa-home padding-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
              <router-link  :to="{ name: 'mains', params: { lang: breadcrumb  }}"><h6 itemprop="name" class="breadcrumb-color-up">{{lokalize.home}}</h6></router-link>
          </span>
              <i class="fas fa-chevron-right padding-left-right-20"></i>
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
              <h6 itemprop="name" class="uppercase">{{about_inner_themplate.Title}}</h6>
          </span>
      </div>
    </b-container>
    <b-container class="px-0 px-sm-3">
      <b-row class="pt-4 pt-sm-5">
        <b-col xl="12" class="padding-right-none padding-right-mobile-15" >
          <b-carousel
                    id="carousel-10"
                    controls
                    indicators
                    background="#ababab"
                    img-width="1024"
                    img-height="400"
                    style="text-shadow: 1px 1px 2px #333;">
            <b-carousel-slide
                v-for="(image,index) in about_inner_themplate.Gallery" :key="index+1" v-show="image.path"
                :img-alt="image.meta.title"
                id="yastrebets"
                :img-src="cockpiturl + image.path">
            </b-carousel-slide>
          </b-carousel>
        </b-col>   
      </b-row>
      <b-row class="pt-4 pt-sm-5">
        <b-col xl="12">
          <h1 class="text-center">{{about_inner_themplate.Title}}</h1>
        </b-col>
      </b-row>
      <b-row class="pt-4 pt-sm-5">
        <b-col xl="12" v-html="about_inner_themplate.Description" class="button-margin">
          <div>{{about_inner_themplate.Description}}</div>
        </b-col>
      </b-row>
      <b-row class="padding-top-50 padding-bottom-90">
        <b-col xl="12" class="text-center" v-for="(item4,index) in about_inner_themplate.Attachment" :key="index">
          <a v-if="item4.value" target="_blank" :href="uploadurl + item4.value.File.path" class="btn-room" >{{item4.value.Button_text}}</a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>


<script>

import {uploadsUrl, cockpitUrl, apiUrl, apiKey, mainUrl} from '../config.js'
import { HelmetProvider, Helmet } from "@jnields/vue-helmet";


export default {
  name: 'about_inner_themplate',
  components: {
     HelmetProvider, Helmet,
  },
    data: function () {
      return {
        about_inner_themplate: [],
        lokalize: [],
        uploadurl: uploadsUrl,
        cockpiturl: cockpitUrl,
        breadcrumb: this.$route.params.lang,
        alias: this.$route.params.alias,
        metaUrl: '',
        endUrl:'',
        mainUrl: mainUrl,
        navigationtitles: [],
        navModule: '',

    }
  },
  

  methods:{  
  },
  mounted: function() {
    
     fetch( apiUrl + '/api/collections/get/navigation?token=' + apiKey + '&lang=' + this.$route.params.lang + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {

            this.navigationtitles = jsonData.entries
            jsonData.entries.map((item) => {
              if (item.Alias == this.$route.params.alias) {
              
                this.navModule = item.Module_name
                
              fetch( apiUrl + '/api/singletons/get/'+ this.navModule +'?token=' + apiKey + '&lang='+this.$route.params.lang+'', {
                method: 'get'
                })
                .then((response) => {
                  return response.json()
                })
                .then((jsonData) => {

                  this.about_inner_themplate = jsonData

                })
                }
            })

          }),
    fetch( apiUrl + '/api/lokalize/project/Yastrebets/'+this.$route.params.lang+'?token=' + apiKey + '', {
            method: 'get'
          })
          .then((response) => {
            return response.json()
          })
          .then((jsonData) => {
            this.lokalize = jsonData

          })

        },
  
    created: function(){

        var currentUrl = window.location.href;
        this.metaUrl = currentUrl;
        this.endUrl = currentUrl.split(this.breadcrumb + '/')[1];
       

      },
  
}
</script>

