<template>
  <div id="app" >
    <router-view name="header"></router-view>
      <main>
        <router-view :key="$route.fullPath"/>   
      </main>
    <router-view name="footer"></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  },
  
  data: function () {
      return {
        lang: 'bg',
    }
  },
}
</script>

<style>
  @import './assets/styles/style.css';
</style>
