

.VueCarousel-navigation-prev{
  /* position: absolute; */
    left: 5% !important;
    font-size: 60px;
    color:white !important;
}
.VueCarousel-navigation-prev:focus{
  outline: none !important;
}
.VueCarousel-navigation-next{
   /* position: absolute; */
    right: 5% !important;
    font-size: 60px;
    color:white !important;
}
.VueCarousel-navigation-next:focus {
  outline: none !important;
}
@media (max-width: 572px) {
  .VueCarousel-navigation-prev, .VueCarousel-navigation-next {
    display: none !important;
  }
}
.VueCarousel-dot-container button:focus{
  outline: none !important;
}

.text-carousel{
      position: relative;
    /* left: 39.5%; */
    top: 55%;
    color: white;
    text-align: center;
    z-index: 1;
}
.title-carousel{
    position: relative;
    /* left: 40%; */
    top: 47%;
    color: white;
    text-align: center;
    z-index: 1;
}

.title-modal{
  font-size: 24px;
  font-weight: 600;

}

.modal-header{
  border-bottom: none !important;
}

.modal.show .modal-dialog{
  top: 5%;
}
.modal-dialog {
    max-width: 800px !important;
}
.border-white{
  border: 10px solid white;
}
.padding-left-restaurant-15{
  padding-left:15px !important;
}

.read-more-home-text{
    color: #666666;
      font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.read-more-home-text:hover{
    color: #caac62;
     transition: all .3s ease;

}
.subtite-cover{
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0%;
    border: 0;
    margin: auto;
    color: #fff;
    top: 43%;
}


.hr-home{
      color: #caac62;
    width: 10%;
    float: left;
    border-top: 3px solid !important;
}


.ytplayer {
  pointer-events: none;
  position: absolute;
}

.slick-center img{
  -moz-transform: scale(1.58);
  -ms-transform: scale(1.58);
  -o-transform: scale(1.58);
  -webkit-transform: scale(1.58);
  transform: scale(1.58);
}

.slick-list{
  padding: 60px 0px !important;
}



.video-container {
  position: relative;
  /* padding-bottom: 56.25%;
  height: 0; 
  overflow: hidden;
  margin-top: -105px; */
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.min-height{
  min-height: 25%
}

.btn-home{
  display: inline-block; 
    color: #fff !important; 
    padding: 14px 20px 14px;
    min-width: 195px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}
a.btn-home{
  transition: all .3s ease;
  color: #fff; 
}
a.btn-home:hover{
  text-decoration: none;
  color: #fff !important; 
}
.btn-home:hover{
    background-color: #caac62;
    border-color: #caac62;
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.content:hover .content-details{
  top: 60%;
  left: 50%;
  opacity: 1;
}

.content-title{
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom{
  top: 80%;
}


.cover-header2{
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-position: center !important;
  
}
#carousel-1 {
  height: 100vh;
  min-height: 350px;
  background-size: cover;

}

#main {
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
}
h2,h3, h5, p, span, a , ul{
  font-family: 'Roboto', sans-serif; 
}
h2, h3, h5{
      letter-spacing: 3px;
}
h1, .nav-item{
  font-family: 'Playfair Display', serif;
}
#carousel-2 > .carousel-inner > .carousel-item > .carousel-caption {
    position:static !important;
    left: auto;
    right: auto;

}
.subtitle-after-cover{
      color: #caac62;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
}
.title-after-cover{
  color: black;
  font-size: 60px;
  font-weight: 700;

}
.activities-div{
  height: 400px;
}
.subtitle-cover{
  font-size: 25px;
  letter-spacing: 3px;
  color:white;
}
.accommodation-image-line{
  display: inline-flex;
  min-height: 390px;
}
.accommodation-amenities {
  line-height: normal;
  /* font-size: 0.875rem; */
}
.offerlist-image-line{
  display: inline-flex;
}
.display-inline-block{
  display: inline-block;
}
.offerlist-image{
   transition: all .4s ease;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.text-spa{
  text-align: justify;
}
.price-spa{
    font-size: 16px;
    padding-left: 0px;
    float: right;
    color: #caac62;
}
.title-spa{
  font-size: 16px;
  color: #caac62;
  /* min-height: 60px; */
}
.text-align-left{
  text-align: left !important;
}
.text-align-right{
  text-align: right !important;
}
.title-gallery{
  font-weight: 500;
  font-size: 24px;
}
.image-carousel-home{
  object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -105px;
}
.accommodation-image{
    object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    min-height: 390px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.accommodation-image-home{
    object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    min-height: 390px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gallery-image{
    object-fit: cover;
    transition: all .4s ease;
    /* width: 100%;
    height: 85%!important; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.videos-image{
  object-fit: none;
    transition: all .4s ease;
    width: 100%;
    /* height: 95%!important; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gallery-image-inside{
   object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.activities-image{
      transition: all .4s ease;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.activities-title{
    font-size:30px;
        transition: all .3s ease;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
}
.activities-read-more{
      color: #898989 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;

}
.small-title{
  font-size:30px;
  transition: all .3s ease;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}
.img-hover-zoom {
overflow: hidden; 
}
.zoom{
transition: transform .5s ease;
}
.padding-right-none:hover .zoom{
  transform: scale(1.2);
}

.accommodation-text-center {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
}

#SubscribeContacts .form-control-subscribe {
    padding-right: 28px !important;
}
#SubscribeContacts a {
    cursor: pointer;
}
#SubscribeContacts::before,#SubscribeContacts::after, #SubscribeContactsInner::before, #SubscribeContactsInner::after {
    position: absolute;
    font-size: 20px;
    color: rgb(185, 128, 54);
    content: "+";
    transform: rotate(45deg);
}
#SubscribeContacts::before{
    top: 8px;
}
#SubscribeContacts::after{
    bottom: 8px;
  }
#SubscribeContactsInner::before {
    top: 8px;
    right:12px;
}
#SubscribeContactsInner::after {
    bottom: 8px;
    right:12px;
}
#SubscribeContacts.border:hover {
  border: 1px solid #caac62 !important;
  transition: all .6s ease;
}
#SubscribeContacts input{
  box-shadow: none !important;
  border-bottom: 2px solid #caac62 !important;
  border-radius: 0;
  font-size: 20px;
}
#SubscribeContacts input, #SubscribeContacts input::placeholder{
  letter-spacing: 2px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .4s ease;
}
#SubscribeContacts input::placeholder{
  color: #caac62 !important;
  font-size: 17px;
}
#SubscribeContacts input:focus::-webkit-input-placeholder {
  color: #E8E8E8 !important;
}

.contact-us-jumbo{
    margin: auto;
    background-color: #fff !important;
    box-shadow: 0 10px 30px 0 rgba(1, 1, 1, .2);
    border: 1px solid #e8e8e8;
    z-index: 9;
    transition: all .4s ease;
    /* padding-left: 50px !important;
    padding-right: 50px !important; */
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}
@media (max-width: 572px) {
  .contact-us-jumbo{
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }
}
.p-jumbotron{
  font-size: 20px;
  font-weight: 500;
}
.p-jumbotron-telephone{
  font-size: 30px;
  font-weight: 700;
  color: #caac62;
}
.p-margin-none{
  margin-bottom: 0 !important;
}

.margin-none-left-right{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.offer-title-margin-left-20{
  margin-left: 20px;
}
.margin-left-none{
  margin-left: 0px !important;
}
.text-align-center{
  text-align: center;
}
.subtitte{
  letter-spacing: 3px;
  color: #caac62;
  font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}
.hotel-text-footer{
  color: white;
  font-weight: 700;
  font-size: 25px;


}
.text-form{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

#textarea:focus,
input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #caac62;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #caac62;
  outline: 0 none;
}

.icons-display-flex{
  display: inline-flex;
}
.offertab.active {
    border: 2px solid white;
}
.offertab .simple-svg-wrapper .simple-svg {
    height: 45px;
}
.simple-svg-wrapper {
    fill:white;
    padding-bottom: 10px;
}
.svg_size_packages_active{
  /* width: 130px; */
  margin: 0 auto;
  font-size: 30px;
  fill: white;
}
.svg_size_packages{
  width: 90px;
  margin: 0 auto;
  fill: white;
}
.packages{
  color: white;
}
.svg-size-accommodationinner{
  height: 60px;
}
.accommodation-icons-padding{
  margin-left: 15px;
  margin-right: 15px;
}
.nav-tabs .nav-link {
    border: 0px !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0 !important;
}
.nav-tabs {
    border-bottom: 0px !important;
}

.icons-text{
  font-size: 14px;
  margin-left: 15px;
  font-weight: 400;
}
.tabs-restaurants{
    background-color: white !important;
    padding: 15px 0!important;
    font-size: 1.25rem!important;
    font-family: "Playfair Display", serif;
    text-transform: none!important;
    font-weight: 700;
}
.tabs-restaurants .nav-pills {
  border-right: 1px solid #e8e8e8;
  padding-top: 0px;
  padding-bottom: 0px;
}
.tabs-restaurants .nav-link {
  font-family: "Playfair Display", serif;
  padding: 1rem 0.5rem 1rem 0;
  border-bottom: 1px solid #e8e8e8;
}
.tabs-restaurants, .col-auto, .card-header{
  background-color: white !important;
}
.tabs-restaurants, .col-auto, .nav-pills, .nav-item, a{
  color: black !important;
      transition: all .3s ease;
}
.tabs-restaurants, .col-auto, .nav-pills, .nav-item, a:hover{
  color: #caac62 !important;

}
.tabs-restaurants, .col-auto, .nav-pills, .nav-item, a:active{
  color: #caac62 !important;
}
.text-tabs-restaurant{
  font-size: 18px;
  color: black !important;
  text-align: justify;
  font-weight: 400;

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #caac62 !important;
  background-color: white !important;
  border-bottom: 1px solid;
  border-radius: 0px;
}

.card{
      border: 0px !important;
}
.icons-border-top{
    border-top: 1px solid #e8e8e8;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(232, 232, 232);
    padding: 10px 0 10px;
    margin: 25px 0 10px;
}
.icons-border-bottom{
    border-bottom: 1px solid #e8e8e8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(232, 232, 232);
    padding: 0 0 10px;
}
.svg-size-accommodation{
  width: 40px;
  height: 40px;
}
.cover-title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
.carousel-caption{
  position: static !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.square{
    position: relative;
    border: 1px solid #e8e8e8;
    transition: all .4s ease;
}
.square:hover{
      border: 1px solid #caac62;
}
.padding-left-right-70{
  padding-left: 70px !important;
}
.subtitte-contactus{
  font-size: 16px;
  color: #caac62;
  text-transform: uppercase;
}
.subtitte-accommodation{
  font-size: 16px;
  padding-bottom: 20px;
  color: #caac62;
  text-transform: uppercase;
}
.text-news{
  font-size: 16px;
}
.text-home{
  font-size: 16px;
  color: #666666 !important;
  font-weight: 400;
}
.description-offers{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 768px) {
  .title{
    font-size: 3.00rem;
  }
}
@media (max-width: 572px) {
  .title{
    font-size: 2.20rem;
  }
}
.title {
  font-weight: 700;
}

.title-news{
  font-size: 30px;
  font-weight: 700;
}
.title-accommodation{
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 15px;
}
.offertab{
    background-color: rgba(0,0,0,0.0) !important;
    color:white !important;
    font-size: 1rem;
}
.display-block{
    display: block !important;
}
.tab-content{
    text-align:center;
}
a.offertab:hover, a.offertab:hover .simple-svg-wrapper { 
    color: #caac62 !important;
    fill:  #caac62 !important;
    text-decoration: none !important;
    transition: all .3s ease !important;
}
a.offertab.active:hover {
    border-color: #caac62 !important;
}
/* a.offertab_active{
    color: white;
} */
.tab-content_active{
  text-align:center;
}
a.offertab_active:hover { 
    color: #caac62 !important ;
    text-decoration: none !important;
    transition: all .3s ease !important;
}
.navbar-dark .navbar-nav .nav-link{
  color:black !important;
}
.title-offers {
    color: #1c1c1c;
    font-weight: 700;
    font-size:60px;
}
.subtitle-offers{
      color: #caac62;
      font-weight: 600;
      font-size: 16px;
}
a.link-offer{
  color: black;
  text-decoration: none;
  transition: all .3s ease;
}

a.link-offer:hover{
    color: #caac62;
    text-decoration: none;
}
.title-newsinner{
  font-size: 40px;
  font-weight: 700;
}
.title-small{
  font-size: 2.7rem;
  font-weight: 700;
}
.text{
      font-size: 1rem;
      color:#666666 ;
      text-align: justify;
}
.padding-news{
  padding: 60px !important;
}
.padding-newsinner{
  padding-top:30px !important;
}
.padding-accommodation{
  padding-left:50px !important;
}
.padding-accommodation-right{
  padding-right: 50px !important;
}
.navbar{
  padding: 30px 30px 30px 50px !important;
}
.navbar-sticky{
       padding: 30px 30px 30px 30px !important;
}
@media (max-width: 500px) {
  .menufixed .navbar{
    padding: 15px 0px 15px 0px !important;
  }
  .navbar{
    padding: 30px 30px 30px 30px !important;
  }
  .btn-booking{
    margin-left: 25% !important;
  }
}


.navbar_div ul , .navbar li{
  padding-left: 10px !important;
}
.navbar_div ul , .navbar li, .navbar a {
  text-decoration: none;
  color:black;
      transition: all .3s ease;
}

.nav-tabs .nav-link.active{
  color:#caac62 !important;
}
.tab-pane{
  width: 100% !important;
}
.nav-tabs .nav-link:hover {
    color: #caac62 ;
    text-decoration: none;
    transition: all .3s ease;
}
.nav-tabs .nav-link {
    color:black ;
    text-decoration: none;
    transition: all .3s ease;
      font-size: 20px;
  font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link{
  color:black;
}
a .hover:hover{
  text-decoration: none;
  padding-bottom: 10px;
  color:black;
  border-bottom: 1px solid #caac62;
}
.view-more{
  font-size: 12px;
  font-weight: 600;
}
a.view-more-button{
  color: #caac62 !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}
a:hover.view-more-button {
  color: #caac62 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}
a.view-more-button-white{
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}
a:hover.view-more-button-white {
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}
.btn-room{
  display: inline-block; 
    color: #fff !important; 
    padding: 14px 20px 14px;
    min-width: 195px;
    text-align: center;
    background-color: #caac62;
    border-color: #caac62;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}
a.btn-room{
  transition: all .3s ease;
  color: #fff; 
}
a.btn-room:hover{
  text-decoration: none;
  color: #fff !important; 
}
.btn-room:hover{
    background-color: #92652a;
    border-color: #8a5f28;
}
.border-left-div{
  border-left: 1px solid #caac62;
}
.btn-booking{
  display: inline-block; 
    color: #fff !important; 
    text-align: center;
    background-color: #caac62;
    border-color: #caac62;
        padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
a.btn-booking{
  transition: all .3s ease;
  color: #fff; 
}
a.btn-booking:hover{
  text-decoration: none;
  color: #fff; 
}
.btn-booking:hover{
    background-color: #92652a;
    border-color: #8a5f28;
}
.cover-packages{
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.subtitle-offers-inner{
    letter-spacing: 3px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.title-offers-inner {
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}
.subtitle-chef-panel{
  font-size: 16px;
  color: White;
  font-weight: 600;
  text-transform: uppercase; 
}
.title-chef-panel{
  font-size: 60px;
  color: white;
  font-weight: 700;
}
.title-chef-panel-inner{
  font-size: 60px;
  color: black;
  font-weight: 700;
  padding-bottom: 60px;
}
.text-chef-panel-inner{
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.text-chef-panel{
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.grey{
  color: #898989 !important;
}

.image-chef-inner{
  transition: all .4s ease;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (min-width: 1200px) {
  .image-chef{
      transition: all .4s ease;
      width: 100%;
      height: 100%!important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
  }
}
.image-signature{
      -webkit-transition: all .4s ease;
    transition: all .4s ease;
    right: 0;
    bottom: 0;
    position: absolute;
}
.padding-pannel-chef{
  padding: 40px 50px 31px 50px !important;
}
.padding-pannel-chef-inner{
  padding: 77px 100px !important;
}
@media (max-width: 572px) {
  .padding-pannel-chef-inner{
    padding: 40px 0px !important;
  }
}
.subtitle-chef-inner{
  color: #caac62;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.image-other-panel{
    transition: all .4s ease;
    width: 100%;
}
.title-other-panel{
  font-size:40px;
  color: black;
  font-weight: 700;
  text-align:center;
  padding-bottom: 35px;
}
.text-other-panel{
      text-align: justify;
    
    font-size:16px;
    font-weight: 400;
    color: black;
}
.padding-top-160{
  padding-top:160px;
}
.padding-top-120{
  padding-top:120px;
}
.padding-top-100{
  padding-top:100px;
}
.padding-top-70{
  padding-top: 70px;
}
.padding-bottom-120{
  padding-bottom: 120px;
}
.padding-top-10{
  padding-top:10px;
}
.padding-top-180{
  padding-top:180px;
}
.padding-top-90{
  padding-top:90px;
}
.padding-top-140{
  padding-top:140px;
}
.padding-left-none{
  padding-left: 0px !important
}
.padding-left-40{
  padding-left: 40px !important
}
.padding-left-100{
  padding-left: 100px !important
}
.padding-right-none{
  padding-right: 0px !important
}
.padding-top-20{
  padding-top:20px;
}
.padding-top-30{
  padding-top:30px;
}
.padding-top-40{
  padding-top: 40px;
}
.padding-bottom-30{
  padding-bottom: 30px
}
.padding-top-50{
  padding-top:50px;
}
.padding-top-80{
  padding-top:80px;
}
.padding-bottom-90{
  padding-bottom: 90px;
}
.padding-bottom-80{
  padding-bottom: 80px;
}
.padding-bottom-140{
  padding-bottom: 140px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
.padding-bottom-40{
  padding-bottom: 40px;
}
.padding-bottom-50{
  padding-bottom: 50px;
}
.padding-bottom-60{
  padding-bottom: 60px;
}
.padding-bottom-100{
  padding-bottom: 100px;
}
.margin-bottom-35{
  margin-bottom: 35px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.margin-bottom-40{
  margin-bottom: 40px;
}
.margin-bottom-200{
  margin-bottom: 200px;
}
.padding-left-right-100{
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.padding-left-right-110{
  padding-left: 110px !important;
  padding-right: 110px !important;
}
.padding-left-right-20{
  padding-left: 20px!important;
  padding-right: 20px !important;
}
.padding-left-20{
  padding-left: 20px;
}
.padding-left-50{
  padding-left: 50px;
}
.padding-left-63{
  padding-left: 63px;
}
.padding-right-20{
  padding-right: 20px;
}
.padding-left-30{
  padding-left: 30px !important;
}
.padding-left-10{
  padding-left:10px;
}
.padding-right-10{
  padding-right: 10px;
}
.no-padding-left-right{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-center-accommodation{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.padding-right-accommodation{
  padding-right: 10px !important;
  padding-left: 0px !important
}
.padding-left-accommodation{
  padding-left: 10px !important;
  padding-right: 0px !important;
}
.margin-top-25{
  margin-top: 25px;
}
.margin-top-60{
  margin-top: 60px;
}
.margin-top-120{
  margin-top: 120px;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-left-30{
  margin-left: 30px;
}
.margin-left-50{
  margin-left: 50px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.margin-bottom-60{
  margin-bottom: 60px;
}
.carousel-caption h3{
  font-size: 1.4rem;
  font-weight: 500
}
.background-restaurant{
  background-color: #caac62;
}
.footer-menu{
      color: #898989 !important;
    font-size: 14px;
    font-weight: 400;
}
a.footer-menu:hover{
        color: #caac62;
        transition: all .3s ease;
}
.see-also-title{
  font-size: 22px;
  font-weight: 700;

}
.see-also-picture{
    height: 100% !important;
    object-fit: cover;
}
.see-also-title:hover{
  color: #caac62;
        transition: all .3s ease;
}
.see-also-title{
  color:black;
        transition: all .3s ease;
}
.see-also-div{
  height: 300px;
}
.see-also-home{
  height: 350px;
}
.displaynone{
  display: none;
}
.displayblock{
  display: block;
}

.menuabsolute{
  position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.menufixed{
  background-color: #fff;
}

.btn-link{
  text-decoration: none !important;
  color:white !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.btn-link:hover{
  text-decoration: none !important;
  color:#caac62 !important;
  font-size: 16px;
  font-weight: 700;
}
.sticky{
  color: #caac62 !important;
}
.sticky:hover{
  color: #caac62 !important;
}

#carousel-2 > .carousel-inner > .carousel-item > .carousel-caption {
 color: black !important;
}

#footers {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
.padding-top-30{
  padding-top: 30px !important;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-bottom-150{
  padding-bottom: 150px;
}
.padding-right-15{
  padding-right: 15px;
}
.margin-left-10{
  margin-left:10px
}
.text-align-left{
  text-align:left;
}
.breadcrumb-color-up{
  text-transform: uppercase;
  color: #caac62
}
.uppercase{
  text-transform: uppercase;
}

#header {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.margin-left-5{
  margin-left: 5px;
}
.navbar-collapse{
  margin-left: 5%;
}
.margin-top-20{
  margin-top: 20px;
}
.no-padding{
  padding: 0px !important;
}
.btn-secondary{
  margin-left:10px;
}
.priceContainer{
  height: 1000px;
}
.navbar-dark.b-navbar-bgchange {
    background-color: #009D95;
}

.slick-next, .slick-prev {
    position: absolute; 
    top: 50%; 
    z-index: 9; 
    width: 48px; 
    height: 48px; 
    padding: 0;
    text-align: center;
    overflow: hidden;
    color: black;
    border: none;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.slick-next:hover, .slick-prev:hover {
    color: white;
    background-color: #caac62;
    transition: all .3s ease;
    
}
.slick-next:focus, .slick-prev:focus {
   border-color:transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset, 0 0 0 rgba(0, 0, 0, 0.0);
  outline: 0 none;

}
.slick-next{
  right: 20px;
  
}

.cover-header{
  background-size: cover;
   background-repeat: no-repeat;
   height: 450px;
    background-position: center center;
    position: relative;
}
.background-contact{
  background-size: cover;
   background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}
.iframe360 {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.iframe360 > iframe{
  min-height: 240px;
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.cover-title {
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    border: 0;
    margin: auto;
    color: #fff;
    top: 55%;
}
.navbar{
  background-color: rgba(255, 255, 255, 0.8);
}
.menufixed{
  background-color: #fff;

}
.fixed {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
.margin-right-10{
  margin-right: 10px;
}
.hover-svg{
  color:#fff; 
  transition: all .3s ease;
}
.hover-svg-black{
  color:#caac62; 
  transition: all .3s ease;
}
.hover-svg-black:hover{
  color: #caac62;
}
.hover-svg:hover{
  color: #caac62;
}
.svg-gold {
  filter: invert(76%) sepia(17%) saturate(1038%) hue-rotate(5deg) brightness(90%) contrast(83%);
}
.navbar-dark .navbar-toggler-icon  {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(202,172,98, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
@media screen and (min-width:111px) and (max-width:767px) {
    .padding-left-100 {
        /* padding-top: 15px; */
        padding-left: 15px !important;
    }
    .float-right-button{
      float: none !important;
    }
    .logo-mobile{
      height: 30px;
    }
     .padding-top-20px-mobile{
      padding-top: 20px;
    }
    .padding-top-20-mobile{
      padding-top: 20px;
    }
    .padding-left-mobile-10{
      padding-left: 0px;
    }
    .padding-right-mobile-10{
      padding-right: 0px;
    }
    .padding-right-mobile-15{
      padding-right: 15px;
    }
    .margin-bottom-mobile-20{
      margin-bottom: 20%;
    }
    
    .padding-bottom-30-mobile{
      padding-bottom: 30px;
    }
     .padding-bottom-20-mobile{
      padding-bottom: 20px;
    }
    .padding-right-mobile-15{
      padding-right: 15px !important;
    }
    .margin-left-right-mobile-0{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .margin-bottom-mobile-70{
      margin-bottom:70px;
    }
    .padding-left-right-15-mobile{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .accommodation-image-line-mobile{
      display:block;
      min-height: 390px;
    }
    .padding-news-mobile{
      padding: 0px !important;
    }
    .cover-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    }
    .subtite-cover{
      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
    .accommodation-image-mobile{

    object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    min-height: 440px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    }
    .image-chef-inner-mobile{
    transition: all .4s ease;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .row{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .padding-left-mobile-none{
      padding-left: 0px !important;
    }
    .padding-accommodation-mobile{
      padding-right: 0px !important;
      padding-left: 0px !important;
      padding-top: 20px;
    }
    .margin-top-20-mobile{
      margin-top:20px
    }
    .margin-bottom-40-mobile{
      margin-bottom:40px;
    }
    .icons-display-flex-mobile{
    display: block;
  }
    .icons-display-flex-mobile-offers{
      display: block;
    }
   .margin-bottom-80-mobile{
      margin-bottom:80px;
    }
    .margin-bottom-120-mobile{
      margin-bottom:120px;
    }
    .mobile-text-aling{
      text-align: unset !important;
    }
    .nav-item{
      text-align: center;
    }
    .navbar-collapse{
      margin-left: 0px !important;
    }
    .btn-booking-sticky {
    margin-left: 0px !important;
}
    .btn-booking{
      margin-left: 35%;
    }
    .video-container{
          margin-top: 0px !important;
    }
    .padding-left-63 {
    padding-left: 37px;
}
    .padding-news-mobile-777{
        padding-top: 20px !important;
    /* padding-left: 15px !important;
    padding-right: 15px !important; */

  }
  .desktop-language{
    display:none !important;
  }

}
@media screen and (min-width:768px) and (max-width:991px) {
  .icons-display-flex-mobile{
    display: block;
  }
  .float-right-button{
  float:right;
}
  .padding-bottom-30-mobile{
      padding-bottom: 30px;
    }
     .padding-bottom-20-mobile{
      padding-bottom: 20px;
    }
    .navbar-collapse{
      margin-left: 0px !important;
    }
     .nav-item{
      text-align: center;
    }
    .btn-booking{
      margin-left: 40%;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .padding-top-20px-mobile{
      padding-top: 20px;
    }

    .row{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .no-padding-left-right-mobile{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  
   .margin-bottom-120-mobile{
      margin-bottom:120px;
    }
    .margin-bottom-120-mobile{
      margin-bottom:120px;
    }
  .margin-left-right-mobile-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .see-also-picture-mobile{
    width: 100% !important;
  }
  .margin-left-right-mobile-0{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
.image-chef-inner-mobile{
    transition: all .4s ease;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}
   .margin-bottom-40-mobile{
      margin-bottom:40px;
    }
  .padding-accommodation-mobile{
      padding-left: 0px !important;
      padding-top: 20px;
    }
  .accommodation-image-mobile{

    object-fit: cover;
    transition: all .4s ease;
    width: 100%;
    min-height: 440px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    }
    .accommodation-image-line-mobile{
      display:block;
      min-height: 390px;
    }
    .margin-bottom-mobile-70{
      margin-bottom:70px;
    }

  .see-also-picture-mobile{
    width: 100% !important;
  }
  .desktop-language{
    display:none !important;
  }

  
}
@media screen and (min-width:992px) and (max-width:1200px) {
  .icons-display-flex-mobile{
    display: inline-flex;
  }
  .padding-bottom-30-mobile{
      padding-bottom: 30px;
    }
    .image-chef-inner-mobile{
    transition: all .4s ease;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    }
       .accommodation-news-line-mobile{
      display:block;
      min-height: 390px;
    }
    .btn-booking-mobile, .btn-booking-sticky {
      display:none;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .padding-left-none-mobile{
      display:block;
      padding-left: 0px !important;
    }
    .padding-accommodation {
    padding-left: 0px !important;
    }
    .padding-top-20px-mobile-1201{
      padding-top: 20px;
    }
       .row{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .accommodation-image-line {
      padding-left: 0px !important;
      padding-bottom: 60px;
    }
    .padding-news {
      padding: 0 0 0 40px !important;
    }
    
}
@media screen and (min-width:1201px) {
  .icons-display-flex-mobile{
    display: inline-flex;
  }
  .padding-left-none-mobile{
    padding-left: 0px !important;
  }
  .padding-mobile-left-offers-1201{
    padding-left: 15px !important;
  }
  .padding-news {
    padding: 60px !important;
  }
   .row{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    #newslist .accommodation-image-line {
      height: 450px;
    }
}

@media screen and (min-width:1600px) {
  .icons-display-flex-mobile{
    display: inline-flex;
  }
  .navbar-sticky {
    margin-left: 7%;
    margin-right: 7%;
}
}
@media screen and (min-width:1900px) {
  .icons-display-flex-mobile{
    display: inline-flex;
  }
  .navbar-sticky {
    margin-left: 10%;
    margin-right: 14%;
}
}
@media screen and (min-width:2100px) {
  .icons-display-flex-mobile{
    display: inline-flex;
  }
  .navbar-sticky {
    margin-left: 14%;
    margin-right: 17%;
}
}
@media screen and (min-width:992px) and (max-width:1301px) {
  .padding-left-23px-mobile{
   padding-left: 23px;
  }
  .no-margin-left-mobile{
    margin-left: 1px !important;
  }
 .logo-mobile{
   height: 23px;
 }
}
@media screen and (min-width:991px) {
  .mobile-language{
      display: none !important;
    }
    .float-right-button{
  float:right;
}
}

.activelanguage{
  color:#caac62 !important;
  border-bottom: 2px solid #fff !important;
}
.activelanguage:hover{
  color:#fff;
   border-bottom: 2px solid #caac62 !important;
}
/* .active{
  color: #caac62 !important;
} */
.image-crop-responsive{
    max-width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.object-fit{
  object-fit: cover;
}
#yastrebets img{
    height: 500px !important;
    object-fit: cover;
}
.min-height-437{
  min-height: 437px;
}

iframe:not([id*='tlFrame']) {
  background-color: white !important;
}

/*Navbar*/
@media screen and (max-width: 500px) {
  #mains {
    padding-top: 70px !important;
  }
  #menuStatic {
    display: none !important;
  }
  #menuSticky {
    display: flex !important;
    position: fixed !important;
    top: 0px;
    width: 100%;
    z-index: 10;
  }
  /* .menufixed .navbar-sticky {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  } */
}

/*Homepage*/
#TestimonialsHeading .carousel-control-prev-icon, #TestimonialsHeading .carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(85%) sepia(4%) saturate(5146%) hue-rotate(356deg) brightness(87%) contrast(78%);
}
#mains .VueCarousel-slide {
  position: relative;
}
#mains .VueCarousel-slide .hp-slide-img, #mains .hp-swiper-slider .hp-slide-img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}
@media (min-width: 1300px) {
  #mains .VueCarousel-pagination {
    bottom: 12% !important;
  }
}

/*News inner*/
#newsinner .see-also-picture {
  max-height: 350px;
}

/*Contacts*/
#wrapper .embed-responsive {
  margin-top: calc(650px - 2%);
  max-height: 720px;
}
#contactus .text-form legend {
  color: #caac62;
}
/* @media (max-width: 572px) {
  .title{
    font-size: 2.20rem;
  }
} */
/* @media (min-width: 576px) {
  #wrapper .embed-responsive {
    margin-top:110%;
  }
}
@media (min-width: 768px) {
  #wrapper .embed-responsive {
    margin-top:80%;
  }
}
@media (min-width: 992px) {
  #wrapper .embed-responsive {
    margin-top:50%;
  }
}
@media (min-width: 1200px) {
  #wrapper .embed-responsive {
    margin-top:32%;
  }
} */

/*Accommodation*/
.title-accommodationinner .tab-content .tab-pane.active {
  padding-top: 0px;
  padding-bottom: 25px;
}
@media screen and (min-width:576px) {
  .title-accommodationinner .tab-content .tab-pane.active {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width:768px){
  .title-accommodationinner .tab-content .tab-pane.active {
    padding-top: 25px;
    padding-bottom: 90px;
  }
}

/*gallery*/
@media (max-width: 572px) {
  #gallery .nav-link {
    padding: 0.5rem 0.5rem;
  }
  /* #gallery .tab-pane .image-container {

  } */
}


/*footer*/
#footers .background-contact::before{
  content: "";
  background-color: rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 100%;
  

}
#footerLogo{
  height: 100%;
  width: 100%;
}

/*misc*/
.line-height-normal {
  line-height: normal;
}
.text-gold {
  color: #caac62 !important;
}
.font-serif {
  font-family: 'Playfair Display', serif;
}
.lettter-spacing-normal {
  letter-spacing: normal;
}
.transition {
  transition: all .4s ease;
}

/*Popup*/
@media (max-width: 572px) {
  .modal-header {
    padding-bottom: 0px;
  }
  .modal-dialog.modal-md {
    margin: 0px;
  }
}

/* Room btns*/
a.btn-booking.-room {
    position: relative;
    top: -90px;
    left: 8.333333%;
}

@media screen and (max-width: 1199px) {
    a.btn-booking.-room {
        left: 0;
        margin-left: 0!important;
    }
}

@media screen and (max-width: 767px) {
    a.btn-booking.-room {
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 575px) {
    a.btn-booking.-room {
        top: -30px;
    }
}
