<template>
    <GoogleMapLoader
        :mapConfig="mapConfig"
        apiKey="AIzaSyAys_qwYnY4xRCUj83iv7OiCYl32xuqrEo"
    >
    <h1>KYP</h1>
        <template slot-scope="{ google, map }">
            <GoogleMapMarker
            v-for="marker in markers"
            :key="marker.id"
            :marker="marker"
            :google="google"
            :map="map"
            />
        </template>
    </GoogleMapLoader>
</template>

<script>
import GoogleMapLoader from "./GoogleMapLoader"
import GoogleMapMarker from "./GoogleMapMarker"

import {mapSettings} from "../../mapConstants/mapSettings"

export default {
    components: {
        GoogleMapLoader,
        GoogleMapMarker
    },
    data() {
        return {
            markers: [
                {
                    id: "a",
                    position: { lat: 42.2581688, lng: 23.581056 },
                }
            ]
        };
    },

    computed: {
        mapConfig() {
            return {
                ...mapSettings,
                center: this.mapCenter
            };
        },

        mapCenter() {
            return this.markers[0].position;
        }
    }
}
</script>